In [1]:
from sys import argv
import numpy as np
import pandas as pd
from numpy import *

In [2]:
#New run file for gain

In [3]:
index,gain = loadtxt('old_dbgains.dat',unpack=True, usecols=[0,1])

In [4]:
index_12,gain_12,intercept_12,chi_12,flag_12,flag1_12 = loadtxt('run_10000012_Calib_CFEB_Gains_DB.dat',unpack=True, usecols=[0,1,2,3,4,5])

In [5]:
len(index_12)

271584

In [6]:
a =[]
for i in index :
    a.append(i)

In [7]:
len(a)

273024

In [8]:
b = []
for j in index_12:
    b.append(j)

In [9]:
n = len(b)

In [10]:
missing_index =[]
for i in a :
    if i not in b :
        missing_index.append(i)

In [11]:
m = len(missing_index)
missing_index

[21601.0,
 21602.0,
 21603.0,
 21604.0,
 21605.0,
 21606.0,
 21607.0,
 21608.0,
 21609.0,
 21610.0,
 21611.0,
 21612.0,
 21613.0,
 21614.0,
 21615.0,
 21616.0,
 21617.0,
 21618.0,
 21619.0,
 21620.0,
 21621.0,
 21622.0,
 21623.0,
 21624.0,
 21625.0,
 21626.0,
 21627.0,
 21628.0,
 21629.0,
 21630.0,
 21631.0,
 21632.0,
 21633.0,
 21634.0,
 21635.0,
 21636.0,
 21637.0,
 21638.0,
 21639.0,
 21640.0,
 21641.0,
 21642.0,
 21643.0,
 21644.0,
 21645.0,
 21646.0,
 21647.0,
 21648.0,
 21649.0,
 21650.0,
 21651.0,
 21652.0,
 21653.0,
 21654.0,
 21655.0,
 21656.0,
 21657.0,
 21658.0,
 21659.0,
 21660.0,
 21661.0,
 21662.0,
 21663.0,
 21664.0,
 21665.0,
 21666.0,
 21667.0,
 21668.0,
 21669.0,
 21670.0,
 21671.0,
 21672.0,
 21673.0,
 21674.0,
 21675.0,
 21676.0,
 21677.0,
 21678.0,
 21679.0,
 21680.0,
 21681.0,
 21682.0,
 21683.0,
 21684.0,
 21685.0,
 21686.0,
 21687.0,
 21688.0,
 21689.0,
 21690.0,
 21691.0,
 21692.0,
 21693.0,
 21694.0,
 21695.0,
 21696.0,
 21697.0,
 21698.0,
 21699.0,
 21700.0,
 21701.0,
 21702.0,
 21703.0,
 21704.0,
 21705.0,
 21706.0,
 21707.0,
 21708.0,
 21709.0,
 21710.0,
 21711.0,
 21712.0,
 21713.0,
 21714.0,
 21715.0,
 21716.0,
 21717.0,
 21718.0,
 21719.0,
 21720.0,
 21721.0,
 21722.0,
 21723.0,
 21724.0,
 21725.0,
 21726.0,
 21727.0,
 21728.0,
 21729.0,
 21730.0,
 21731.0,
 21732.0,
 21733.0,
 21734.0,
 21735.0,
 21736.0,
 21737.0,
 21738.0,
 21739.0,
 21740.0,
 21741.0,
 21742.0,
 21743.0,
 21744.0,
 21745.0,
 21746.0,
 21747.0,
 21748.0,
 21749.0,
 21750.0,
 21751.0,
 21752.0,
 21753.0,
 21754.0,
 21755.0,
 21756.0,
 21757.0,
 21758.0,
 21759.0,
 21760.0,
 21761.0,
 21762.0,
 21763.0,
 21764.0,
 21765.0,
 21766.0,
 21767.0,
 21768.0,
 21769.0,
 21770.0,
 21771.0,
 21772.0,
 21773.0,
 21774.0,
 21775.0,
 21776.0,
 21777.0,
 21778.0,
 21779.0,
 21780.0,
 21781.0,
 21782.0,
 21783.0,
 21784.0,
 21785.0,
 21786.0,
 21787.0,
 21788.0,
 21789.0,
 21790.0,
 21791.0,
 21792.0,
 21793.0,
 21794.0,
 21795.0,
 21796.0,
 21797.0,
 21798.0,
 21799.0,
 21800.0,
 21801.0,
 21802.0,
 21803.0,
 21804.0,
 21805.0,
 21806.0,
 21807.0,
 21808.0,
 21809.0,
 21810.0,
 21811.0,
 21812.0,
 21813.0,
 21814.0,
 21815.0,
 21816.0,
 21817.0,
 21818.0,
 21819.0,
 21820.0,
 21821.0,
 21822.0,
 21823.0,
 21824.0,
 21825.0,
 21826.0,
 21827.0,
 21828.0,
 21829.0,
 21830.0,
 21831.0,
 21832.0,
 21833.0,
 21834.0,
 21835.0,
 21836.0,
 21837.0,
 21838.0,
 21839.0,
 21840.0,
 21841.0,
 21842.0,
 21843.0,
 21844.0,
 21845.0,
 21846.0,
 21847.0,
 21848.0,
 21849.0,
 21850.0,
 21851.0,
 21852.0,
 21853.0,
 21854.0,
 21855.0,
 21856.0,
 21857.0,
 21858.0,
 21859.0,
 21860.0,
 21861.0,
 21862.0,
 21863.0,
 21864.0,
 21865.0,
 21866.0,
 21867.0,
 21868.0,
 21869.0,
 21870.0,
 21871.0,
 21872.0,
 21873.0,
 21874.0,
 21875.0,
 21876.0,
 21877.0,
 21878.0,
 21879.0,
 21880.0,
 21881.0,
 21882.0,
 21883.0,
 21884.0,
 21885.0,
 21886.0,
 21887.0,
 21888.0,
 21889.0,
 21890.0,
 21891.0,
 21892.0,
 21893.0,
 21894.0,
 21895.0,
 21896.0,
 21897.0,
 21898.0,
 21899.0,
 21900.0,
 21901.0,
 21902.0,
 21903.0,
 21904.0,
 21905.0,
 21906.0,
 21907.0,
 21908.0,
 21909.0,
 21910.0,
 21911.0,
 21912.0,
 21913.0,
 21914.0,
 21915.0,
 21916.0,
 21917.0,
 21918.0,
 21919.0,
 21920.0,
 21921.0,
 21922.0,
 21923.0,
 21924.0,
 21925.0,
 21926.0,
 21927.0,
 21928.0,
 21929.0,
 21930.0,
 21931.0,
 21932.0,
 21933.0,
 21934.0,
 21935.0,
 21936.0,
 21937.0,
 21938.0,
 21939.0,
 21940.0,
 21941.0,
 21942.0,
 21943.0,
 21944.0,
 21945.0,
 21946.0,
 21947.0,
 21948.0,
 21949.0,
 21950.0,
 21951.0,
 21952.0,
 21953.0,
 21954.0,
 21955.0,
 21956.0,
 21957.0,
 21958.0,
 21959.0,
 21960.0,
 21961.0,
 21962.0,
 21963.0,
 21964.0,
 21965.0,
 21966.0,
 21967.0,
 21968.0,
 21969.0,
 21970.0,
 21971.0,
 21972.0,
 21973.0,
 21974.0,
 21975.0,
 21976.0,
 21977.0,
 21978.0,
 21979.0,
 21980.0,
 21981.0,
 21982.0,
 21983.0,
 21984.0,
 21985.0,
 21986.0,
 21987.0,
 21988.0,
 21989.0,
 21990.0,
 21991.0,
 21992.0,
 21993.0,
 21994.0,
 21995.0,
 21996.0,
 21997.0,
 21998.0,
 21999.0,
 22000.0,
 22001.0,
 22002.0,
 22003.0,
 22004.0,
 22005.0,
 22006.0,
 22007.0,
 22008.0,
 22009.0,
 22010.0,
 22011.0,
 22012.0,
 22013.0,
 22014.0,
 22015.0,
 22016.0,
 22017.0,
 22018.0,
 22019.0,
 22020.0,
 22021.0,
 22022.0,
 22023.0,
 22024.0,
 22025.0,
 22026.0,
 22027.0,
 22028.0,
 22029.0,
 22030.0,
 22031.0,
 22032.0,
 22033.0,
 22034.0,
 22035.0,
 22036.0,
 22037.0,
 22038.0,
 22039.0,
 22040.0,
 22041.0,
 22042.0,
 22043.0,
 22044.0,
 22045.0,
 22046.0,
 22047.0,
 22048.0,
 22049.0,
 22050.0,
 22051.0,
 22052.0,
 22053.0,
 22054.0,
 22055.0,
 22056.0,
 22057.0,
 22058.0,
 22059.0,
 22060.0,
 22061.0,
 22062.0,
 22063.0,
 22064.0,
 22065.0,
 22066.0,
 22067.0,
 22068.0,
 22069.0,
 22070.0,
 22071.0,
 22072.0,
 22073.0,
 22074.0,
 22075.0,
 22076.0,
 22077.0,
 22078.0,
 22079.0,
 22080.0,
 101185.0,
 101186.0,
 101187.0,
 101188.0,
 101189.0,
 101190.0,
 101191.0,
 101192.0,
 101193.0,
 101194.0,
 101195.0,
 101196.0,
 101197.0,
 101198.0,
 101199.0,
 101200.0,
 101201.0,
 101202.0,
 101203.0,
 101204.0,
 101205.0,
 101206.0,
 101207.0,
 101208.0,
 101209.0,
 101210.0,
 101211.0,
 101212.0,
 101213.0,
 101214.0,
 101215.0,
 101216.0,
 101217.0,
 101218.0,
 101219.0,
 101220.0,
 101221.0,
 101222.0,
 101223.0,
 101224.0,
 101225.0,
 101226.0,
 101227.0,
 101228.0,
 101229.0,
 101230.0,
 101231.0,
 101232.0,
 101233.0,
 101234.0,
 101235.0,
 101236.0,
 101237.0,
 101238.0,
 101239.0,
 101240.0,
 101241.0,
 101242.0,
 101243.0,
 101244.0,
 101245.0,
 101246.0,
 101247.0,
 101248.0,
 101249.0,
 101250.0,
 101251.0,
 101252.0,
 101253.0,
 101254.0,
 101255.0,
 101256.0,
 101257.0,
 101258.0,
 101259.0,
 101260.0,
 101261.0,
 101262.0,
 101263.0,
 101264.0,
 101265.0,
 101266.0,
 101267.0,
 101268.0,
 101269.0,
 101270.0,
 101271.0,
 101272.0,
 101273.0,
 101274.0,
 101275.0,
 101276.0,
 101277.0,
 101278.0,
 101279.0,
 101280.0,
 101281.0,
 101282.0,
 101283.0,
 101284.0,
 101285.0,
 101286.0,
 101287.0,
 101288.0,
 101289.0,
 101290.0,
 101291.0,
 101292.0,
 101293.0,
 101294.0,
 101295.0,
 101296.0,
 101297.0,
 101298.0,
 101299.0,
 101300.0,
 101301.0,
 101302.0,
 101303.0,
 101304.0,
 101305.0,
 101306.0,
 101307.0,
 101308.0,
 101309.0,
 101310.0,
 101311.0,
 101312.0,
 101313.0,
 101314.0,
 101315.0,
 101316.0,
 101317.0,
 101318.0,
 101319.0,
 101320.0,
 101321.0,
 101322.0,
 101323.0,
 101324.0,
 101325.0,
 101326.0,
 101327.0,
 101328.0,
 101329.0,
 101330.0,
 101331.0,
 101332.0,
 101333.0,
 101334.0,
 101335.0,
 101336.0,
 101337.0,
 101338.0,
 101339.0,
 101340.0,
 101341.0,
 101342.0,
 101343.0,
 101344.0,
 101345.0,
 101346.0,
 101347.0,
 101348.0,
 101349.0,
 101350.0,
 101351.0,
 101352.0,
 101353.0,
 101354.0,
 101355.0,
 101356.0,
 101357.0,
 101358.0,
 101359.0,
 101360.0,
 101361.0,
 101362.0,
 101363.0,
 101364.0,
 101365.0,
 101366.0,
 101367.0,
 101368.0,
 101369.0,
 101370.0,
 101371.0,
 101372.0,
 101373.0,
 101374.0,
 101375.0,
 101376.0,
 101377.0,
 101378.0,
 101379.0,
 101380.0,
 101381.0,
 101382.0,
 101383.0,
 101384.0,
 101385.0,
 101386.0,
 101387.0,
 101388.0,
 101389.0,
 101390.0,
 101391.0,
 101392.0,
 101393.0,
 101394.0,
 101395.0,
 101396.0,
 101397.0,
 101398.0,
 101399.0,
 101400.0,
 101401.0,
 101402.0,
 101403.0,
 101404.0,
 101405.0,
 101406.0,
 101407.0,
 101408.0,
 101409.0,
 101410.0,
 101411.0,
 101412.0,
 101413.0,
 101414.0,
 101415.0,
 101416.0,
 101417.0,
 101418.0,
 101419.0,
 101420.0,
 101421.0,
 101422.0,
 101423.0,
 101424.0,
 101425.0,
 101426.0,
 101427.0,
 101428.0,
 101429.0,
 101430.0,
 101431.0,
 101432.0,
 101433.0,
 101434.0,
 101435.0,
 101436.0,
 101437.0,
 101438.0,
 101439.0,
 101440.0,
 101441.0,
 101442.0,
 101443.0,
 101444.0,
 101445.0,
 101446.0,
 101447.0,
 101448.0,
 101449.0,
 101450.0,
 101451.0,
 101452.0,
 101453.0,
 101454.0,
 101455.0,
 101456.0,
 101457.0,
 101458.0,
 101459.0,
 101460.0,
 101461.0,
 101462.0,
 101463.0,
 101464.0,
 101465.0,
 101466.0,
 101467.0,
 101468.0,
 101469.0,
 101470.0,
 101471.0,
 101472.0,
 101473.0,
 101474.0,
 101475.0,
 101476.0,
 101477.0,
 101478.0,
 101479.0,
 101480.0,
 101481.0,
 101482.0,
 101483.0,
 101484.0,
 101485.0,
 101486.0,
 101487.0,
 101488.0,
 101489.0,
 101490.0,
 101491.0,
 101492.0,
 101493.0,
 101494.0,
 101495.0,
 101496.0,
 101497.0,
 101498.0,
 101499.0,
 101500.0,
 101501.0,
 101502.0,
 101503.0,
 101504.0,
 101505.0,
 101506.0,
 101507.0,
 101508.0,
 101509.0,
 101510.0,
 101511.0,
 101512.0,
 101513.0,
 101514.0,
 101515.0,
 101516.0,
 101517.0,
 101518.0,
 101519.0,
 101520.0,
 101521.0,
 101522.0,
 101523.0,
 101524.0,
 101525.0,
 101526.0,
 101527.0,
 101528.0,
 101529.0,
 101530.0,
 101531.0,
 101532.0,
 101533.0,
 101534.0,
 101535.0,
 101536.0,
 101537.0,
 101538.0,
 101539.0,
 101540.0,
 101541.0,
 101542.0,
 101543.0,
 101544.0,
 101545.0,
 101546.0,
 101547.0,
 101548.0,
 101549.0,
 101550.0,
 101551.0,
 101552.0,
 101553.0,
 101554.0,
 101555.0,
 101556.0,
 101557.0,
 101558.0,
 101559.0,
 101560.0,
 101561.0,
 101562.0,
 101563.0,
 101564.0,
 101565.0,
 101566.0,
 101567.0,
 101568.0,
 101569.0,
 101570.0,
 101571.0,
 101572.0,
 101573.0,
 101574.0,
 101575.0,
 101576.0,
 101577.0,
 101578.0,
 101579.0,
 101580.0,
 101581.0,
 101582.0,
 101583.0,
 101584.0,
 101585.0,
 101586.0,
 101587.0,
 101588.0,
 101589.0,
 101590.0,
 101591.0,
 101592.0,
 101593.0,
 101594.0,
 101595.0,
 101596.0,
 101597.0,
 101598.0,
 101599.0,
 101600.0,
 101601.0,
 101602.0,
 101603.0,
 101604.0,
 101605.0,
 101606.0,
 101607.0,
 101608.0,
 101609.0,
 101610.0,
 101611.0,
 101612.0,
 101613.0,
 101614.0,
 101615.0,
 101616.0,
 101617.0,
 101618.0,
 101619.0,
 101620.0,
 101621.0,
 101622.0,
 101623.0,
 101624.0,
 101625.0,
 101626.0,
 101627.0,
 101628.0,
 101629.0,
 101630.0,
 101631.0,
 101632.0,
 101633.0,
 101634.0,
 101635.0,
 101636.0,
 101637.0,
 101638.0,
 101639.0,
 101640.0,
 101641.0,
 101642.0,
 101643.0,
 101644.0,
 101645.0,
 101646.0,
 101647.0,
 101648.0,
 101649.0,
 101650.0,
 101651.0,
 101652.0,
 101653.0,
 101654.0,
 101655.0,
 101656.0,
 101657.0,
 101658.0,
 101659.0,
 101660.0,
 101661.0,
 101662.0,
 101663.0,
 101664.0,
 158689.0,
 158690.0,
 158691.0,
 158692.0,
 158693.0,
 158694.0,
 158695.0,
 158696.0,
 158697.0,
 158698.0,
 158699.0,
 158700.0,
 158701.0,
 158702.0,
 158703.0,
 158704.0,
 158705.0,
 158706.0,
 158707.0,
 158708.0,
 158709.0,
 158710.0,
 158711.0,
 158712.0,
 158713.0,
 158714.0,
 158715.0,
 158716.0,
 158717.0,
 158718.0,
 158719.0,
 158720.0,
 158721.0,
 158722.0,
 158723.0,
 158724.0,
 158725.0,
 158726.0,
 158727.0,
 158728.0,
 ...]

In [12]:
s = n+m
s

273024

In [13]:
M4_1_3 = []
for i in missing_index :
    if i>22080 and i<=101664 :
        M4_1_3.append(i)

In [14]:
M4_1_3

[101185.0,
 101186.0,
 101187.0,
 101188.0,
 101189.0,
 101190.0,
 101191.0,
 101192.0,
 101193.0,
 101194.0,
 101195.0,
 101196.0,
 101197.0,
 101198.0,
 101199.0,
 101200.0,
 101201.0,
 101202.0,
 101203.0,
 101204.0,
 101205.0,
 101206.0,
 101207.0,
 101208.0,
 101209.0,
 101210.0,
 101211.0,
 101212.0,
 101213.0,
 101214.0,
 101215.0,
 101216.0,
 101217.0,
 101218.0,
 101219.0,
 101220.0,
 101221.0,
 101222.0,
 101223.0,
 101224.0,
 101225.0,
 101226.0,
 101227.0,
 101228.0,
 101229.0,
 101230.0,
 101231.0,
 101232.0,
 101233.0,
 101234.0,
 101235.0,
 101236.0,
 101237.0,
 101238.0,
 101239.0,
 101240.0,
 101241.0,
 101242.0,
 101243.0,
 101244.0,
 101245.0,
 101246.0,
 101247.0,
 101248.0,
 101249.0,
 101250.0,
 101251.0,
 101252.0,
 101253.0,
 101254.0,
 101255.0,
 101256.0,
 101257.0,
 101258.0,
 101259.0,
 101260.0,
 101261.0,
 101262.0,
 101263.0,
 101264.0,
 101265.0,
 101266.0,
 101267.0,
 101268.0,
 101269.0,
 101270.0,
 101271.0,
 101272.0,
 101273.0,
 101274.0,
 101275.0,
 101276.0,
 101277.0,
 101278.0,
 101279.0,
 101280.0,
 101281.0,
 101282.0,
 101283.0,
 101284.0,
 101285.0,
 101286.0,
 101287.0,
 101288.0,
 101289.0,
 101290.0,
 101291.0,
 101292.0,
 101293.0,
 101294.0,
 101295.0,
 101296.0,
 101297.0,
 101298.0,
 101299.0,
 101300.0,
 101301.0,
 101302.0,
 101303.0,
 101304.0,
 101305.0,
 101306.0,
 101307.0,
 101308.0,
 101309.0,
 101310.0,
 101311.0,
 101312.0,
 101313.0,
 101314.0,
 101315.0,
 101316.0,
 101317.0,
 101318.0,
 101319.0,
 101320.0,
 101321.0,
 101322.0,
 101323.0,
 101324.0,
 101325.0,
 101326.0,
 101327.0,
 101328.0,
 101329.0,
 101330.0,
 101331.0,
 101332.0,
 101333.0,
 101334.0,
 101335.0,
 101336.0,
 101337.0,
 101338.0,
 101339.0,
 101340.0,
 101341.0,
 101342.0,
 101343.0,
 101344.0,
 101345.0,
 101346.0,
 101347.0,
 101348.0,
 101349.0,
 101350.0,
 101351.0,
 101352.0,
 101353.0,
 101354.0,
 101355.0,
 101356.0,
 101357.0,
 101358.0,
 101359.0,
 101360.0,
 101361.0,
 101362.0,
 101363.0,
 101364.0,
 101365.0,
 101366.0,
 101367.0,
 101368.0,
 101369.0,
 101370.0,
 101371.0,
 101372.0,
 101373.0,
 101374.0,
 101375.0,
 101376.0,
 101377.0,
 101378.0,
 101379.0,
 101380.0,
 101381.0,
 101382.0,
 101383.0,
 101384.0,
 101385.0,
 101386.0,
 101387.0,
 101388.0,
 101389.0,
 101390.0,
 101391.0,
 101392.0,
 101393.0,
 101394.0,
 101395.0,
 101396.0,
 101397.0,
 101398.0,
 101399.0,
 101400.0,
 101401.0,
 101402.0,
 101403.0,
 101404.0,
 101405.0,
 101406.0,
 101407.0,
 101408.0,
 101409.0,
 101410.0,
 101411.0,
 101412.0,
 101413.0,
 101414.0,
 101415.0,
 101416.0,
 101417.0,
 101418.0,
 101419.0,
 101420.0,
 101421.0,
 101422.0,
 101423.0,
 101424.0,
 101425.0,
 101426.0,
 101427.0,
 101428.0,
 101429.0,
 101430.0,
 101431.0,
 101432.0,
 101433.0,
 101434.0,
 101435.0,
 101436.0,
 101437.0,
 101438.0,
 101439.0,
 101440.0,
 101441.0,
 101442.0,
 101443.0,
 101444.0,
 101445.0,
 101446.0,
 101447.0,
 101448.0,
 101449.0,
 101450.0,
 101451.0,
 101452.0,
 101453.0,
 101454.0,
 101455.0,
 101456.0,
 101457.0,
 101458.0,
 101459.0,
 101460.0,
 101461.0,
 101462.0,
 101463.0,
 101464.0,
 101465.0,
 101466.0,
 101467.0,
 101468.0,
 101469.0,
 101470.0,
 101471.0,
 101472.0,
 101473.0,
 101474.0,
 101475.0,
 101476.0,
 101477.0,
 101478.0,
 101479.0,
 101480.0,
 101481.0,
 101482.0,
 101483.0,
 101484.0,
 101485.0,
 101486.0,
 101487.0,
 101488.0,
 101489.0,
 101490.0,
 101491.0,
 101492.0,
 101493.0,
 101494.0,
 101495.0,
 101496.0,
 101497.0,
 101498.0,
 101499.0,
 101500.0,
 101501.0,
 101502.0,
 101503.0,
 101504.0,
 101505.0,
 101506.0,
 101507.0,
 101508.0,
 101509.0,
 101510.0,
 101511.0,
 101512.0,
 101513.0,
 101514.0,
 101515.0,
 101516.0,
 101517.0,
 101518.0,
 101519.0,
 101520.0,
 101521.0,
 101522.0,
 101523.0,
 101524.0,
 101525.0,
 101526.0,
 101527.0,
 101528.0,
 101529.0,
 101530.0,
 101531.0,
 101532.0,
 101533.0,
 101534.0,
 101535.0,
 101536.0,
 101537.0,
 101538.0,
 101539.0,
 101540.0,
 101541.0,
 101542.0,
 101543.0,
 101544.0,
 101545.0,
 101546.0,
 101547.0,
 101548.0,
 101549.0,
 101550.0,
 101551.0,
 101552.0,
 101553.0,
 101554.0,
 101555.0,
 101556.0,
 101557.0,
 101558.0,
 101559.0,
 101560.0,
 101561.0,
 101562.0,
 101563.0,
 101564.0,
 101565.0,
 101566.0,
 101567.0,
 101568.0,
 101569.0,
 101570.0,
 101571.0,
 101572.0,
 101573.0,
 101574.0,
 101575.0,
 101576.0,
 101577.0,
 101578.0,
 101579.0,
 101580.0,
 101581.0,
 101582.0,
 101583.0,
 101584.0,
 101585.0,
 101586.0,
 101587.0,
 101588.0,
 101589.0,
 101590.0,
 101591.0,
 101592.0,
 101593.0,
 101594.0,
 101595.0,
 101596.0,
 101597.0,
 101598.0,
 101599.0,
 101600.0,
 101601.0,
 101602.0,
 101603.0,
 101604.0,
 101605.0,
 101606.0,
 101607.0,
 101608.0,
 101609.0,
 101610.0,
 101611.0,
 101612.0,
 101613.0,
 101614.0,
 101615.0,
 101616.0,
 101617.0,
 101618.0,
 101619.0,
 101620.0,
 101621.0,
 101622.0,
 101623.0,
 101624.0,
 101625.0,
 101626.0,
 101627.0,
 101628.0,
 101629.0,
 101630.0,
 101631.0,
 101632.0,
 101633.0,
 101634.0,
 101635.0,
 101636.0,
 101637.0,
 101638.0,
 101639.0,
 101640.0,
 101641.0,
 101642.0,
 101643.0,
 101644.0,
 101645.0,
 101646.0,
 101647.0,
 101648.0,
 101649.0,
 101650.0,
 101651.0,
 101652.0,
 101653.0,
 101654.0,
 101655.0,
 101656.0,
 101657.0,
 101658.0,
 101659.0,
 101660.0,
 101661.0,
 101662.0,
 101663.0,
 101664.0]

In [15]:
Mm2_1_4 = []
for i in missing_index :
    if i>101664 and i<=159168 :
        Mm2_1_4.append(i)

In [16]:
Mm2_1_4

[158689.0,
 158690.0,
 158691.0,
 158692.0,
 158693.0,
 158694.0,
 158695.0,
 158696.0,
 158697.0,
 158698.0,
 158699.0,
 158700.0,
 158701.0,
 158702.0,
 158703.0,
 158704.0,
 158705.0,
 158706.0,
 158707.0,
 158708.0,
 158709.0,
 158710.0,
 158711.0,
 158712.0,
 158713.0,
 158714.0,
 158715.0,
 158716.0,
 158717.0,
 158718.0,
 158719.0,
 158720.0,
 158721.0,
 158722.0,
 158723.0,
 158724.0,
 158725.0,
 158726.0,
 158727.0,
 158728.0,
 158729.0,
 158730.0,
 158731.0,
 158732.0,
 158733.0,
 158734.0,
 158735.0,
 158736.0,
 158737.0,
 158738.0,
 158739.0,
 158740.0,
 158741.0,
 158742.0,
 158743.0,
 158744.0,
 158745.0,
 158746.0,
 158747.0,
 158748.0,
 158749.0,
 158750.0,
 158751.0,
 158752.0,
 158753.0,
 158754.0,
 158755.0,
 158756.0,
 158757.0,
 158758.0,
 158759.0,
 158760.0,
 158761.0,
 158762.0,
 158763.0,
 158764.0,
 158765.0,
 158766.0,
 158767.0,
 158768.0,
 158769.0,
 158770.0,
 158771.0,
 158772.0,
 158773.0,
 158774.0,
 158775.0,
 158776.0,
 158777.0,
 158778.0,
 158779.0,
 158780.0,
 158781.0,
 158782.0,
 158783.0,
 158784.0,
 158785.0,
 158786.0,
 158787.0,
 158788.0,
 158789.0,
 158790.0,
 158791.0,
 158792.0,
 158793.0,
 158794.0,
 158795.0,
 158796.0,
 158797.0,
 158798.0,
 158799.0,
 158800.0,
 158801.0,
 158802.0,
 158803.0,
 158804.0,
 158805.0,
 158806.0,
 158807.0,
 158808.0,
 158809.0,
 158810.0,
 158811.0,
 158812.0,
 158813.0,
 158814.0,
 158815.0,
 158816.0,
 158817.0,
 158818.0,
 158819.0,
 158820.0,
 158821.0,
 158822.0,
 158823.0,
 158824.0,
 158825.0,
 158826.0,
 158827.0,
 158828.0,
 158829.0,
 158830.0,
 158831.0,
 158832.0,
 158833.0,
 158834.0,
 158835.0,
 158836.0,
 158837.0,
 158838.0,
 158839.0,
 158840.0,
 158841.0,
 158842.0,
 158843.0,
 158844.0,
 158845.0,
 158846.0,
 158847.0,
 158848.0,
 158849.0,
 158850.0,
 158851.0,
 158852.0,
 158853.0,
 158854.0,
 158855.0,
 158856.0,
 158857.0,
 158858.0,
 158859.0,
 158860.0,
 158861.0,
 158862.0,
 158863.0,
 158864.0,
 158865.0,
 158866.0,
 158867.0,
 158868.0,
 158869.0,
 158870.0,
 158871.0,
 158872.0,
 158873.0,
 158874.0,
 158875.0,
 158876.0,
 158877.0,
 158878.0,
 158879.0,
 158880.0,
 158881.0,
 158882.0,
 158883.0,
 158884.0,
 158885.0,
 158886.0,
 158887.0,
 158888.0,
 158889.0,
 158890.0,
 158891.0,
 158892.0,
 158893.0,
 158894.0,
 158895.0,
 158896.0,
 158897.0,
 158898.0,
 158899.0,
 158900.0,
 158901.0,
 158902.0,
 158903.0,
 158904.0,
 158905.0,
 158906.0,
 158907.0,
 158908.0,
 158909.0,
 158910.0,
 158911.0,
 158912.0,
 158913.0,
 158914.0,
 158915.0,
 158916.0,
 158917.0,
 158918.0,
 158919.0,
 158920.0,
 158921.0,
 158922.0,
 158923.0,
 158924.0,
 158925.0,
 158926.0,
 158927.0,
 158928.0,
 158929.0,
 158930.0,
 158931.0,
 158932.0,
 158933.0,
 158934.0,
 158935.0,
 158936.0,
 158937.0,
 158938.0,
 158939.0,
 158940.0,
 158941.0,
 158942.0,
 158943.0,
 158944.0,
 158945.0,
 158946.0,
 158947.0,
 158948.0,
 158949.0,
 158950.0,
 158951.0,
 158952.0,
 158953.0,
 158954.0,
 158955.0,
 158956.0,
 158957.0,
 158958.0,
 158959.0,
 158960.0,
 158961.0,
 158962.0,
 158963.0,
 158964.0,
 158965.0,
 158966.0,
 158967.0,
 158968.0,
 158969.0,
 158970.0,
 158971.0,
 158972.0,
 158973.0,
 158974.0,
 158975.0,
 158976.0,
 158977.0,
 158978.0,
 158979.0,
 158980.0,
 158981.0,
 158982.0,
 158983.0,
 158984.0,
 158985.0,
 158986.0,
 158987.0,
 158988.0,
 158989.0,
 158990.0,
 158991.0,
 158992.0,
 158993.0,
 158994.0,
 158995.0,
 158996.0,
 158997.0,
 158998.0,
 158999.0,
 159000.0,
 159001.0,
 159002.0,
 159003.0,
 159004.0,
 159005.0,
 159006.0,
 159007.0,
 159008.0,
 159009.0,
 159010.0,
 159011.0,
 159012.0,
 159013.0,
 159014.0,
 159015.0,
 159016.0,
 159017.0,
 159018.0,
 159019.0,
 159020.0,
 159021.0,
 159022.0,
 159023.0,
 159024.0,
 159025.0,
 159026.0,
 159027.0,
 159028.0,
 159029.0,
 159030.0,
 159031.0,
 159032.0,
 159033.0,
 159034.0,
 159035.0,
 159036.0,
 159037.0,
 159038.0,
 159039.0,
 159040.0,
 159041.0,
 159042.0,
 159043.0,
 159044.0,
 159045.0,
 159046.0,
 159047.0,
 159048.0,
 159049.0,
 159050.0,
 159051.0,
 159052.0,
 159053.0,
 159054.0,
 159055.0,
 159056.0,
 159057.0,
 159058.0,
 159059.0,
 159060.0,
 159061.0,
 159062.0,
 159063.0,
 159064.0,
 159065.0,
 159066.0,
 159067.0,
 159068.0,
 159069.0,
 159070.0,
 159071.0,
 159072.0,
 159073.0,
 159074.0,
 159075.0,
 159076.0,
 159077.0,
 159078.0,
 159079.0,
 159080.0,
 159081.0,
 159082.0,
 159083.0,
 159084.0,
 159085.0,
 159086.0,
 159087.0,
 159088.0,
 159089.0,
 159090.0,
 159091.0,
 159092.0,
 159093.0,
 159094.0,
 159095.0,
 159096.0,
 159097.0,
 159098.0,
 159099.0,
 159100.0,
 159101.0,
 159102.0,
 159103.0,
 159104.0,
 159105.0,
 159106.0,
 159107.0,
 159108.0,
 159109.0,
 159110.0,
 159111.0,
 159112.0,
 159113.0,
 159114.0,
 159115.0,
 159116.0,
 159117.0,
 159118.0,
 159119.0,
 159120.0,
 159121.0,
 159122.0,
 159123.0,
 159124.0,
 159125.0,
 159126.0,
 159127.0,
 159128.0,
 159129.0,
 159130.0,
 159131.0,
 159132.0,
 159133.0,
 159134.0,
 159135.0,
 159136.0,
 159137.0,
 159138.0,
 159139.0,
 159140.0,
 159141.0,
 159142.0,
 159143.0,
 159144.0,
 159145.0,
 159146.0,
 159147.0,
 159148.0,
 159149.0,
 159150.0,
 159151.0,
 159152.0,
 159153.0,
 159154.0,
 159155.0,
 159156.0,
 159157.0,
 159158.0,
 159159.0,
 159160.0,
 159161.0,
 159162.0,
 159163.0,
 159164.0,
 159165.0,
 159166.0,
 159167.0,
 159168.0]

In [17]:
M1_2_10 = []
for i in missing_index :
    if i<=22080 :
        M1_2_10.append(i)

In [18]:
M1_2_10

[21601.0,
 21602.0,
 21603.0,
 21604.0,
 21605.0,
 21606.0,
 21607.0,
 21608.0,
 21609.0,
 21610.0,
 21611.0,
 21612.0,
 21613.0,
 21614.0,
 21615.0,
 21616.0,
 21617.0,
 21618.0,
 21619.0,
 21620.0,
 21621.0,
 21622.0,
 21623.0,
 21624.0,
 21625.0,
 21626.0,
 21627.0,
 21628.0,
 21629.0,
 21630.0,
 21631.0,
 21632.0,
 21633.0,
 21634.0,
 21635.0,
 21636.0,
 21637.0,
 21638.0,
 21639.0,
 21640.0,
 21641.0,
 21642.0,
 21643.0,
 21644.0,
 21645.0,
 21646.0,
 21647.0,
 21648.0,
 21649.0,
 21650.0,
 21651.0,
 21652.0,
 21653.0,
 21654.0,
 21655.0,
 21656.0,
 21657.0,
 21658.0,
 21659.0,
 21660.0,
 21661.0,
 21662.0,
 21663.0,
 21664.0,
 21665.0,
 21666.0,
 21667.0,
 21668.0,
 21669.0,
 21670.0,
 21671.0,
 21672.0,
 21673.0,
 21674.0,
 21675.0,
 21676.0,
 21677.0,
 21678.0,
 21679.0,
 21680.0,
 21681.0,
 21682.0,
 21683.0,
 21684.0,
 21685.0,
 21686.0,
 21687.0,
 21688.0,
 21689.0,
 21690.0,
 21691.0,
 21692.0,
 21693.0,
 21694.0,
 21695.0,
 21696.0,
 21697.0,
 21698.0,
 21699.0,
 21700.0,
 21701.0,
 21702.0,
 21703.0,
 21704.0,
 21705.0,
 21706.0,
 21707.0,
 21708.0,
 21709.0,
 21710.0,
 21711.0,
 21712.0,
 21713.0,
 21714.0,
 21715.0,
 21716.0,
 21717.0,
 21718.0,
 21719.0,
 21720.0,
 21721.0,
 21722.0,
 21723.0,
 21724.0,
 21725.0,
 21726.0,
 21727.0,
 21728.0,
 21729.0,
 21730.0,
 21731.0,
 21732.0,
 21733.0,
 21734.0,
 21735.0,
 21736.0,
 21737.0,
 21738.0,
 21739.0,
 21740.0,
 21741.0,
 21742.0,
 21743.0,
 21744.0,
 21745.0,
 21746.0,
 21747.0,
 21748.0,
 21749.0,
 21750.0,
 21751.0,
 21752.0,
 21753.0,
 21754.0,
 21755.0,
 21756.0,
 21757.0,
 21758.0,
 21759.0,
 21760.0,
 21761.0,
 21762.0,
 21763.0,
 21764.0,
 21765.0,
 21766.0,
 21767.0,
 21768.0,
 21769.0,
 21770.0,
 21771.0,
 21772.0,
 21773.0,
 21774.0,
 21775.0,
 21776.0,
 21777.0,
 21778.0,
 21779.0,
 21780.0,
 21781.0,
 21782.0,
 21783.0,
 21784.0,
 21785.0,
 21786.0,
 21787.0,
 21788.0,
 21789.0,
 21790.0,
 21791.0,
 21792.0,
 21793.0,
 21794.0,
 21795.0,
 21796.0,
 21797.0,
 21798.0,
 21799.0,
 21800.0,
 21801.0,
 21802.0,
 21803.0,
 21804.0,
 21805.0,
 21806.0,
 21807.0,
 21808.0,
 21809.0,
 21810.0,
 21811.0,
 21812.0,
 21813.0,
 21814.0,
 21815.0,
 21816.0,
 21817.0,
 21818.0,
 21819.0,
 21820.0,
 21821.0,
 21822.0,
 21823.0,
 21824.0,
 21825.0,
 21826.0,
 21827.0,
 21828.0,
 21829.0,
 21830.0,
 21831.0,
 21832.0,
 21833.0,
 21834.0,
 21835.0,
 21836.0,
 21837.0,
 21838.0,
 21839.0,
 21840.0,
 21841.0,
 21842.0,
 21843.0,
 21844.0,
 21845.0,
 21846.0,
 21847.0,
 21848.0,
 21849.0,
 21850.0,
 21851.0,
 21852.0,
 21853.0,
 21854.0,
 21855.0,
 21856.0,
 21857.0,
 21858.0,
 21859.0,
 21860.0,
 21861.0,
 21862.0,
 21863.0,
 21864.0,
 21865.0,
 21866.0,
 21867.0,
 21868.0,
 21869.0,
 21870.0,
 21871.0,
 21872.0,
 21873.0,
 21874.0,
 21875.0,
 21876.0,
 21877.0,
 21878.0,
 21879.0,
 21880.0,
 21881.0,
 21882.0,
 21883.0,
 21884.0,
 21885.0,
 21886.0,
 21887.0,
 21888.0,
 21889.0,
 21890.0,
 21891.0,
 21892.0,
 21893.0,
 21894.0,
 21895.0,
 21896.0,
 21897.0,
 21898.0,
 21899.0,
 21900.0,
 21901.0,
 21902.0,
 21903.0,
 21904.0,
 21905.0,
 21906.0,
 21907.0,
 21908.0,
 21909.0,
 21910.0,
 21911.0,
 21912.0,
 21913.0,
 21914.0,
 21915.0,
 21916.0,
 21917.0,
 21918.0,
 21919.0,
 21920.0,
 21921.0,
 21922.0,
 21923.0,
 21924.0,
 21925.0,
 21926.0,
 21927.0,
 21928.0,
 21929.0,
 21930.0,
 21931.0,
 21932.0,
 21933.0,
 21934.0,
 21935.0,
 21936.0,
 21937.0,
 21938.0,
 21939.0,
 21940.0,
 21941.0,
 21942.0,
 21943.0,
 21944.0,
 21945.0,
 21946.0,
 21947.0,
 21948.0,
 21949.0,
 21950.0,
 21951.0,
 21952.0,
 21953.0,
 21954.0,
 21955.0,
 21956.0,
 21957.0,
 21958.0,
 21959.0,
 21960.0,
 21961.0,
 21962.0,
 21963.0,
 21964.0,
 21965.0,
 21966.0,
 21967.0,
 21968.0,
 21969.0,
 21970.0,
 21971.0,
 21972.0,
 21973.0,
 21974.0,
 21975.0,
 21976.0,
 21977.0,
 21978.0,
 21979.0,
 21980.0,
 21981.0,
 21982.0,
 21983.0,
 21984.0,
 21985.0,
 21986.0,
 21987.0,
 21988.0,
 21989.0,
 21990.0,
 21991.0,
 21992.0,
 21993.0,
 21994.0,
 21995.0,
 21996.0,
 21997.0,
 21998.0,
 21999.0,
 22000.0,
 22001.0,
 22002.0,
 22003.0,
 22004.0,
 22005.0,
 22006.0,
 22007.0,
 22008.0,
 22009.0,
 22010.0,
 22011.0,
 22012.0,
 22013.0,
 22014.0,
 22015.0,
 22016.0,
 22017.0,
 22018.0,
 22019.0,
 22020.0,
 22021.0,
 22022.0,
 22023.0,
 22024.0,
 22025.0,
 22026.0,
 22027.0,
 22028.0,
 22029.0,
 22030.0,
 22031.0,
 22032.0,
 22033.0,
 22034.0,
 22035.0,
 22036.0,
 22037.0,
 22038.0,
 22039.0,
 22040.0,
 22041.0,
 22042.0,
 22043.0,
 22044.0,
 22045.0,
 22046.0,
 22047.0,
 22048.0,
 22049.0,
 22050.0,
 22051.0,
 22052.0,
 22053.0,
 22054.0,
 22055.0,
 22056.0,
 22057.0,
 22058.0,
 22059.0,
 22060.0,
 22061.0,
 22062.0,
 22063.0,
 22064.0,
 22065.0,
 22066.0,
 22067.0,
 22068.0,
 22069.0,
 22070.0,
 22071.0,
 22072.0,
 22073.0,
 22074.0,
 22075.0,
 22076.0,
 22077.0,
 22078.0,
 22079.0,
 22080.0]

In [18]:
# generating array for missing index for ME+1/2/10
index = []
for i in range(21601,22081) :
    index.append(i)

In [19]:
# generating array for missing index for ME+4/1/3
index_1 = []
for i in range(101185,101665) :
    index_1.append(i)

In [20]:
# generating array for missing index for ME-2/1/4
index_2 = []
for i in range(158689,159169) :
    index_2.append(i)

In [19]:
dataframe = pd.read_csv('run_10000014_Calib_CFEB_Gains_DB.dat', sep=' ', header=None, names=['index','gain', 'int','rms', 'f1', 'f2'])

In [20]:
# average of gain vale for ME+1/2/10
ag = dataframe[dataframe['index']>17280]
bg = ag[ag['index']<17280]

In [33]:
cg = bg[bg['gain']>6]

In [35]:
avg_gain = sum(cg['gain'])/len(cg)
print(avg_gain)
avg_int = sum(cg['int'])/len(cg)
print(avg_int)
avg_rms = sum(cg['rms'])/len(cg)
print(avg_rms)

10.787871607924162
7.4908497780140975
0.9950170116067089

In [36]:
gain_1 =[]
int_1 = []
rms_1 = []
f1_1 = []
f2_1 = []
for i in M1_2_10 :
    gain_1.append(avg_gain)
    int_1.append(avg_int)
    rms_1.append(avg_rms)
    f1_1.append(0)
    f2_1.append(0)

In [39]:
dataset = zip(M1_2_10,gain_1,int_1,rms_1,f1_1,f2_1)

In [40]:
#index for ME+4/1/3
cg = dataframe[dataframe['index']>100224]
dg = cg[cg['index']<108865]

In [42]:
dg =dg[dg['gain']>0]

In [43]:
avg_gain_1 = sum(dg['gain'])/len(dg)
print(avg_gain_1)
avg_int_1 = sum(dg['int'])/len(dg)
print(avg_int_1)
avg_rms_1 = sum(dg['rms'])/len(dg)
print(avg_rms_1)

8.1700970318377
8.206564670368724
0.9902265661187619

In [44]:
gain_2 = []
int_2 = []
rms_2 = []
f1_2 = []
f2_2 = []
for i in M4_1_3 :
    gain_2.append(avg_gain_1)
    int_2.append(avg_int_1)
    rms_2.append(avg_rms_1)
    f1_2.append(0)
    f2_2.append(0)

In [45]:
dataset_1 = zip(M4_1_3,gain_2,int_2,rms_2,f1_2,f2_2)

In [46]:
#index for ME-2/1/4
eg = dataframe[dataframe['index']>157248]
fg = eg[eg['index']<165889]

In [48]:
fg= fg[fg['gain']>0]

In [49]:
avg_gain_2 = sum(fg['gain'])/len(fg)
print(avg_gain_2)
avg_int_2 = sum(fg['int'])/len(fg)
print(avg_int_2)
avg_rms_2 = sum(fg['rms'])/len(fg)
print(avg_rms_2)

7.753062767536918
4.245747612869199
1.0000000055379747

In [50]:
gain_3 = []
int_3 = []
rms_3 = []
f1_3 = []
f2_3 = []
for i in Mm2_1_4 :
    gain_3.append(avg_gain_2)
    int_3.append(avg_int_2)
    rms_3.append(avg_rms_2)
    f1_3.append(0)
    f2_3.append(0)

In [51]:
dataset_2 = zip(Mm2_1_4,gain_3,int_3,rms_3,f1_3,f2_3)

In [52]:
with open('MEp_1_2_10_gain.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [53]:
with open('MEp_4_1_3_gain.txt', 'a') as fp:
    for row in dataset_1 :
        fp.write(" ".join(map(str, row)) + "\n")

In [54]:
with open('MEm_2_1_4_gain.txt', 'a') as fp:
    for row in dataset_2 :
        fp.write(" ".join(map(str, row)) + "\n")

In [55]:
new_values = []
with open("run_10000014_Calib_CFEB_Gains_DB.dat", "r") as values_file:
    for line in values_file:
        value = line.strip() 
        new_values.append(value)

with open("MEp_1_2_10_gain.txt", "r") as values_file_1:
    for line in values_file_1:
        value_1 = line.strip() 
        new_values.append(value_1)

with open("MEp_4_1_3_gain.txt", "r") as values_file_2:
    for line in values_file_2:
        value_2 = line.strip() 
        new_values.append(value_2)

with open("MEm_2_1_4_gain.txt", "r") as values_file_3:
    for line in values_file_3:
        value_3 = line.strip() 
        new_values.append(value_3)


with open("New_Gain.dat", "a") as data_file:
    # Append the new values to the data file
    for value in new_values:
        data_file.write(value + "\n")

In [56]:
#New run file for pedestals

In [57]:
from sys import argv
import numpy as np
import pandas as pd
from numpy import *

In [58]:
index,ped,chi = loadtxt('old_dbpeds.dat',unpack=True, usecols=[0,1,2])

In [59]:
index_14,ped_14,chi_14,flag_14,flag1_14 = loadtxt('run_10000014_Calib_CFEB_SCAPed_DB.dat',unpack=True, usecols=[0,1,2,3,4])

In [60]:
a =[]
for i in index :
    a.append(i)

In [61]:
a

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 263.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 283.0,
 284.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 295.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 304.0,
 305.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 311.0,
 312.0,
 313.0,
 314.0,
 315.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 323.0,
 324.0,
 325.0,
 326.0,
 327.0,
 328.0,
 329.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 336.0,
 337.0,
 338.0,
 339.0,
 340.0,
 341.0,
 342.0,
 343.0,
 344.0,
 345.0,
 346.0,
 347.0,
 348.0,
 349.0,
 350.0,
 351.0,
 352.0,
 353.0,
 354.0,
 355.0,
 356.0,
 357.0,
 358.0,
 359.0,
 360.0,
 361.0,
 362.0,
 363.0,
 364.0,
 365.0,
 366.0,
 367.0,
 368.0,
 369.0,
 370.0,
 371.0,
 372.0,
 373.0,
 374.0,
 375.0,
 376.0,
 377.0,
 378.0,
 379.0,
 380.0,
 381.0,
 382.0,
 383.0,
 384.0,
 385.0,
 386.0,
 387.0,
 388.0,
 389.0,
 390.0,
 391.0,
 392.0,
 393.0,
 394.0,
 395.0,
 396.0,
 397.0,
 398.0,
 399.0,
 400.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 415.0,
 416.0,
 417.0,
 418.0,
 419.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 440.0,
 441.0,
 442.0,
 443.0,
 444.0,
 445.0,
 446.0,
 447.0,
 448.0,
 449.0,
 450.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 463.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 469.0,
 470.0,
 471.0,
 472.0,
 473.0,
 474.0,
 475.0,
 476.0,
 477.0,
 478.0,
 479.0,
 480.0,
 481.0,
 482.0,
 483.0,
 484.0,
 485.0,
 486.0,
 487.0,
 488.0,
 489.0,
 490.0,
 491.0,
 492.0,
 493.0,
 494.0,
 495.0,
 496.0,
 497.0,
 498.0,
 499.0,
 500.0,
 501.0,
 502.0,
 503.0,
 504.0,
 505.0,
 506.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 512.0,
 513.0,
 514.0,
 515.0,
 516.0,
 517.0,
 518.0,
 519.0,
 520.0,
 521.0,
 522.0,
 523.0,
 524.0,
 525.0,
 526.0,
 527.0,
 528.0,
 529.0,
 530.0,
 531.0,
 532.0,
 533.0,
 534.0,
 535.0,
 536.0,
 537.0,
 538.0,
 539.0,
 540.0,
 541.0,
 542.0,
 543.0,
 544.0,
 545.0,
 546.0,
 547.0,
 548.0,
 549.0,
 550.0,
 551.0,
 552.0,
 553.0,
 554.0,
 555.0,
 556.0,
 557.0,
 558.0,
 559.0,
 560.0,
 561.0,
 562.0,
 563.0,
 564.0,
 565.0,
 566.0,
 567.0,
 568.0,
 569.0,
 570.0,
 571.0,
 572.0,
 573.0,
 574.0,
 575.0,
 576.0,
 577.0,
 578.0,
 579.0,
 580.0,
 581.0,
 582.0,
 583.0,
 584.0,
 585.0,
 586.0,
 587.0,
 588.0,
 589.0,
 590.0,
 591.0,
 592.0,
 593.0,
 594.0,
 595.0,
 596.0,
 597.0,
 598.0,
 599.0,
 600.0,
 601.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 608.0,
 609.0,
 610.0,
 611.0,
 612.0,
 613.0,
 614.0,
 615.0,
 616.0,
 617.0,
 618.0,
 619.0,
 620.0,
 621.0,
 622.0,
 623.0,
 624.0,
 625.0,
 626.0,
 627.0,
 628.0,
 629.0,
 630.0,
 631.0,
 632.0,
 633.0,
 634.0,
 635.0,
 636.0,
 637.0,
 638.0,
 639.0,
 640.0,
 641.0,
 642.0,
 643.0,
 644.0,
 645.0,
 646.0,
 647.0,
 648.0,
 649.0,
 650.0,
 651.0,
 652.0,
 653.0,
 654.0,
 655.0,
 656.0,
 657.0,
 658.0,
 659.0,
 660.0,
 661.0,
 662.0,
 663.0,
 664.0,
 665.0,
 666.0,
 667.0,
 668.0,
 669.0,
 670.0,
 671.0,
 672.0,
 673.0,
 674.0,
 675.0,
 676.0,
 677.0,
 678.0,
 679.0,
 680.0,
 681.0,
 682.0,
 683.0,
 684.0,
 685.0,
 686.0,
 687.0,
 688.0,
 689.0,
 690.0,
 691.0,
 692.0,
 693.0,
 694.0,
 695.0,
 696.0,
 697.0,
 698.0,
 699.0,
 700.0,
 701.0,
 702.0,
 703.0,
 704.0,
 705.0,
 706.0,
 707.0,
 708.0,
 709.0,
 710.0,
 711.0,
 712.0,
 713.0,
 714.0,
 715.0,
 716.0,
 717.0,
 718.0,
 719.0,
 720.0,
 721.0,
 722.0,
 723.0,
 724.0,
 725.0,
 726.0,
 727.0,
 728.0,
 729.0,
 730.0,
 731.0,
 732.0,
 733.0,
 734.0,
 735.0,
 736.0,
 737.0,
 738.0,
 739.0,
 740.0,
 741.0,
 742.0,
 743.0,
 744.0,
 745.0,
 746.0,
 747.0,
 748.0,
 749.0,
 750.0,
 751.0,
 752.0,
 753.0,
 754.0,
 755.0,
 756.0,
 757.0,
 758.0,
 759.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 766.0,
 767.0,
 768.0,
 769.0,
 770.0,
 771.0,
 772.0,
 773.0,
 774.0,
 775.0,
 776.0,
 777.0,
 778.0,
 779.0,
 780.0,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 786.0,
 787.0,
 788.0,
 789.0,
 790.0,
 791.0,
 792.0,
 793.0,
 794.0,
 795.0,
 796.0,
 797.0,
 798.0,
 799.0,
 800.0,
 801.0,
 802.0,
 803.0,
 804.0,
 805.0,
 806.0,
 807.0,
 808.0,
 809.0,
 810.0,
 811.0,
 812.0,
 813.0,
 814.0,
 815.0,
 816.0,
 817.0,
 818.0,
 819.0,
 820.0,
 821.0,
 822.0,
 823.0,
 824.0,
 825.0,
 826.0,
 827.0,
 828.0,
 829.0,
 830.0,
 831.0,
 832.0,
 833.0,
 834.0,
 835.0,
 836.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 842.0,
 843.0,
 844.0,
 845.0,
 846.0,
 847.0,
 848.0,
 849.0,
 850.0,
 851.0,
 852.0,
 853.0,
 854.0,
 855.0,
 856.0,
 857.0,
 858.0,
 859.0,
 860.0,
 861.0,
 862.0,
 863.0,
 864.0,
 865.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 871.0,
 872.0,
 873.0,
 874.0,
 875.0,
 876.0,
 877.0,
 878.0,
 879.0,
 880.0,
 881.0,
 882.0,
 883.0,
 884.0,
 885.0,
 886.0,
 887.0,
 888.0,
 889.0,
 890.0,
 891.0,
 892.0,
 893.0,
 894.0,
 895.0,
 896.0,
 897.0,
 898.0,
 899.0,
 900.0,
 901.0,
 902.0,
 903.0,
 904.0,
 905.0,
 906.0,
 907.0,
 908.0,
 909.0,
 910.0,
 911.0,
 912.0,
 913.0,
 914.0,
 915.0,
 916.0,
 917.0,
 918.0,
 919.0,
 920.0,
 921.0,
 922.0,
 923.0,
 924.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 930.0,
 931.0,
 932.0,
 933.0,
 934.0,
 935.0,
 936.0,
 937.0,
 938.0,
 939.0,
 940.0,
 941.0,
 942.0,
 943.0,
 944.0,
 945.0,
 946.0,
 947.0,
 948.0,
 949.0,
 950.0,
 951.0,
 952.0,
 953.0,
 954.0,
 955.0,
 956.0,
 957.0,
 958.0,
 959.0,
 960.0,
 961.0,
 962.0,
 963.0,
 964.0,
 965.0,
 966.0,
 967.0,
 968.0,
 969.0,
 970.0,
 971.0,
 972.0,
 973.0,
 974.0,
 975.0,
 976.0,
 977.0,
 978.0,
 979.0,
 980.0,
 981.0,
 982.0,
 983.0,
 984.0,
 985.0,
 986.0,
 987.0,
 988.0,
 989.0,
 990.0,
 991.0,
 992.0,
 993.0,
 994.0,
 995.0,
 996.0,
 997.0,
 998.0,
 999.0,
 1000.0,
 ...]

In [62]:
len(a)

273026

In [63]:
b = []
for j in index_14:
    b.append(j)

In [64]:
b

[108865.0,
 108866.0,
 108867.0,
 108868.0,
 108869.0,
 108870.0,
 108871.0,
 108872.0,
 108873.0,
 108874.0,
 108875.0,
 108876.0,
 108877.0,
 108878.0,
 108879.0,
 108880.0,
 108881.0,
 108882.0,
 108883.0,
 108884.0,
 108885.0,
 108886.0,
 108887.0,
 108888.0,
 108889.0,
 108890.0,
 108891.0,
 108892.0,
 108893.0,
 108894.0,
 108895.0,
 108896.0,
 108897.0,
 108898.0,
 108899.0,
 108900.0,
 108901.0,
 108902.0,
 108903.0,
 108904.0,
 108905.0,
 108906.0,
 108907.0,
 108908.0,
 108909.0,
 108910.0,
 108911.0,
 108912.0,
 108913.0,
 108914.0,
 108915.0,
 108916.0,
 108917.0,
 108918.0,
 108919.0,
 108920.0,
 108921.0,
 108922.0,
 108923.0,
 108924.0,
 108925.0,
 108926.0,
 108927.0,
 108928.0,
 108929.0,
 108930.0,
 108931.0,
 108932.0,
 108933.0,
 108934.0,
 108935.0,
 108936.0,
 108937.0,
 108938.0,
 108939.0,
 108940.0,
 108941.0,
 108942.0,
 108943.0,
 108944.0,
 262657.0,
 262658.0,
 262659.0,
 262660.0,
 262661.0,
 262662.0,
 262663.0,
 262664.0,
 262665.0,
 262666.0,
 262667.0,
 262668.0,
 262669.0,
 262670.0,
 262671.0,
 262672.0,
 262673.0,
 262674.0,
 262675.0,
 262676.0,
 262677.0,
 262678.0,
 262679.0,
 262680.0,
 262681.0,
 262682.0,
 262683.0,
 262684.0,
 262685.0,
 262686.0,
 262687.0,
 262688.0,
 262689.0,
 262690.0,
 262691.0,
 262692.0,
 262693.0,
 262694.0,
 262695.0,
 262696.0,
 262697.0,
 262698.0,
 262699.0,
 262700.0,
 262701.0,
 262702.0,
 262703.0,
 262704.0,
 108945.0,
 108946.0,
 108947.0,
 108948.0,
 108949.0,
 108950.0,
 108951.0,
 108952.0,
 108953.0,
 108954.0,
 108955.0,
 108956.0,
 108957.0,
 108958.0,
 108959.0,
 108960.0,
 108961.0,
 108962.0,
 108963.0,
 108964.0,
 108965.0,
 108966.0,
 108967.0,
 108968.0,
 108969.0,
 108970.0,
 108971.0,
 108972.0,
 108973.0,
 108974.0,
 108975.0,
 108976.0,
 108977.0,
 108978.0,
 108979.0,
 108980.0,
 108981.0,
 108982.0,
 108983.0,
 108984.0,
 108985.0,
 108986.0,
 108987.0,
 108988.0,
 108989.0,
 108990.0,
 108991.0,
 108992.0,
 108993.0,
 108994.0,
 108995.0,
 108996.0,
 108997.0,
 108998.0,
 108999.0,
 109000.0,
 109001.0,
 109002.0,
 109003.0,
 109004.0,
 109005.0,
 109006.0,
 109007.0,
 109008.0,
 109009.0,
 109010.0,
 109011.0,
 109012.0,
 109013.0,
 109014.0,
 109015.0,
 109016.0,
 109017.0,
 109018.0,
 109019.0,
 109020.0,
 109021.0,
 109022.0,
 109023.0,
 109024.0,
 262705.0,
 262706.0,
 262707.0,
 262708.0,
 262709.0,
 262710.0,
 262711.0,
 262712.0,
 262713.0,
 262714.0,
 262715.0,
 262716.0,
 262717.0,
 262718.0,
 262719.0,
 262720.0,
 262721.0,
 262722.0,
 262723.0,
 262724.0,
 262725.0,
 262726.0,
 262727.0,
 262728.0,
 262729.0,
 262730.0,
 262731.0,
 262732.0,
 262733.0,
 262734.0,
 262735.0,
 262736.0,
 262737.0,
 262738.0,
 262739.0,
 262740.0,
 262741.0,
 262742.0,
 262743.0,
 262744.0,
 262745.0,
 262746.0,
 262747.0,
 262748.0,
 262749.0,
 262750.0,
 262751.0,
 262752.0,
 109025.0,
 109026.0,
 109027.0,
 109028.0,
 109029.0,
 109030.0,
 109031.0,
 109032.0,
 109033.0,
 109034.0,
 109035.0,
 109036.0,
 109037.0,
 109038.0,
 109039.0,
 109040.0,
 109041.0,
 109042.0,
 109043.0,
 109044.0,
 109045.0,
 109046.0,
 109047.0,
 109048.0,
 109049.0,
 109050.0,
 109051.0,
 109052.0,
 109053.0,
 109054.0,
 109055.0,
 109056.0,
 109057.0,
 109058.0,
 109059.0,
 109060.0,
 109061.0,
 109062.0,
 109063.0,
 109064.0,
 109065.0,
 109066.0,
 109067.0,
 109068.0,
 109069.0,
 109070.0,
 109071.0,
 109072.0,
 109073.0,
 109074.0,
 109075.0,
 109076.0,
 109077.0,
 109078.0,
 109079.0,
 109080.0,
 109081.0,
 109082.0,
 109083.0,
 109084.0,
 109085.0,
 109086.0,
 109087.0,
 109088.0,
 109089.0,
 109090.0,
 109091.0,
 109092.0,
 109093.0,
 109094.0,
 109095.0,
 109096.0,
 109097.0,
 109098.0,
 109099.0,
 109100.0,
 109101.0,
 109102.0,
 109103.0,
 109104.0,
 262753.0,
 262754.0,
 262755.0,
 262756.0,
 262757.0,
 262758.0,
 262759.0,
 262760.0,
 262761.0,
 262762.0,
 262763.0,
 262764.0,
 262765.0,
 262766.0,
 262767.0,
 262768.0,
 262769.0,
 262770.0,
 262771.0,
 262772.0,
 262773.0,
 262774.0,
 262775.0,
 262776.0,
 262777.0,
 262778.0,
 262779.0,
 262780.0,
 262781.0,
 262782.0,
 262783.0,
 262784.0,
 262785.0,
 262786.0,
 262787.0,
 262788.0,
 262789.0,
 262790.0,
 262791.0,
 262792.0,
 262793.0,
 262794.0,
 262795.0,
 262796.0,
 262797.0,
 262798.0,
 262799.0,
 262800.0,
 109105.0,
 109106.0,
 109107.0,
 109108.0,
 109109.0,
 109110.0,
 109111.0,
 109112.0,
 109113.0,
 109114.0,
 109115.0,
 109116.0,
 109117.0,
 109118.0,
 109119.0,
 109120.0,
 109121.0,
 109122.0,
 109123.0,
 109124.0,
 109125.0,
 109126.0,
 109127.0,
 109128.0,
 109129.0,
 109130.0,
 109131.0,
 109132.0,
 109133.0,
 109134.0,
 109135.0,
 109136.0,
 109137.0,
 109138.0,
 109139.0,
 109140.0,
 109141.0,
 109142.0,
 109143.0,
 109144.0,
 109145.0,
 109146.0,
 109147.0,
 109148.0,
 109149.0,
 109150.0,
 109151.0,
 109152.0,
 109153.0,
 109154.0,
 109155.0,
 109156.0,
 109157.0,
 109158.0,
 109159.0,
 109160.0,
 109161.0,
 109162.0,
 109163.0,
 109164.0,
 109165.0,
 109166.0,
 109167.0,
 109168.0,
 109169.0,
 109170.0,
 109171.0,
 109172.0,
 109173.0,
 109174.0,
 109175.0,
 109176.0,
 109177.0,
 109178.0,
 109179.0,
 109180.0,
 109181.0,
 109182.0,
 109183.0,
 109184.0,
 262801.0,
 262802.0,
 262803.0,
 262804.0,
 262805.0,
 262806.0,
 262807.0,
 262808.0,
 262809.0,
 262810.0,
 262811.0,
 262812.0,
 262813.0,
 262814.0,
 262815.0,
 262816.0,
 262817.0,
 262818.0,
 262819.0,
 262820.0,
 262821.0,
 262822.0,
 262823.0,
 262824.0,
 262825.0,
 262826.0,
 262827.0,
 262828.0,
 262829.0,
 262830.0,
 262831.0,
 262832.0,
 262833.0,
 262834.0,
 262835.0,
 262836.0,
 262837.0,
 262838.0,
 262839.0,
 262840.0,
 262841.0,
 262842.0,
 262843.0,
 262844.0,
 262845.0,
 262846.0,
 262847.0,
 262848.0,
 109185.0,
 109186.0,
 109187.0,
 109188.0,
 109189.0,
 109190.0,
 109191.0,
 109192.0,
 109193.0,
 109194.0,
 109195.0,
 109196.0,
 109197.0,
 109198.0,
 109199.0,
 109200.0,
 109201.0,
 109202.0,
 109203.0,
 109204.0,
 109205.0,
 109206.0,
 109207.0,
 109208.0,
 109209.0,
 109210.0,
 109211.0,
 109212.0,
 109213.0,
 109214.0,
 109215.0,
 109216.0,
 109217.0,
 109218.0,
 109219.0,
 109220.0,
 109221.0,
 109222.0,
 109223.0,
 109224.0,
 109225.0,
 109226.0,
 109227.0,
 109228.0,
 109229.0,
 109230.0,
 109231.0,
 109232.0,
 109233.0,
 109234.0,
 109235.0,
 109236.0,
 109237.0,
 109238.0,
 109239.0,
 109240.0,
 109241.0,
 109242.0,
 109243.0,
 109244.0,
 109245.0,
 109246.0,
 109247.0,
 109248.0,
 109249.0,
 109250.0,
 109251.0,
 109252.0,
 109253.0,
 109254.0,
 109255.0,
 109256.0,
 109257.0,
 109258.0,
 109259.0,
 109260.0,
 109261.0,
 109262.0,
 109263.0,
 109264.0,
 262849.0,
 262850.0,
 262851.0,
 262852.0,
 262853.0,
 262854.0,
 262855.0,
 262856.0,
 262857.0,
 262858.0,
 262859.0,
 262860.0,
 262861.0,
 262862.0,
 262863.0,
 262864.0,
 262865.0,
 262866.0,
 262867.0,
 262868.0,
 262869.0,
 262870.0,
 262871.0,
 262872.0,
 262873.0,
 262874.0,
 262875.0,
 262876.0,
 262877.0,
 262878.0,
 262879.0,
 262880.0,
 262881.0,
 262882.0,
 262883.0,
 262884.0,
 262885.0,
 262886.0,
 262887.0,
 262888.0,
 262889.0,
 262890.0,
 262891.0,
 262892.0,
 262893.0,
 262894.0,
 262895.0,
 262896.0,
 109265.0,
 109266.0,
 109267.0,
 109268.0,
 109269.0,
 109270.0,
 109271.0,
 109272.0,
 109273.0,
 109274.0,
 109275.0,
 109276.0,
 109277.0,
 109278.0,
 109279.0,
 109280.0,
 109281.0,
 109282.0,
 109283.0,
 109284.0,
 109285.0,
 109286.0,
 109287.0,
 109288.0,
 109289.0,
 109290.0,
 109291.0,
 109292.0,
 109293.0,
 109294.0,
 109295.0,
 109296.0,
 109297.0,
 109298.0,
 109299.0,
 109300.0,
 109301.0,
 109302.0,
 109303.0,
 109304.0,
 109305.0,
 109306.0,
 109307.0,
 109308.0,
 109309.0,
 109310.0,
 109311.0,
 109312.0,
 109313.0,
 109314.0,
 109315.0,
 109316.0,
 109317.0,
 109318.0,
 109319.0,
 109320.0,
 109321.0,
 109322.0,
 109323.0,
 109324.0,
 109325.0,
 109326.0,
 109327.0,
 109328.0,
 109329.0,
 109330.0,
 109331.0,
 109332.0,
 109333.0,
 109334.0,
 109335.0,
 109336.0,
 109337.0,
 109338.0,
 109339.0,
 109340.0,
 109341.0,
 109342.0,
 109343.0,
 109344.0,
 262897.0,
 262898.0,
 262899.0,
 262900.0,
 262901.0,
 262902.0,
 262903.0,
 262904.0,
 262905.0,
 262906.0,
 262907.0,
 262908.0,
 262909.0,
 262910.0,
 262911.0,
 262912.0,
 262913.0,
 262914.0,
 262915.0,
 262916.0,
 262917.0,
 262918.0,
 262919.0,
 262920.0,
 262921.0,
 262922.0,
 262923.0,
 262924.0,
 262925.0,
 262926.0,
 262927.0,
 262928.0,
 262929.0,
 262930.0,
 262931.0,
 262932.0,
 262933.0,
 262934.0,
 262935.0,
 262936.0,
 262937.0,
 262938.0,
 262939.0,
 262940.0,
 262941.0,
 262942.0,
 262943.0,
 262944.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 252289.0,
 252290.0,
 252291.0,
 252292.0,
 252293.0,
 252294.0,
 252295.0,
 252296.0,
 252297.0,
 252298.0,
 252299.0,
 252300.0,
 252301.0,
 252302.0,
 252303.0,
 252304.0,
 252305.0,
 252306.0,
 252307.0,
 252308.0,
 252309.0,
 252310.0,
 252311.0,
 252312.0,
 252313.0,
 252314.0,
 252315.0,
 252316.0,
 252317.0,
 252318.0,
 252319.0,
 252320.0,
 252321.0,
 252322.0,
 252323.0,
 252324.0,
 252325.0,
 252326.0,
 252327.0,
 252328.0,
 252329.0,
 252330.0,
 252331.0,
 252332.0,
 252333.0,
 252334.0,
 252335.0,
 252336.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 252337.0,
 252338.0,
 252339.0,
 252340.0,
 252341.0,
 252342.0,
 252343.0,
 252344.0,
 252345.0,
 252346.0,
 252347.0,
 252348.0,
 252349.0,
 252350.0,
 252351.0,
 252352.0,
 252353.0,
 252354.0,
 252355.0,
 252356.0,
 252357.0,
 252358.0,
 252359.0,
 252360.0,
 ...]

In [65]:
len(b)

269088

In [66]:
missing_index =[]
for i in a :
    if i not in b :
        missing_index.append(i)

In [67]:
len(missing_index)

3936

In [68]:
missing_index

[21601.0,
 21602.0,
 21603.0,
 21604.0,
 21605.0,
 21606.0,
 21607.0,
 21608.0,
 21609.0,
 21610.0,
 21611.0,
 21612.0,
 21613.0,
 21614.0,
 21615.0,
 21616.0,
 21617.0,
 21618.0,
 21619.0,
 21620.0,
 21621.0,
 21622.0,
 21623.0,
 21624.0,
 21625.0,
 21626.0,
 21627.0,
 21628.0,
 21629.0,
 21630.0,
 21631.0,
 21632.0,
 21633.0,
 21634.0,
 21635.0,
 21636.0,
 21637.0,
 21638.0,
 21639.0,
 21640.0,
 21641.0,
 21642.0,
 21643.0,
 21644.0,
 21645.0,
 21646.0,
 21647.0,
 21648.0,
 21649.0,
 21650.0,
 21651.0,
 21652.0,
 21653.0,
 21654.0,
 21655.0,
 21656.0,
 21657.0,
 21658.0,
 21659.0,
 21660.0,
 21661.0,
 21662.0,
 21663.0,
 21664.0,
 21665.0,
 21666.0,
 21667.0,
 21668.0,
 21669.0,
 21670.0,
 21671.0,
 21672.0,
 21673.0,
 21674.0,
 21675.0,
 21676.0,
 21677.0,
 21678.0,
 21679.0,
 21680.0,
 21681.0,
 21682.0,
 21683.0,
 21684.0,
 21685.0,
 21686.0,
 21687.0,
 21688.0,
 21689.0,
 21690.0,
 21691.0,
 21692.0,
 21693.0,
 21694.0,
 21695.0,
 21696.0,
 21697.0,
 21698.0,
 21699.0,
 21700.0,
 21701.0,
 21702.0,
 21703.0,
 21704.0,
 21705.0,
 21706.0,
 21707.0,
 21708.0,
 21709.0,
 21710.0,
 21711.0,
 21712.0,
 21713.0,
 21714.0,
 21715.0,
 21716.0,
 21717.0,
 21718.0,
 21719.0,
 21720.0,
 21721.0,
 21722.0,
 21723.0,
 21724.0,
 21725.0,
 21726.0,
 21727.0,
 21728.0,
 21729.0,
 21730.0,
 21731.0,
 21732.0,
 21733.0,
 21734.0,
 21735.0,
 21736.0,
 21737.0,
 21738.0,
 21739.0,
 21740.0,
 21741.0,
 21742.0,
 21743.0,
 21744.0,
 21745.0,
 21746.0,
 21747.0,
 21748.0,
 21749.0,
 21750.0,
 21751.0,
 21752.0,
 21753.0,
 21754.0,
 21755.0,
 21756.0,
 21757.0,
 21758.0,
 21759.0,
 21760.0,
 21761.0,
 21762.0,
 21763.0,
 21764.0,
 21765.0,
 21766.0,
 21767.0,
 21768.0,
 21769.0,
 21770.0,
 21771.0,
 21772.0,
 21773.0,
 21774.0,
 21775.0,
 21776.0,
 21777.0,
 21778.0,
 21779.0,
 21780.0,
 21781.0,
 21782.0,
 21783.0,
 21784.0,
 21785.0,
 21786.0,
 21787.0,
 21788.0,
 21789.0,
 21790.0,
 21791.0,
 21792.0,
 21793.0,
 21794.0,
 21795.0,
 21796.0,
 21797.0,
 21798.0,
 21799.0,
 21800.0,
 21801.0,
 21802.0,
 21803.0,
 21804.0,
 21805.0,
 21806.0,
 21807.0,
 21808.0,
 21809.0,
 21810.0,
 21811.0,
 21812.0,
 21813.0,
 21814.0,
 21815.0,
 21816.0,
 21817.0,
 21818.0,
 21819.0,
 21820.0,
 21821.0,
 21822.0,
 21823.0,
 21824.0,
 21825.0,
 21826.0,
 21827.0,
 21828.0,
 21829.0,
 21830.0,
 21831.0,
 21832.0,
 21833.0,
 21834.0,
 21835.0,
 21836.0,
 21837.0,
 21838.0,
 21839.0,
 21840.0,
 21841.0,
 21842.0,
 21843.0,
 21844.0,
 21845.0,
 21846.0,
 21847.0,
 21848.0,
 21849.0,
 21850.0,
 21851.0,
 21852.0,
 21853.0,
 21854.0,
 21855.0,
 21856.0,
 21857.0,
 21858.0,
 21859.0,
 21860.0,
 21861.0,
 21862.0,
 21863.0,
 21864.0,
 21865.0,
 21866.0,
 21867.0,
 21868.0,
 21869.0,
 21870.0,
 21871.0,
 21872.0,
 21873.0,
 21874.0,
 21875.0,
 21876.0,
 21877.0,
 21878.0,
 21879.0,
 21880.0,
 21881.0,
 21882.0,
 21883.0,
 21884.0,
 21885.0,
 21886.0,
 21887.0,
 21888.0,
 21889.0,
 21890.0,
 21891.0,
 21892.0,
 21893.0,
 21894.0,
 21895.0,
 21896.0,
 21897.0,
 21898.0,
 21899.0,
 21900.0,
 21901.0,
 21902.0,
 21903.0,
 21904.0,
 21905.0,
 21906.0,
 21907.0,
 21908.0,
 21909.0,
 21910.0,
 21911.0,
 21912.0,
 21913.0,
 21914.0,
 21915.0,
 21916.0,
 21917.0,
 21918.0,
 21919.0,
 21920.0,
 21921.0,
 21922.0,
 21923.0,
 21924.0,
 21925.0,
 21926.0,
 21927.0,
 21928.0,
 21929.0,
 21930.0,
 21931.0,
 21932.0,
 21933.0,
 21934.0,
 21935.0,
 21936.0,
 21937.0,
 21938.0,
 21939.0,
 21940.0,
 21941.0,
 21942.0,
 21943.0,
 21944.0,
 21945.0,
 21946.0,
 21947.0,
 21948.0,
 21949.0,
 21950.0,
 21951.0,
 21952.0,
 21953.0,
 21954.0,
 21955.0,
 21956.0,
 21957.0,
 21958.0,
 21959.0,
 21960.0,
 21961.0,
 21962.0,
 21963.0,
 21964.0,
 21965.0,
 21966.0,
 21967.0,
 21968.0,
 21969.0,
 21970.0,
 21971.0,
 21972.0,
 21973.0,
 21974.0,
 21975.0,
 21976.0,
 21977.0,
 21978.0,
 21979.0,
 21980.0,
 21981.0,
 21982.0,
 21983.0,
 21984.0,
 21985.0,
 21986.0,
 21987.0,
 21988.0,
 21989.0,
 21990.0,
 21991.0,
 21992.0,
 21993.0,
 21994.0,
 21995.0,
 21996.0,
 21997.0,
 21998.0,
 21999.0,
 22000.0,
 22001.0,
 22002.0,
 22003.0,
 22004.0,
 22005.0,
 22006.0,
 22007.0,
 22008.0,
 22009.0,
 22010.0,
 22011.0,
 22012.0,
 22013.0,
 22014.0,
 22015.0,
 22016.0,
 22017.0,
 22018.0,
 22019.0,
 22020.0,
 22021.0,
 22022.0,
 22023.0,
 22024.0,
 22025.0,
 22026.0,
 22027.0,
 22028.0,
 22029.0,
 22030.0,
 22031.0,
 22032.0,
 22033.0,
 22034.0,
 22035.0,
 22036.0,
 22037.0,
 22038.0,
 22039.0,
 22040.0,
 22041.0,
 22042.0,
 22043.0,
 22044.0,
 22045.0,
 22046.0,
 22047.0,
 22048.0,
 22049.0,
 22050.0,
 22051.0,
 22052.0,
 22053.0,
 22054.0,
 22055.0,
 22056.0,
 22057.0,
 22058.0,
 22059.0,
 22060.0,
 22061.0,
 22062.0,
 22063.0,
 22064.0,
 22065.0,
 22066.0,
 22067.0,
 22068.0,
 22069.0,
 22070.0,
 22071.0,
 22072.0,
 22073.0,
 22074.0,
 22075.0,
 22076.0,
 22077.0,
 22078.0,
 22079.0,
 22080.0,
 49825.0,
 49826.0,
 49827.0,
 49828.0,
 49829.0,
 49830.0,
 49831.0,
 49832.0,
 49833.0,
 49834.0,
 49835.0,
 49836.0,
 49837.0,
 49838.0,
 49839.0,
 49840.0,
 49841.0,
 49842.0,
 49843.0,
 49844.0,
 49845.0,
 49846.0,
 49847.0,
 49848.0,
 49849.0,
 49850.0,
 49851.0,
 49852.0,
 49853.0,
 49854.0,
 49855.0,
 49856.0,
 49857.0,
 49858.0,
 49859.0,
 49860.0,
 49861.0,
 49862.0,
 49863.0,
 49864.0,
 49865.0,
 49866.0,
 49867.0,
 49868.0,
 49869.0,
 49870.0,
 49871.0,
 49872.0,
 49873.0,
 49874.0,
 49875.0,
 49876.0,
 49877.0,
 49878.0,
 49879.0,
 49880.0,
 49881.0,
 49882.0,
 49883.0,
 49884.0,
 49885.0,
 49886.0,
 49887.0,
 49888.0,
 49889.0,
 49890.0,
 49891.0,
 49892.0,
 49893.0,
 49894.0,
 49895.0,
 49896.0,
 49897.0,
 49898.0,
 49899.0,
 49900.0,
 49901.0,
 49902.0,
 49903.0,
 49904.0,
 49905.0,
 49906.0,
 49907.0,
 49908.0,
 49909.0,
 49910.0,
 49911.0,
 49912.0,
 49913.0,
 49914.0,
 49915.0,
 49916.0,
 49917.0,
 49918.0,
 49919.0,
 49920.0,
 49921.0,
 49922.0,
 49923.0,
 49924.0,
 49925.0,
 49926.0,
 49927.0,
 49928.0,
 49929.0,
 49930.0,
 49931.0,
 49932.0,
 49933.0,
 49934.0,
 49935.0,
 49936.0,
 49937.0,
 49938.0,
 49939.0,
 49940.0,
 49941.0,
 49942.0,
 49943.0,
 49944.0,
 49945.0,
 49946.0,
 49947.0,
 49948.0,
 49949.0,
 49950.0,
 49951.0,
 49952.0,
 49953.0,
 49954.0,
 49955.0,
 49956.0,
 49957.0,
 49958.0,
 49959.0,
 49960.0,
 49961.0,
 49962.0,
 49963.0,
 49964.0,
 49965.0,
 49966.0,
 49967.0,
 49968.0,
 49969.0,
 49970.0,
 49971.0,
 49972.0,
 49973.0,
 49974.0,
 49975.0,
 49976.0,
 49977.0,
 49978.0,
 49979.0,
 49980.0,
 49981.0,
 49982.0,
 49983.0,
 49984.0,
 49985.0,
 49986.0,
 49987.0,
 49988.0,
 49989.0,
 49990.0,
 49991.0,
 49992.0,
 49993.0,
 49994.0,
 49995.0,
 49996.0,
 49997.0,
 49998.0,
 49999.0,
 50000.0,
 50001.0,
 50002.0,
 50003.0,
 50004.0,
 50005.0,
 50006.0,
 50007.0,
 50008.0,
 50009.0,
 50010.0,
 50011.0,
 50012.0,
 50013.0,
 50014.0,
 50015.0,
 50016.0,
 50017.0,
 50018.0,
 50019.0,
 50020.0,
 50021.0,
 50022.0,
 50023.0,
 50024.0,
 50025.0,
 50026.0,
 50027.0,
 50028.0,
 50029.0,
 50030.0,
 50031.0,
 50032.0,
 50033.0,
 50034.0,
 50035.0,
 50036.0,
 50037.0,
 50038.0,
 50039.0,
 50040.0,
 50041.0,
 50042.0,
 50043.0,
 50044.0,
 50045.0,
 50046.0,
 50047.0,
 50048.0,
 50049.0,
 50050.0,
 50051.0,
 50052.0,
 50053.0,
 50054.0,
 50055.0,
 50056.0,
 50057.0,
 50058.0,
 50059.0,
 50060.0,
 50061.0,
 50062.0,
 50063.0,
 50064.0,
 50065.0,
 50066.0,
 50067.0,
 50068.0,
 50069.0,
 50070.0,
 50071.0,
 50072.0,
 50073.0,
 50074.0,
 50075.0,
 50076.0,
 50077.0,
 50078.0,
 50079.0,
 50080.0,
 50081.0,
 50082.0,
 50083.0,
 50084.0,
 50085.0,
 50086.0,
 50087.0,
 50088.0,
 50089.0,
 50090.0,
 50091.0,
 50092.0,
 50093.0,
 50094.0,
 50095.0,
 50096.0,
 50097.0,
 50098.0,
 50099.0,
 50100.0,
 50101.0,
 50102.0,
 50103.0,
 50104.0,
 50105.0,
 50106.0,
 50107.0,
 50108.0,
 50109.0,
 50110.0,
 50111.0,
 50112.0,
 50113.0,
 50114.0,
 50115.0,
 50116.0,
 50117.0,
 50118.0,
 50119.0,
 50120.0,
 50121.0,
 50122.0,
 50123.0,
 50124.0,
 50125.0,
 50126.0,
 50127.0,
 50128.0,
 50129.0,
 50130.0,
 50131.0,
 50132.0,
 50133.0,
 50134.0,
 50135.0,
 50136.0,
 50137.0,
 50138.0,
 50139.0,
 50140.0,
 50141.0,
 50142.0,
 50143.0,
 50144.0,
 50145.0,
 50146.0,
 50147.0,
 50148.0,
 50149.0,
 50150.0,
 50151.0,
 50152.0,
 50153.0,
 50154.0,
 50155.0,
 50156.0,
 50157.0,
 50158.0,
 50159.0,
 50160.0,
 50161.0,
 50162.0,
 50163.0,
 50164.0,
 50165.0,
 50166.0,
 50167.0,
 50168.0,
 50169.0,
 50170.0,
 50171.0,
 50172.0,
 50173.0,
 50174.0,
 50175.0,
 50176.0,
 50177.0,
 50178.0,
 50179.0,
 50180.0,
 50181.0,
 50182.0,
 50183.0,
 50184.0,
 50185.0,
 50186.0,
 50187.0,
 50188.0,
 50189.0,
 50190.0,
 50191.0,
 50192.0,
 50193.0,
 50194.0,
 50195.0,
 50196.0,
 50197.0,
 50198.0,
 50199.0,
 50200.0,
 50201.0,
 50202.0,
 50203.0,
 50204.0,
 50205.0,
 50206.0,
 50207.0,
 50208.0,
 50209.0,
 50210.0,
 50211.0,
 50212.0,
 50213.0,
 50214.0,
 50215.0,
 50216.0,
 50217.0,
 50218.0,
 50219.0,
 50220.0,
 50221.0,
 50222.0,
 50223.0,
 50224.0,
 50225.0,
 50226.0,
 50227.0,
 50228.0,
 50229.0,
 50230.0,
 50231.0,
 50232.0,
 50233.0,
 50234.0,
 50235.0,
 50236.0,
 50237.0,
 50238.0,
 50239.0,
 50240.0,
 50241.0,
 50242.0,
 50243.0,
 50244.0,
 50245.0,
 50246.0,
 50247.0,
 50248.0,
 50249.0,
 50250.0,
 50251.0,
 50252.0,
 50253.0,
 50254.0,
 50255.0,
 50256.0,
 50257.0,
 50258.0,
 50259.0,
 50260.0,
 50261.0,
 50262.0,
 50263.0,
 50264.0,
 50265.0,
 50266.0,
 50267.0,
 50268.0,
 50269.0,
 50270.0,
 50271.0,
 50272.0,
 50273.0,
 50274.0,
 50275.0,
 50276.0,
 50277.0,
 50278.0,
 50279.0,
 50280.0,
 50281.0,
 50282.0,
 50283.0,
 50284.0,
 50285.0,
 50286.0,
 50287.0,
 50288.0,
 50289.0,
 50290.0,
 50291.0,
 50292.0,
 50293.0,
 50294.0,
 50295.0,
 50296.0,
 50297.0,
 50298.0,
 50299.0,
 50300.0,
 50301.0,
 50302.0,
 50303.0,
 50304.0,
 101185.0,
 101186.0,
 101187.0,
 101188.0,
 101189.0,
 101190.0,
 101191.0,
 101192.0,
 101193.0,
 101194.0,
 101195.0,
 101196.0,
 101197.0,
 101198.0,
 101199.0,
 101200.0,
 101201.0,
 101202.0,
 101203.0,
 101204.0,
 101205.0,
 101206.0,
 101207.0,
 101208.0,
 101209.0,
 101210.0,
 101211.0,
 101212.0,
 101213.0,
 101214.0,
 101215.0,
 101216.0,
 101217.0,
 101218.0,
 101219.0,
 101220.0,
 101221.0,
 101222.0,
 101223.0,
 101224.0,
 ...]

In [14]:
data = zip(missing_index)

In [15]:
with open('missing_index.txt', 'a') as fp:
    for row in data :
        fp.write(" ".join(map(str, row)) + "\n")

In [69]:
MEp_1_2_10 = []
for i in missing_index :
    if i <22081 :
        MEp_1_2_10.append(i)

In [70]:
len(MEp_1_2_10)
#MEp_1_2_10

480

In [71]:
MEp_2_1_04 = []
for i in missing_index :
    if i>49824 and i <50305 :
        MEp_2_1_04.append(i)

In [72]:
MEp_2_1_04

[49825.0,
 49826.0,
 49827.0,
 49828.0,
 49829.0,
 49830.0,
 49831.0,
 49832.0,
 49833.0,
 49834.0,
 49835.0,
 49836.0,
 49837.0,
 49838.0,
 49839.0,
 49840.0,
 49841.0,
 49842.0,
 49843.0,
 49844.0,
 49845.0,
 49846.0,
 49847.0,
 49848.0,
 49849.0,
 49850.0,
 49851.0,
 49852.0,
 49853.0,
 49854.0,
 49855.0,
 49856.0,
 49857.0,
 49858.0,
 49859.0,
 49860.0,
 49861.0,
 49862.0,
 49863.0,
 49864.0,
 49865.0,
 49866.0,
 49867.0,
 49868.0,
 49869.0,
 49870.0,
 49871.0,
 49872.0,
 49873.0,
 49874.0,
 49875.0,
 49876.0,
 49877.0,
 49878.0,
 49879.0,
 49880.0,
 49881.0,
 49882.0,
 49883.0,
 49884.0,
 49885.0,
 49886.0,
 49887.0,
 49888.0,
 49889.0,
 49890.0,
 49891.0,
 49892.0,
 49893.0,
 49894.0,
 49895.0,
 49896.0,
 49897.0,
 49898.0,
 49899.0,
 49900.0,
 49901.0,
 49902.0,
 49903.0,
 49904.0,
 49905.0,
 49906.0,
 49907.0,
 49908.0,
 49909.0,
 49910.0,
 49911.0,
 49912.0,
 49913.0,
 49914.0,
 49915.0,
 49916.0,
 49917.0,
 49918.0,
 49919.0,
 49920.0,
 49921.0,
 49922.0,
 49923.0,
 49924.0,
 49925.0,
 49926.0,
 49927.0,
 49928.0,
 49929.0,
 49930.0,
 49931.0,
 49932.0,
 49933.0,
 49934.0,
 49935.0,
 49936.0,
 49937.0,
 49938.0,
 49939.0,
 49940.0,
 49941.0,
 49942.0,
 49943.0,
 49944.0,
 49945.0,
 49946.0,
 49947.0,
 49948.0,
 49949.0,
 49950.0,
 49951.0,
 49952.0,
 49953.0,
 49954.0,
 49955.0,
 49956.0,
 49957.0,
 49958.0,
 49959.0,
 49960.0,
 49961.0,
 49962.0,
 49963.0,
 49964.0,
 49965.0,
 49966.0,
 49967.0,
 49968.0,
 49969.0,
 49970.0,
 49971.0,
 49972.0,
 49973.0,
 49974.0,
 49975.0,
 49976.0,
 49977.0,
 49978.0,
 49979.0,
 49980.0,
 49981.0,
 49982.0,
 49983.0,
 49984.0,
 49985.0,
 49986.0,
 49987.0,
 49988.0,
 49989.0,
 49990.0,
 49991.0,
 49992.0,
 49993.0,
 49994.0,
 49995.0,
 49996.0,
 49997.0,
 49998.0,
 49999.0,
 50000.0,
 50001.0,
 50002.0,
 50003.0,
 50004.0,
 50005.0,
 50006.0,
 50007.0,
 50008.0,
 50009.0,
 50010.0,
 50011.0,
 50012.0,
 50013.0,
 50014.0,
 50015.0,
 50016.0,
 50017.0,
 50018.0,
 50019.0,
 50020.0,
 50021.0,
 50022.0,
 50023.0,
 50024.0,
 50025.0,
 50026.0,
 50027.0,
 50028.0,
 50029.0,
 50030.0,
 50031.0,
 50032.0,
 50033.0,
 50034.0,
 50035.0,
 50036.0,
 50037.0,
 50038.0,
 50039.0,
 50040.0,
 50041.0,
 50042.0,
 50043.0,
 50044.0,
 50045.0,
 50046.0,
 50047.0,
 50048.0,
 50049.0,
 50050.0,
 50051.0,
 50052.0,
 50053.0,
 50054.0,
 50055.0,
 50056.0,
 50057.0,
 50058.0,
 50059.0,
 50060.0,
 50061.0,
 50062.0,
 50063.0,
 50064.0,
 50065.0,
 50066.0,
 50067.0,
 50068.0,
 50069.0,
 50070.0,
 50071.0,
 50072.0,
 50073.0,
 50074.0,
 50075.0,
 50076.0,
 50077.0,
 50078.0,
 50079.0,
 50080.0,
 50081.0,
 50082.0,
 50083.0,
 50084.0,
 50085.0,
 50086.0,
 50087.0,
 50088.0,
 50089.0,
 50090.0,
 50091.0,
 50092.0,
 50093.0,
 50094.0,
 50095.0,
 50096.0,
 50097.0,
 50098.0,
 50099.0,
 50100.0,
 50101.0,
 50102.0,
 50103.0,
 50104.0,
 50105.0,
 50106.0,
 50107.0,
 50108.0,
 50109.0,
 50110.0,
 50111.0,
 50112.0,
 50113.0,
 50114.0,
 50115.0,
 50116.0,
 50117.0,
 50118.0,
 50119.0,
 50120.0,
 50121.0,
 50122.0,
 50123.0,
 50124.0,
 50125.0,
 50126.0,
 50127.0,
 50128.0,
 50129.0,
 50130.0,
 50131.0,
 50132.0,
 50133.0,
 50134.0,
 50135.0,
 50136.0,
 50137.0,
 50138.0,
 50139.0,
 50140.0,
 50141.0,
 50142.0,
 50143.0,
 50144.0,
 50145.0,
 50146.0,
 50147.0,
 50148.0,
 50149.0,
 50150.0,
 50151.0,
 50152.0,
 50153.0,
 50154.0,
 50155.0,
 50156.0,
 50157.0,
 50158.0,
 50159.0,
 50160.0,
 50161.0,
 50162.0,
 50163.0,
 50164.0,
 50165.0,
 50166.0,
 50167.0,
 50168.0,
 50169.0,
 50170.0,
 50171.0,
 50172.0,
 50173.0,
 50174.0,
 50175.0,
 50176.0,
 50177.0,
 50178.0,
 50179.0,
 50180.0,
 50181.0,
 50182.0,
 50183.0,
 50184.0,
 50185.0,
 50186.0,
 50187.0,
 50188.0,
 50189.0,
 50190.0,
 50191.0,
 50192.0,
 50193.0,
 50194.0,
 50195.0,
 50196.0,
 50197.0,
 50198.0,
 50199.0,
 50200.0,
 50201.0,
 50202.0,
 50203.0,
 50204.0,
 50205.0,
 50206.0,
 50207.0,
 50208.0,
 50209.0,
 50210.0,
 50211.0,
 50212.0,
 50213.0,
 50214.0,
 50215.0,
 50216.0,
 50217.0,
 50218.0,
 50219.0,
 50220.0,
 50221.0,
 50222.0,
 50223.0,
 50224.0,
 50225.0,
 50226.0,
 50227.0,
 50228.0,
 50229.0,
 50230.0,
 50231.0,
 50232.0,
 50233.0,
 50234.0,
 50235.0,
 50236.0,
 50237.0,
 50238.0,
 50239.0,
 50240.0,
 50241.0,
 50242.0,
 50243.0,
 50244.0,
 50245.0,
 50246.0,
 50247.0,
 50248.0,
 50249.0,
 50250.0,
 50251.0,
 50252.0,
 50253.0,
 50254.0,
 50255.0,
 50256.0,
 50257.0,
 50258.0,
 50259.0,
 50260.0,
 50261.0,
 50262.0,
 50263.0,
 50264.0,
 50265.0,
 50266.0,
 50267.0,
 50268.0,
 50269.0,
 50270.0,
 50271.0,
 50272.0,
 50273.0,
 50274.0,
 50275.0,
 50276.0,
 50277.0,
 50278.0,
 50279.0,
 50280.0,
 50281.0,
 50282.0,
 50283.0,
 50284.0,
 50285.0,
 50286.0,
 50287.0,
 50288.0,
 50289.0,
 50290.0,
 50291.0,
 50292.0,
 50293.0,
 50294.0,
 50295.0,
 50296.0,
 50297.0,
 50298.0,
 50299.0,
 50300.0,
 50301.0,
 50302.0,
 50303.0,
 50304.0]

In [73]:
len(MEp_2_1_04)

480

In [74]:
MEp_4_1_03 = []
for i in missing_index :
    if i>101184 and i <101665 :
        MEp_4_1_03.append(i)

In [75]:
len(MEp_4_1_03)

480

In [76]:
MEm_1_1_20 = []
for i in missing_index :
    if i>117504 and i<117985 :
        MEm_1_1_20.append(i)

In [77]:
len(MEm_1_1_20)

480

In [78]:
MEm_1_1_21 = []
for i in missing_index :
    if i>117984 and i<118465 :
        MEm_1_1_21.append(i)

In [79]:
len(MEm_1_1_21)

480

In [80]:
MEm_2_1_1 = []
for i in missing_index :
    if i>157248 and i<157729 :
        MEm_2_1_1.append(i)

In [81]:
len(MEm_2_1_1)

480

In [82]:
MEm_2_1_4 = []
for i in missing_index :
    if i>158688 and i<159169 :
        MEm_2_1_4.append(i)

In [83]:
len(MEm_2_1_4)

480

In [84]:
ME_1_4 = []
for i in missing_index :
    if i>267840 and i<268417 :
        ME_1_4.append(i)

In [85]:
len(ME_1_4)

576

In [86]:
df = pd.read_csv('run_10000014_Calib_CFEB_SCAPed_DB.dat', sep=' ', header=None, names=['index','ped', 'rms', 'f1', 'f2'])

In [87]:
bf = df[df['ped']>1000.0]

In [88]:
a = sum(bf['ped'])/len(bf)
b = sum(bf['rms'])/len(bf)
print(a)
b

1044.904836746784

2.1789248137218142

In [89]:
ped_me_1_4 = []
rms_me_1_4 = []
f_1_4 = []
f1_1_4 = []
for i in ME_1_4 :
    ped_me_1_4.append(a)
    rms_me_1_4.append(b)
    f_1_4.append(0)
    f1_1_4.append(0)

In [90]:
ped_me_1_4

[1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784,
 1044.904836746784]

In [91]:
len(f1_1_4)

576

In [92]:
 #index for ME+1/2/10
ag = df[df['index']>17280]
bg = ag[ag['index']<17280]

In [93]:
bg = bg[bg['ped']>400]

In [94]:
avg_ped = sum(bg['ped'])/len(bg)
print(avg_ped)
avg_rms = sum(bg['rms'])/len(bg)
print(avg_rms)

598.2036278188481
2.2829405339470656

In [95]:
ped_1 = []
rms_1 = []
f1_1 = []
f2_1 = []
for i in MEp_1_2_10 :
    ped_1.append(avg_ped)
    rms_1.append(avg_rms)
    f1_1.append(0)
    f2_1.append(0)

In [96]:
dataset = zip(MEp_1_2_10,ped_1,rms_1,f1_1,f2_1)

In [97]:
with open('MEp_1_2_10_pedestal.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [110]:
#index for ME+2/1/4
cg = df[df['index']>34560]
dg = cg[cg['index']<57025]

In [111]:
eg = dg[dg['ped']>500]

In [112]:
avg_ped = sum(eg['ped'])/len(eg)
avg_ped

1043.343466030407

In [113]:
avg_rms = sum(eg['rms'])/len(eg)
avg_rms

2.26406049301128

In [115]:
ped_2_1_4 = []
rms_2_1_4 = []
for i in MEp_2_1_04 :
    ped_2_1_4.append(avg_ped)
    rms_2_1_4.append(avg_rms)

In [116]:
len(ped_2_1_4)

480

In [117]:
dataset = zip(MEp_2_1_04,ped_2_1_4,rms_2_1_4,f1_1,f2_1)

In [118]:
with open('MEp_2_1_04_pedestal.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [119]:
#index for ME-2/1/4
cg = df[df['index']>157248]
dg = cg[cg['index']<165889]

In [120]:
eg = dg[dg['ped']>500]

In [121]:
avg_ped_1 = sum(eg['ped'])/len(eg)
avg_ped_1

1052.872900558676

In [122]:
avg_rms_1 = sum(eg['rms'])/len(eg)
avg_rms_1

2.2850204906381855

In [123]:
pedm_2_1_4 = []
rmsm_2_1_4 = []
f1_m = []
f2_m = []
for i in MEm_2_1_4 :
    pedm_2_1_4.append(avg_ped_1)
    rmsm_2_1_4.append(avg_rms_1)
    f1_m.append(0)
    f2_m.append(0)

In [124]:
dataset_1 = zip(MEm_2_1_4,pedm_2_1_4,rmsm_2_1_4,f1_m,f2_m)

In [125]:
with open('MEm_2_1_04_pedestal.txt', 'a') as fp:
    for row in dataset_1 :
        fp.write(" ".join(map(str, row)) + "\n")

In [126]:
 #index for ME+4/1/3
eg = df[df['index']>100224]
fg = eg[eg['index']<108865]

In [127]:
len(fg)

8160

In [128]:
fg = fg[fg['ped']>500]

In [129]:
avg_ped_2 = sum(fg['ped'])/len(fg)
print(avg_ped_2)
avg_rms_2 = sum(fg['rms'])/len(fg)
print(avg_rms_2)

1051.9283942049665
2.4365904646727943

In [130]:
ped_2 = []
rms_2 = []
f1_2 = []
f2_2 = []
for i in MEp_4_1_03 :
    ped_2.append(avg_ped_2)
    rms_2.append(avg_rms_2)
    f1_2.append(0)
    f2_2.append(0)

In [131]:
dataset_2 = zip(MEp_4_1_03,ped_2,rms_2,f1_2,f2_2)

In [132]:
with open('MEp_4_1_03_pedestal.txt', 'a') as fp:
    for row in dataset_2 :
        fp.write(" ".join(map(str, row)) + "\n")

In [133]:
#ME-1/1/20 and 21
gg = df[df['index']>108864]
hg = gg[gg['index']<126145]

In [135]:
hg = hg[hg['ped']>600]

In [136]:
avg_ped_3 = sum(hg['ped'])/len(hg)
print(avg_ped_3)
avg_rms_3 = sum(hg['rms'])/len(hg)
print(avg_rms_3)

1035.980746294424
2.2229443940716913

In [137]:
ind = []
for i in MEm_1_1_20 :
    ind.append(i)
for j in MEm_1_1_21 :
    ind.append(j)

In [139]:
len(ind)

960

In [144]:
ped_3 = []
rms_3 =[]
f1_3 = []
f2_3 = []
for i in ind :
    ped_3.append(avg_ped_3)
    rms_3.append(avg_rms_3)
    f1_3.append(0)
    f2_3.append(0)

In [145]:
dataset_3 = zip(ind,ped_3,rms_3,f1_3,f2_3)

In [146]:
with open('MEm_1_1_20_21_pedestal.txt', 'a') as fp:
    for row in dataset_3 :
        fp.write(" ".join(map(str, row)) + "\n")

In [147]:
#ME-2/1/1 and ME-2/1/4
ig = df[df['index']>157248]
jg = ig[ig['index']<165889]

In [149]:
jg=jg[jg['ped']>600]

In [150]:
avg_ped_4 = sum(jg['ped'])/len(jg)
print(avg_ped_4)
avg_rms_4 = sum(jg['rms'])/len(jg)
print(avg_rms_4)

1052.872900558676
2.2850204906381855

In [151]:
ped_4 = []
rms_4 = []
f1_4 = []
f2_4 = []
for i in MEm_2_1_1 :
    ped_4.append(avg_ped_4)
    rms_4.append(avg_rms_4)
    f1_4.append(0)
    f2_4.append(0)

In [152]:
dataset_4 = zip(MEm_2_1_1,ped_4,rms_4,f1_4,f2_4)

In [153]:
with open('MEm_2_1_1_pedestal.txt', 'a') as fp:
    for row in dataset_4 :
        fp.write(" ".join(map(str, row)) + "\n")

In [154]:
#ME1/4
dataset_5 = zip(ME_1_4,ped_me_1_4,rms_me_1_4,f_1_4,f1_1_4)

In [155]:
with open('ME_1_4_pedestal.txt', 'a') as fp:
    for row in dataset_5 :
        fp.write(" ".join(map(str, row)) + "\n")

In [156]:
new_values = []
with open("run_10000014_Calib_CFEB_SCAPed_DB.dat", "r") as values_file:
    for line in values_file:
        value = line.strip() 
        new_values.append(value)

with open("MEp_1_2_10_pedestal.txt", "r") as values_file_1:
    for line in values_file_1:
        value_1 = line.strip() 
        new_values.append(value_1)

with open("MEp_2_1_04_pedestal.txt", "r") as values_file_2:
    for line in values_file_2:
        value_2 = line.strip() 
        new_values.append(value_2)

with open("MEm_2_1_04_pedestal.txt", "r") as values_file_3:
    for line in values_file_3:
        value_3 = line.strip() 
        new_values.append(value_3)

with open("MEp_4_1_03_pedestal.txt", "r") as values_file_4:
    for line in values_file_4:
        value_4 = line.strip() 
        new_values.append(value_4)

with open("MEm_1_1_20_21_pedestal.txt", "r") as values_file_5:
    for line in values_file_5:
        value_5 = line.strip() 
        new_values.append(value_5)

with open("MEm_2_1_1_pedestal.txt", "r") as values_file_6:
    for line in values_file_6:
        value_6 = line.strip() 
        new_values.append(value_6)


with open("ME_1_4_pedestal.txt", "r") as values_file_7:
    for line in values_file_7:
        value_7 = line.strip() 
        new_values.append(value_7)



with open("New_pedestal.dat", "a") as data_file:
    # Append the new values to the data file
    for value in new_values:
        data_file.write(value + "\n")

In [1]:
# New file for Xtalk with all the strip values

In [2]:
from sys import argv
import numpy as np
import pandas as pd
from numpy import *

In [3]:
index,xl,intl,xr,intr = loadtxt('old_dbxtalk.dat',unpack=True, usecols=[0,1,2,3,4])

In [4]:
index_16,xl_16,int_16,xr_16,intr_16,flag_16,flag1_16 = loadtxt('run_10000016_Calib_CFEB_CrossTalk_DB_Xtalk.dat',unpack=True, usecols=[0,1,2,3,4,5,6])

In [5]:
a =[]
for i in index :
    a.append(i)
len(a)

273024

In [6]:
b = []
for j in index_16:
    b.append(j)
len(b)

271584

In [7]:
missing_index =[]
for i in a :
    if i not in b :
        missing_index.append(i)

In [8]:
missing_index

[21601.0,
 21602.0,
 21603.0,
 21604.0,
 21605.0,
 21606.0,
 21607.0,
 21608.0,
 21609.0,
 21610.0,
 21611.0,
 21612.0,
 21613.0,
 21614.0,
 21615.0,
 21616.0,
 21617.0,
 21618.0,
 21619.0,
 21620.0,
 21621.0,
 21622.0,
 21623.0,
 21624.0,
 21625.0,
 21626.0,
 21627.0,
 21628.0,
 21629.0,
 21630.0,
 21631.0,
 21632.0,
 21633.0,
 21634.0,
 21635.0,
 21636.0,
 21637.0,
 21638.0,
 21639.0,
 21640.0,
 21641.0,
 21642.0,
 21643.0,
 21644.0,
 21645.0,
 21646.0,
 21647.0,
 21648.0,
 21649.0,
 21650.0,
 21651.0,
 21652.0,
 21653.0,
 21654.0,
 21655.0,
 21656.0,
 21657.0,
 21658.0,
 21659.0,
 21660.0,
 21661.0,
 21662.0,
 21663.0,
 21664.0,
 21665.0,
 21666.0,
 21667.0,
 21668.0,
 21669.0,
 21670.0,
 21671.0,
 21672.0,
 21673.0,
 21674.0,
 21675.0,
 21676.0,
 21677.0,
 21678.0,
 21679.0,
 21680.0,
 21681.0,
 21682.0,
 21683.0,
 21684.0,
 21685.0,
 21686.0,
 21687.0,
 21688.0,
 21689.0,
 21690.0,
 21691.0,
 21692.0,
 21693.0,
 21694.0,
 21695.0,
 21696.0,
 21697.0,
 21698.0,
 21699.0,
 21700.0,
 21701.0,
 21702.0,
 21703.0,
 21704.0,
 21705.0,
 21706.0,
 21707.0,
 21708.0,
 21709.0,
 21710.0,
 21711.0,
 21712.0,
 21713.0,
 21714.0,
 21715.0,
 21716.0,
 21717.0,
 21718.0,
 21719.0,
 21720.0,
 21721.0,
 21722.0,
 21723.0,
 21724.0,
 21725.0,
 21726.0,
 21727.0,
 21728.0,
 21729.0,
 21730.0,
 21731.0,
 21732.0,
 21733.0,
 21734.0,
 21735.0,
 21736.0,
 21737.0,
 21738.0,
 21739.0,
 21740.0,
 21741.0,
 21742.0,
 21743.0,
 21744.0,
 21745.0,
 21746.0,
 21747.0,
 21748.0,
 21749.0,
 21750.0,
 21751.0,
 21752.0,
 21753.0,
 21754.0,
 21755.0,
 21756.0,
 21757.0,
 21758.0,
 21759.0,
 21760.0,
 21761.0,
 21762.0,
 21763.0,
 21764.0,
 21765.0,
 21766.0,
 21767.0,
 21768.0,
 21769.0,
 21770.0,
 21771.0,
 21772.0,
 21773.0,
 21774.0,
 21775.0,
 21776.0,
 21777.0,
 21778.0,
 21779.0,
 21780.0,
 21781.0,
 21782.0,
 21783.0,
 21784.0,
 21785.0,
 21786.0,
 21787.0,
 21788.0,
 21789.0,
 21790.0,
 21791.0,
 21792.0,
 21793.0,
 21794.0,
 21795.0,
 21796.0,
 21797.0,
 21798.0,
 21799.0,
 21800.0,
 21801.0,
 21802.0,
 21803.0,
 21804.0,
 21805.0,
 21806.0,
 21807.0,
 21808.0,
 21809.0,
 21810.0,
 21811.0,
 21812.0,
 21813.0,
 21814.0,
 21815.0,
 21816.0,
 21817.0,
 21818.0,
 21819.0,
 21820.0,
 21821.0,
 21822.0,
 21823.0,
 21824.0,
 21825.0,
 21826.0,
 21827.0,
 21828.0,
 21829.0,
 21830.0,
 21831.0,
 21832.0,
 21833.0,
 21834.0,
 21835.0,
 21836.0,
 21837.0,
 21838.0,
 21839.0,
 21840.0,
 21841.0,
 21842.0,
 21843.0,
 21844.0,
 21845.0,
 21846.0,
 21847.0,
 21848.0,
 21849.0,
 21850.0,
 21851.0,
 21852.0,
 21853.0,
 21854.0,
 21855.0,
 21856.0,
 21857.0,
 21858.0,
 21859.0,
 21860.0,
 21861.0,
 21862.0,
 21863.0,
 21864.0,
 21865.0,
 21866.0,
 21867.0,
 21868.0,
 21869.0,
 21870.0,
 21871.0,
 21872.0,
 21873.0,
 21874.0,
 21875.0,
 21876.0,
 21877.0,
 21878.0,
 21879.0,
 21880.0,
 21881.0,
 21882.0,
 21883.0,
 21884.0,
 21885.0,
 21886.0,
 21887.0,
 21888.0,
 21889.0,
 21890.0,
 21891.0,
 21892.0,
 21893.0,
 21894.0,
 21895.0,
 21896.0,
 21897.0,
 21898.0,
 21899.0,
 21900.0,
 21901.0,
 21902.0,
 21903.0,
 21904.0,
 21905.0,
 21906.0,
 21907.0,
 21908.0,
 21909.0,
 21910.0,
 21911.0,
 21912.0,
 21913.0,
 21914.0,
 21915.0,
 21916.0,
 21917.0,
 21918.0,
 21919.0,
 21920.0,
 21921.0,
 21922.0,
 21923.0,
 21924.0,
 21925.0,
 21926.0,
 21927.0,
 21928.0,
 21929.0,
 21930.0,
 21931.0,
 21932.0,
 21933.0,
 21934.0,
 21935.0,
 21936.0,
 21937.0,
 21938.0,
 21939.0,
 21940.0,
 21941.0,
 21942.0,
 21943.0,
 21944.0,
 21945.0,
 21946.0,
 21947.0,
 21948.0,
 21949.0,
 21950.0,
 21951.0,
 21952.0,
 21953.0,
 21954.0,
 21955.0,
 21956.0,
 21957.0,
 21958.0,
 21959.0,
 21960.0,
 21961.0,
 21962.0,
 21963.0,
 21964.0,
 21965.0,
 21966.0,
 21967.0,
 21968.0,
 21969.0,
 21970.0,
 21971.0,
 21972.0,
 21973.0,
 21974.0,
 21975.0,
 21976.0,
 21977.0,
 21978.0,
 21979.0,
 21980.0,
 21981.0,
 21982.0,
 21983.0,
 21984.0,
 21985.0,
 21986.0,
 21987.0,
 21988.0,
 21989.0,
 21990.0,
 21991.0,
 21992.0,
 21993.0,
 21994.0,
 21995.0,
 21996.0,
 21997.0,
 21998.0,
 21999.0,
 22000.0,
 22001.0,
 22002.0,
 22003.0,
 22004.0,
 22005.0,
 22006.0,
 22007.0,
 22008.0,
 22009.0,
 22010.0,
 22011.0,
 22012.0,
 22013.0,
 22014.0,
 22015.0,
 22016.0,
 22017.0,
 22018.0,
 22019.0,
 22020.0,
 22021.0,
 22022.0,
 22023.0,
 22024.0,
 22025.0,
 22026.0,
 22027.0,
 22028.0,
 22029.0,
 22030.0,
 22031.0,
 22032.0,
 22033.0,
 22034.0,
 22035.0,
 22036.0,
 22037.0,
 22038.0,
 22039.0,
 22040.0,
 22041.0,
 22042.0,
 22043.0,
 22044.0,
 22045.0,
 22046.0,
 22047.0,
 22048.0,
 22049.0,
 22050.0,
 22051.0,
 22052.0,
 22053.0,
 22054.0,
 22055.0,
 22056.0,
 22057.0,
 22058.0,
 22059.0,
 22060.0,
 22061.0,
 22062.0,
 22063.0,
 22064.0,
 22065.0,
 22066.0,
 22067.0,
 22068.0,
 22069.0,
 22070.0,
 22071.0,
 22072.0,
 22073.0,
 22074.0,
 22075.0,
 22076.0,
 22077.0,
 22078.0,
 22079.0,
 22080.0,
 101185.0,
 101186.0,
 101187.0,
 101188.0,
 101189.0,
 101190.0,
 101191.0,
 101192.0,
 101193.0,
 101194.0,
 101195.0,
 101196.0,
 101197.0,
 101198.0,
 101199.0,
 101200.0,
 101201.0,
 101202.0,
 101203.0,
 101204.0,
 101205.0,
 101206.0,
 101207.0,
 101208.0,
 101209.0,
 101210.0,
 101211.0,
 101212.0,
 101213.0,
 101214.0,
 101215.0,
 101216.0,
 101217.0,
 101218.0,
 101219.0,
 101220.0,
 101221.0,
 101222.0,
 101223.0,
 101224.0,
 101225.0,
 101226.0,
 101227.0,
 101228.0,
 101229.0,
 101230.0,
 101231.0,
 101232.0,
 101233.0,
 101234.0,
 101235.0,
 101236.0,
 101237.0,
 101238.0,
 101239.0,
 101240.0,
 101241.0,
 101242.0,
 101243.0,
 101244.0,
 101245.0,
 101246.0,
 101247.0,
 101248.0,
 101249.0,
 101250.0,
 101251.0,
 101252.0,
 101253.0,
 101254.0,
 101255.0,
 101256.0,
 101257.0,
 101258.0,
 101259.0,
 101260.0,
 101261.0,
 101262.0,
 101263.0,
 101264.0,
 101265.0,
 101266.0,
 101267.0,
 101268.0,
 101269.0,
 101270.0,
 101271.0,
 101272.0,
 101273.0,
 101274.0,
 101275.0,
 101276.0,
 101277.0,
 101278.0,
 101279.0,
 101280.0,
 101281.0,
 101282.0,
 101283.0,
 101284.0,
 101285.0,
 101286.0,
 101287.0,
 101288.0,
 101289.0,
 101290.0,
 101291.0,
 101292.0,
 101293.0,
 101294.0,
 101295.0,
 101296.0,
 101297.0,
 101298.0,
 101299.0,
 101300.0,
 101301.0,
 101302.0,
 101303.0,
 101304.0,
 101305.0,
 101306.0,
 101307.0,
 101308.0,
 101309.0,
 101310.0,
 101311.0,
 101312.0,
 101313.0,
 101314.0,
 101315.0,
 101316.0,
 101317.0,
 101318.0,
 101319.0,
 101320.0,
 101321.0,
 101322.0,
 101323.0,
 101324.0,
 101325.0,
 101326.0,
 101327.0,
 101328.0,
 101329.0,
 101330.0,
 101331.0,
 101332.0,
 101333.0,
 101334.0,
 101335.0,
 101336.0,
 101337.0,
 101338.0,
 101339.0,
 101340.0,
 101341.0,
 101342.0,
 101343.0,
 101344.0,
 101345.0,
 101346.0,
 101347.0,
 101348.0,
 101349.0,
 101350.0,
 101351.0,
 101352.0,
 101353.0,
 101354.0,
 101355.0,
 101356.0,
 101357.0,
 101358.0,
 101359.0,
 101360.0,
 101361.0,
 101362.0,
 101363.0,
 101364.0,
 101365.0,
 101366.0,
 101367.0,
 101368.0,
 101369.0,
 101370.0,
 101371.0,
 101372.0,
 101373.0,
 101374.0,
 101375.0,
 101376.0,
 101377.0,
 101378.0,
 101379.0,
 101380.0,
 101381.0,
 101382.0,
 101383.0,
 101384.0,
 101385.0,
 101386.0,
 101387.0,
 101388.0,
 101389.0,
 101390.0,
 101391.0,
 101392.0,
 101393.0,
 101394.0,
 101395.0,
 101396.0,
 101397.0,
 101398.0,
 101399.0,
 101400.0,
 101401.0,
 101402.0,
 101403.0,
 101404.0,
 101405.0,
 101406.0,
 101407.0,
 101408.0,
 101409.0,
 101410.0,
 101411.0,
 101412.0,
 101413.0,
 101414.0,
 101415.0,
 101416.0,
 101417.0,
 101418.0,
 101419.0,
 101420.0,
 101421.0,
 101422.0,
 101423.0,
 101424.0,
 101425.0,
 101426.0,
 101427.0,
 101428.0,
 101429.0,
 101430.0,
 101431.0,
 101432.0,
 101433.0,
 101434.0,
 101435.0,
 101436.0,
 101437.0,
 101438.0,
 101439.0,
 101440.0,
 101441.0,
 101442.0,
 101443.0,
 101444.0,
 101445.0,
 101446.0,
 101447.0,
 101448.0,
 101449.0,
 101450.0,
 101451.0,
 101452.0,
 101453.0,
 101454.0,
 101455.0,
 101456.0,
 101457.0,
 101458.0,
 101459.0,
 101460.0,
 101461.0,
 101462.0,
 101463.0,
 101464.0,
 101465.0,
 101466.0,
 101467.0,
 101468.0,
 101469.0,
 101470.0,
 101471.0,
 101472.0,
 101473.0,
 101474.0,
 101475.0,
 101476.0,
 101477.0,
 101478.0,
 101479.0,
 101480.0,
 101481.0,
 101482.0,
 101483.0,
 101484.0,
 101485.0,
 101486.0,
 101487.0,
 101488.0,
 101489.0,
 101490.0,
 101491.0,
 101492.0,
 101493.0,
 101494.0,
 101495.0,
 101496.0,
 101497.0,
 101498.0,
 101499.0,
 101500.0,
 101501.0,
 101502.0,
 101503.0,
 101504.0,
 101505.0,
 101506.0,
 101507.0,
 101508.0,
 101509.0,
 101510.0,
 101511.0,
 101512.0,
 101513.0,
 101514.0,
 101515.0,
 101516.0,
 101517.0,
 101518.0,
 101519.0,
 101520.0,
 101521.0,
 101522.0,
 101523.0,
 101524.0,
 101525.0,
 101526.0,
 101527.0,
 101528.0,
 101529.0,
 101530.0,
 101531.0,
 101532.0,
 101533.0,
 101534.0,
 101535.0,
 101536.0,
 101537.0,
 101538.0,
 101539.0,
 101540.0,
 101541.0,
 101542.0,
 101543.0,
 101544.0,
 101545.0,
 101546.0,
 101547.0,
 101548.0,
 101549.0,
 101550.0,
 101551.0,
 101552.0,
 101553.0,
 101554.0,
 101555.0,
 101556.0,
 101557.0,
 101558.0,
 101559.0,
 101560.0,
 101561.0,
 101562.0,
 101563.0,
 101564.0,
 101565.0,
 101566.0,
 101567.0,
 101568.0,
 101569.0,
 101570.0,
 101571.0,
 101572.0,
 101573.0,
 101574.0,
 101575.0,
 101576.0,
 101577.0,
 101578.0,
 101579.0,
 101580.0,
 101581.0,
 101582.0,
 101583.0,
 101584.0,
 101585.0,
 101586.0,
 101587.0,
 101588.0,
 101589.0,
 101590.0,
 101591.0,
 101592.0,
 101593.0,
 101594.0,
 101595.0,
 101596.0,
 101597.0,
 101598.0,
 101599.0,
 101600.0,
 101601.0,
 101602.0,
 101603.0,
 101604.0,
 101605.0,
 101606.0,
 101607.0,
 101608.0,
 101609.0,
 101610.0,
 101611.0,
 101612.0,
 101613.0,
 101614.0,
 101615.0,
 101616.0,
 101617.0,
 101618.0,
 101619.0,
 101620.0,
 101621.0,
 101622.0,
 101623.0,
 101624.0,
 101625.0,
 101626.0,
 101627.0,
 101628.0,
 101629.0,
 101630.0,
 101631.0,
 101632.0,
 101633.0,
 101634.0,
 101635.0,
 101636.0,
 101637.0,
 101638.0,
 101639.0,
 101640.0,
 101641.0,
 101642.0,
 101643.0,
 101644.0,
 101645.0,
 101646.0,
 101647.0,
 101648.0,
 101649.0,
 101650.0,
 101651.0,
 101652.0,
 101653.0,
 101654.0,
 101655.0,
 101656.0,
 101657.0,
 101658.0,
 101659.0,
 101660.0,
 101661.0,
 101662.0,
 101663.0,
 101664.0,
 158689.0,
 158690.0,
 158691.0,
 158692.0,
 158693.0,
 158694.0,
 158695.0,
 158696.0,
 158697.0,
 158698.0,
 158699.0,
 158700.0,
 158701.0,
 158702.0,
 158703.0,
 158704.0,
 158705.0,
 158706.0,
 158707.0,
 158708.0,
 158709.0,
 158710.0,
 158711.0,
 158712.0,
 158713.0,
 158714.0,
 158715.0,
 158716.0,
 158717.0,
 158718.0,
 158719.0,
 158720.0,
 158721.0,
 158722.0,
 158723.0,
 158724.0,
 158725.0,
 158726.0,
 158727.0,
 158728.0,
 ...]

In [9]:
len(missing_index)

1440

In [10]:
M1_2_10 = []
for i in missing_index :
    if i<=22080 :
        M1_2_10.append(i)

In [11]:
M4_1_3 = []
for i in missing_index :
    if i>22080 and i<=101664 :
        M4_1_3.append(i)

In [12]:
Mm2_1_4 = []
for i in missing_index :
    if i>101664 and i<=159168 :
        Mm2_1_4.append(i)

In [13]:
dataframe = pd.read_csv('run_10000016_Calib_CFEB_CrossTalk_DB_Xtalk.dat', sep=' ', header=None, names=['index_16','xl_16','int_16','xr_16','intr_16','flag_16','flag1_16'])

In [14]:
dataframe

        index_16     xl_16    int_16     xr_16   intr_16  flag_16  flag1_16
0         108865  0.000000  0.000000 -0.000566  0.022292        0         0
1         108866 -0.000544  0.020252 -0.000584  0.022739        0         0
2         108867 -0.000589  0.023308 -0.000574  0.022932        0         0
3         108868 -0.000569  0.023139 -0.000546  0.022087        0         0
4         108869 -0.000548  0.022395 -0.000551  0.022517        0         0
...          ...       ...       ...       ...       ...      ...       ...
271579    235004 -0.001507  0.047816 -0.001444  0.047694        0         0
271580    235005 -0.001495  0.050865 -0.001475  0.048938        0         0
271581    235006 -0.001450  0.047738 -0.001456  0.048609        0         0
271582    235007 -0.001479  0.048485 -0.001453  0.048474        0         0
271583    235008 -0.001456  0.048260  0.000000  0.000000        0         0

[271584 rows x 7 columns]

In [15]:
# average of gain vale for ME+1/2/10
ag = dataframe[dataframe['index_16']>17280]
bg = ag[ag['index_16']<17280]

In [16]:
bg=bg[bg['xl_16']>-1]

In [17]:
avg_xl = sum(bg['xl_16'])/len(bg)
print(avg_xl)
bg=bg[bg['int_16']>0]
avg_int16 =  sum(bg['int_16'])/len(bg)
print(avg_int16)

-0.0008968512657149814
0.03629357442337838

In [18]:
# average of gain vale for ME+1/2/10
cg = dataframe[dataframe['index_16']>17280]
dg = cg[cg['index_16']<17280]

In [19]:
bg=bg[bg['xr_16']>-1]

In [20]:
avg_xr = sum(bg['xr_16'])/len(bg)
print(avg_xr)
bg=bg[bg['intr_16']>0]
avg_intr16 =  sum(bg['intr_16'])/len(bg)
print(avg_intr16)

-0.0008995016950806502
0.03617431042701621

In [21]:
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f1_1 = []
f2_1 = []
for i in M1_2_10 :
    xl_1.append(avg_xl)
    intl_1.append(avg_int16)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr16)
    f1_1.append(0)
    f2_1.append(0)

In [22]:
dataset = zip(M1_2_10,xl_1,intl_1,xr_1,intr_1,f1_1,f2_1)

In [23]:
with open('MEp_1_2_10_crosstalk.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [25]:
#index for ME+4/1/3
cg = dataframe[dataframe['index_16']>100224]
dg = cg[cg['index_16']<108865]

In [26]:
dg =dg[dg['xl_16']>-1]

In [27]:
avg_xl1 = sum(dg['xl_16'])/len(dg)
print(avg_xl1)
dg=dg[dg['int_16']>0]
avg_int161 =  sum(dg['int_16'])/len(dg)
print(avg_int161)

-0.0007976213242757997
0.02945585675700505

In [28]:
#index for ME+4/1/3
cg = dataframe[dataframe['index_16']>100224]
dg = cg[cg['index_16']<108865]

In [30]:
dg=dg[dg['xr_16']>-1]

In [31]:
avg_xr1 = sum(dg['xr_16'])/len(dg)
print(avg_xr1)
dg=dg[dg['intr_16']>0]
avg_intr16d =  sum(dg['intr_16'])/len(dg)
print(avg_intr16d)

-0.0008160296492898156
0.029294286279842856

In [33]:
xl_2 = []
intl_2 = []
xr_2 = []
intr_2 = []
f1_2 = []
f2_2 = []
for i in M4_1_3 :
    xl_2.append(avg_xl1)
    intl_2.append(avg_int161)
    xr_2.append(avg_xr1)
    intr_2.append(avg_intr16d)
    f1_2.append(0)
    f2_2.append(0)

In [34]:
dataset_1 = zip(M4_1_3,xl_2,intl_2,xr_2,intr_2,f1_2,f2_2)

In [35]:
with open('MEp_4_1_3_crosstalk.txt', 'a') as fp:
    for row in dataset_1 :
        fp.write(" ".join(map(str, row)) + "\n")

In [37]:
#index for ME-2/1/4
eg = dataframe[dataframe['index_16']>157248]
fg = eg[eg['index_16']<165889]

In [38]:
fg =fg[fg['xl_16']>-1]

In [39]:
avg_xl2 = sum(fg['xl_16'])/len(fg)
print(avg_xl2)
fg=fg[fg['int_16']>0]
avg_int162 =  sum(fg['int_16'])/len(fg)
print(avg_int162)

-0.0009675293132752705
0.0344596922943376

In [40]:
#index for ME-2/1/4
eg = dataframe[dataframe['index_16']>157248]
fg = eg[eg['index_16']<165889]

In [41]:
fg=fg[fg['xr_16']>-1]

In [42]:
avg_xr2 = sum(fg['xr_16'])/len(fg)
print(avg_xr2)
fg=fg[fg['intr_16']>0]
avg_intr162 =  sum(fg['intr_16'])/len(fg)
print(avg_intr162)

-0.0009681588059071729
0.03444760438034188

In [43]:
xl_3 = []
intl_3 = []
xr_3 = []
intr_3 = []
f1_3 = []
f2_3 = []
for i in Mm2_1_4 :
    xl_3.append(avg_xl2)
    intl_3.append(avg_int162)
    xr_3.append(avg_xr2)
    intr_3.append(avg_intr162)
    f1_3.append(0)
    f2_3.append(0)

In [44]:
dataset_2 = zip(Mm2_1_4,xl_3,intl_3,xr_3,intr_3,f1_3,f2_3)

In [45]:
with open('MEm_2_1_4_crosstalk.txt', 'a') as fp:
    for row in dataset_2 :
        fp.write(" ".join(map(str, row)) + "\n")

In [46]:
new_values = []
with open("run_10000016_Calib_CFEB_CrossTalk_DB_Xtalk.dat", "r") as values_file:
    for line in values_file:
        value = line.strip() 
        new_values.append(value)

with open("MEp_1_2_10_crosstalk.txt", "r") as values_file_1:
    for line in values_file_1:
        value_1 = line.strip() 
        new_values.append(value_1)

with open("MEp_4_1_3_crosstalk.txt", "r") as values_file_2:
    for line in values_file_2:
        value_2 = line.strip() 
        new_values.append(value_2)

with open("MEm_2_1_4_crosstalk.txt", "r") as values_file_3:
    for line in values_file_3:
        value_3 = line.strip() 
        new_values.append(value_3)


with open("New_crosstalk.dat", "a") as data_file:
    # Append the new values to the data file
    for value in new_values:
        data_file.write(value + "\n")

In [215]:
#new file for Noise matrix

In [216]:
from sys import argv
import numpy as np
import pandas as pd
from numpy import *

In [217]:
index,a,b,c,d,e,f,g,h,i,j,k,l = loadtxt('old_dbmatrix.dat',unpack=True, usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12])

In [218]:
index_nm,aa,bb,cc,dd,ee,ff,gg,hh,ii,jj,kk,ll,mm,nn = loadtxt('run_10000014_Calib_CFEB_SCAPed_DB_NoiseMatrix.dat',unpack=True, usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])

In [219]:
a = []
for i in index :
    a.append(i)
len(a)

273024

In [220]:
b = []
for i in index_nm:
    b.append(i)

len(b)

269088

In [ ]:
m_ind = []
for i in a :
    if i not in b :
        m_ind.append(i)

In [7]:
len(m_ind)

3936

In [9]:
data = zip(m_ind)

In [10]:
with open('m_index.txt', 'a') as fp:
    for row in data :
        fp.write(" ".join(map(str, row)) + "\n")

In [8]:
MEp_1_2_10 = []
for i in m_ind :
    if i <22081 :
        MEp_1_2_10.append(i)

In [9]:
a1 = len(MEp_1_2_10)
a1

480

In [10]:
MEp_2_1_04 = []
for i in m_ind :
    if i>49824 and i <50305 :
        MEp_2_1_04.append(i)

In [11]:
b1 = len(MEp_2_1_04)
b1

480

In [12]:
MEp_4_1_03 = []
for i in m_ind :
    if i>101184 and i <101665 :
        MEp_4_1_03.append(i)

In [13]:
c1 = len(MEp_4_1_03)
c1

480

In [14]:
MEm_1_1_20_21 = []
for i in m_ind :
    if i>117504 and i<118465 :
        MEm_1_1_20_21.append(i)

In [15]:
d1 = len(MEm_1_1_20_21)
d1

960

In [16]:
MEm_2_1_1 = []
for i in m_ind :
    if i>157248 and i<157729 :
        MEm_2_1_1.append(i)

In [17]:
e1 = len(MEm_2_1_1)
e1

480

In [18]:
MEm_2_1_4 = []
for i in m_ind :
    if i>158688 and i<159169 :
        MEm_2_1_4.append(i)

In [19]:
f1 = len(MEm_2_1_4)
f1

480

In [20]:
ME_1_4 = []
for i in m_ind :
    if i>267840 and i<268417 :
        ME_1_4.append(i)

In [21]:
g1 = len(ME_1_4)
g1

576

In [22]:
T = a1+b1+c1+d1+e1+f1+g1
T

3936

In [78]:
df = pd.read_csv('run_10000014_Calib_CFEB_SCAPed_DB_NoiseMatrix.dat', sep=' ', header=None, names=['index_nm1','33', '34', '35', '44', '45', '46', '55', '56', '57', '66', '67', '77', 'f1', 'f2'])

In [79]:
gf = df[df['33']>=0]
hf = gf[gf['33']<=30]
s_33 = sum(hf['33'])/len(hf)
s_33

5.25414812481547

In [80]:
lf = df[df['34']>=-5]
jf = lf[lf['34']<=15]
s_34 = sum(jf['34'])/len(jf)
s_34

1.6905151715677442

In [81]:
kf = df[df['35']>=-5]
mf = kf[kf['35']<=25]
s_35 = sum(mf['35'])/len(mf)
s_35

5.260960382502001

In [82]:
gf = df[df['44']>0]
hf = gf[gf['44']<30]
s_44 = sum(hf['44'])/len(hf)
s_44

1.3022441726653313

In [83]:
kf = df[df['45']>=-5]
mf = kf[kf['45']<=30]
s_45 = sum(mf['45'])/len(mf)
s_45

1.6951569715376933

In [84]:
kf = df[df['46']>=-5]
mf = kf[kf['46']<=30]
s_46 = sum(mf['46'])/len(mf)
s_46

5.276658204434728

In [85]:
gf = df[df['55']>0]
hf = gf[gf['55']<30]
s_55 = sum(hf['55'])/len(hf)
s_55

1.3018115090693385

In [86]:
kf = df[df['56']>=-5]
mf = kf[kf['56']<=25]
s_56 = sum(mf['56'])/len(mf)
s_56

1.694674533988531

In [87]:
kf = df[df['57']>=-5]
mf = kf[kf['57']<=30]
s_57 = sum(mf['57'])/len(mf)
s_57

5.272374707272639

In [88]:
gf = df[df['66']>0]
hf = gf[gf['66']<25]
s_66 = sum(hf['66'])/len(hf)
s_66

1.2825273379573316

In [89]:
gf = df[df['67']>-5]
hf = gf[gf['67']<15]
s_67 = sum(hf['67'])/len(hf)
s_67

1.6978275888900993

In [90]:
gf = df[df['77']>0]
hf = gf[gf['77']<25]
s_77 = sum(hf['77'])/len(hf)
s_77

5.424312483205619

In [91]:
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f1_1 = []
for i in ME_1_4 :
    nm_33.append(s_33)
    nm_34.append(s_34)
    nm_35.append(s_35)
    nm_44.append(s_44)
    nm_45.append(s_45)
    nm_46.append(s_46)
    nm_55.append(s_55)
    nm_56.append(s_56)
    nm_57.append(s_57)
    nm_66.append(s_66)
    nm_67.append(s_67)
    nm_77.append(s_77)
    f_1.append(0)
    f1_1.append(0)

In [92]:
dataset = zip(ME_1_4,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f1_1)

In [41]:
with open('ME_1_4_noisematrix.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [93]:
df = pd.read_csv('run_10000014_Calib_CFEB_SCAPed_DB_NoiseMatrix.dat', sep=' ', header=None, names=['index_nm1','33', '34', '35', '44', '45', '46', '55', '56', '57', '66', '67', '77', 'f1', 'f2'])

In [94]:
  #index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [95]:
bg = bg[bg['33']>=0]
bg = bg[bg['33']<=30]
s1_33 = sum(bg['33'])/len(bg)
s1_33

4.541677711525649

In [96]:
  #index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [97]:
bg = bg[bg['34']>=-5]
bg = bg[bg['34']<=15]
s1_34 = sum(bg['34'])/len(bg)
s1_34

1.0177053204530313

In [98]:
 #index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [99]:
bg = bg[bg['35']>=-5]
bg = bg[bg['35']<=25]
s1_35 = sum(bg['35'])/len(bg)
s1_35

4.508796083822905

In [100]:
 #index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [101]:
bg = bg[bg['44']>=0]
bg = bg[bg['44']<=30]
s1_44 = sum(bg['44'])/len(bg)
s1_44

0.18097842329367564

In [102]:
 #index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [103]:
bg = bg[bg['45']>=-5]
bg = bg[bg['45']<=30]
s1_45 = sum(bg['45'])/len(bg)
s1_45

1.0187502950154443

In [104]:
 #index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [105]:
bg = bg[bg['46']>=-5]
bg = bg[bg['46']<=30]
s1_46 = sum(bg['46'])/len(bg)
s1_46

4.528842707710012

In [106]:
#index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [107]:
bg = bg[bg['55']>=0]
bg = bg[bg['55']<=30]
s1_55 = sum(bg['55'])/len(bg)
s1_55

0.20380869106566202

In [108]:
#index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [109]:
len(bg)

16800

In [110]:
bg = bg[bg['56']>=-5]
bg = bg[bg['56']<=25]
s1_56 = sum(bg['56'])/len(bg)
s1_56

1.0264395870026044

In [111]:
#index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [112]:
bg = bg[bg['57']>=-5]
bg = bg[bg['57']<=30]
s1_57 = sum(bg['57'])/len(bg)
s1_57

4.563466473381382

In [113]:
#index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [114]:
bg = bg[bg['66']>=0]
bg = bg[bg['66']<=25]
s1_66 = sum(bg['66'])/len(bg)
s1_66

0.2343669978920742

In [115]:
#index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [116]:
bg = bg[bg['67']>=-5]
bg = bg[bg['67']<=15]
s1_67 = sum(bg['67'])/len(bg)
s1_67

1.0404808861365153

In [117]:
#index for ME+1/2/10
ag = df[df['index_nm1']>17280]
bg = ag[ag['index_nm1']<17280]

In [118]:
bg = bg[bg['77']>=0]
bg = bg[bg['77']<=25]
s1_77 = sum(bg['77'])/len(bg)
s1_77

4.585843877717886

In [121]:
nm_33_1 = []
nm_34_1 = []
nm_35_1 = []
nm_44_1 = []
nm_45_1 = []
nm_46_1 = []
nm_55_1 = []
nm_56_1 = []
nm_57_1 = []
nm_66_1 = []
nm_67_1 = []
nm_77_1 = []
f_1 = []
f1_1 = []
for i in MEp_1_2_10 :
    nm_33_1.append(s1_33)
    nm_34_1.append(s1_34)
    nm_35_1.append(s1_35)
    nm_44_1.append(s1_44)
    nm_45_1.append(s1_45)
    nm_46_1.append(s1_46)
    nm_55_1.append(s1_55)
    nm_56_1.append(s1_56)
    nm_57_1.append(s1_57)
    nm_66_1.append(s1_66)
    nm_67_1.append(s1_67)
    nm_77_1.append(s1_77)
    f_1.append(0)
    f1_1.append(0)

In [122]:
len(nm_33_1)

480

In [123]:
dataset_1 = zip(MEp_1_2_10,nm_33_1,nm_34_1,nm_35_1,nm_44_1,nm_45_1,nm_46_1,nm_55_1,nm_56_1,nm_57_1,nm_66_1,nm_67_1,nm_77_1,f_1,f1_1)

In [124]:
with open('MEp_1_2_10_noisematrix.txt', 'a') as fp:
    for row in dataset_1 :
        fp.write(" ".join(map(str, row)) + "\n")

In [128]:
df = pd.read_csv('run_10000014_Calib_CFEB_SCAPed_DB_NoiseMatrix.dat', sep=' ', header=None, names=['index_nm1','33', '34', '35', '44', '45', '46', '55', '56', '57', '66', '67', '77', 'f1', 'f2'])

In [129]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]

In [130]:
dg = dg[dg['33']>=0]
dg = dg[dg['33']<=30]
s2_33 = sum(dg['33'])/len(dg)
s2_33

5.13425183791074

In [131]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]

In [132]:
dg = dg[dg['34']>=-5]
dg = dg[dg['34']<=15]
s2_34 = sum(dg['34'])/len(dg)
s2_34

2.453659480014713

In [133]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]

In [134]:
dg = dg[dg['35']>=-5]
dg = dg[dg['35']<=25]
s2_35 = sum(dg['35'])/len(dg)
s2_35

5.139430972780775

In [135]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]
dg = dg[dg['44']>=0]
dg = dg[dg['44']<=30]
s2_44 = sum(dg['44'])/len(dg)
s2_44

1.2066867145510838

In [136]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]
dg = dg[dg['45']>=-5]
dg = dg[dg['45']<=30]
s2_45 = sum(dg['45'])/len(dg)
s2_45

2.4549760469592936

In [137]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]
dg = dg[dg['46']>=-5]
dg = dg[dg['46']<=30]
s2_46 = sum(dg['46'])/len(dg)
s2_46

5.140171379230015

In [138]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]
dg = dg[dg['55']>=0]
dg = dg[dg['55']<=30]
s2_55 = sum(dg['55'])/len(dg)
s2_55

1.207760669803145

In [139]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]
dg = dg[dg['56']>=-5]
dg = dg[dg['56']<=25]
s2_56 = sum(dg['56'])/len(dg)
s2_56

2.455378102501226

In [140]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]
dg = dg[dg['57']>=-5]
dg = dg[dg['57']<=30]
s2_57 = sum(dg['57'])/len(dg)
s2_57

5.139263417361452

In [141]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]
dg = dg[dg['66']>=0]
dg = dg[dg['66']<=25]
s2_66 = sum(dg['66'])/len(dg)
s2_66

1.203549771764706

In [142]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]
dg = dg[dg['67']>=-5]
dg = dg[dg['67']<=15]
s2_67 = sum(dg['67'])/len(dg)
s2_67

2.45057201814615

In [143]:
#index for ME+2/1/4
cg = df[df['index_nm1']>34560]
dg = cg[cg['index_nm1']<57025]
dg = dg[dg['77']>=0]
dg = dg[dg['77']<=25]
s2_77 = sum(dg['77'])/len(dg)
s2_77

5.132386394433546

In [145]:
nm_33_2 = []
nm_34_2 = []
nm_35_2 = []
nm_44_2 = []
nm_45_2 = []
nm_46_2 = []
nm_55_2 = []
nm_56_2 = []
nm_57_2 = []
nm_66_2 = []
nm_67_2 = []
nm_77_2 = []
f_2 = []
f1_2 = []
for i in MEp_2_1_04 :
    nm_33_2.append(s2_33)
    nm_34_2.append(s2_34)
    nm_35_2.append(s2_35)
    nm_44_2.append(s2_44)
    nm_45_2.append(s2_45)
    nm_46_2.append(s2_46)
    nm_55_2.append(s2_55)
    nm_56_2.append(s2_56)
    nm_57_2.append(s2_57)
    nm_66_2.append(s2_66)
    nm_67_2.append(s2_67)
    nm_77_2.append(s2_77)
    f_2.append(0)
    f1_2.append(0)

In [146]:
dataset_2 = zip(MEp_2_1_04,nm_33_2,nm_34_2,nm_35_2,nm_44_2,nm_45_2,nm_46_2,nm_55_2,nm_56_2,nm_57_2,nm_66_2,nm_67_2,nm_77_2,f_2,f1_2)

In [148]:
with open('MEp_2_1_04_noisematrix.txt', 'a') as fp:
    for row in dataset_2 :
        fp.write(" ".join(map(str, row)) + "\n")

In [173]:
df = pd.read_csv('run_10000014_Calib_CFEB_SCAPed_DB_NoiseMatrix.dat', sep=' ', header=None, names=['index_nm1','33', '34', '35', '44', '45', '46', '55', '56', '57', '66', '67', '77', 'f1', 'f2'])

In [175]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['33']>=0]
dg = dg[dg['33']<=30]
s21_33 = sum(dg['33'])/len(dg)
s21_33

5.231524529272153

In [176]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['34']>=-5]
dg = dg[dg['34']<=15]
s21_34 = sum(dg['34'])/len(dg)
s21_34

2.4708184907700423

In [177]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['35']>=-5]
dg = dg[dg['35']<=25]
s21_35 = sum(dg['35'])/len(dg)
s21_35

5.236540941191984

In [178]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['44']>=0]
dg = dg[dg['44']<=30]
s21_44 = sum(dg['44'])/len(dg)
s21_44

1.1795043989678444

In [179]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['45']>=-5]
dg = dg[dg['45']<=30]
s21_45 = sum(dg['45'])/len(dg)
s21_45

2.4725725089662447

In [180]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['46']>=-5]
dg = dg[dg['46']<=30]
s21_46 = sum(dg['46'])/len(dg)
s21_46

5.234824792985232

In [181]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['55']>=0]
dg = dg[dg['55']<=30]
s21_55 = sum(dg['55'])/len(dg)
s21_55

1.1794132419952366

In [182]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['56']>=-5]
dg = dg[dg['56']<=25]
s21_56 = sum(dg['56'])/len(dg)
s21_56

2.4697785990242616

In [183]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['57']>=-5]
dg = dg[dg['57']<=30]
s21_57 = sum(dg['57'])/len(dg)
s21_57

5.230521111814347

In [185]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['66']>=0]
dg = dg[dg['66']<=25]
s21_66 = sum(dg['66'])/len(dg)
s21_66

1.1741827684266242

In [186]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['67']>=-5]
dg = dg[dg['67']<=15]
s21_67 = sum(dg['67'])/len(dg)
s21_67

2.4631855367879747

In [187]:
#index for ME-2/1/4
cg = df[df['index_nm1']>157248]
dg = cg[cg['index_nm1']<165889]
dg = dg[dg['77']>=0]
dg = dg[dg['77']<=25]
s21_77 = sum(dg['77'])/len(dg)
s21_77

5.221961828059072

In [188]:
nm_33_21 = []
nm_34_21 = []
nm_35_21 = []
nm_44_21 = []
nm_45_21 = []
nm_46_21 = []
nm_55_21 = []
nm_56_21 = []
nm_57_21 = []
nm_66_21 = []
nm_67_21 = []
nm_77_21 = []
f_21 = []
f1_21 = []
for i in MEm_2_1_4 :
    nm_33_21.append(s21_33)
    nm_34_21.append(s21_34)
    nm_35_21.append(s21_35)
    nm_44_21.append(s21_44)
    nm_45_21.append(s21_45)
    nm_46_21.append(s21_46)
    nm_55_21.append(s21_55)
    nm_56_21.append(s21_56)
    nm_57_21.append(s21_57)
    nm_66_21.append(s21_66)
    nm_67_21.append(s21_67)
    nm_77_21.append(s21_77)
    f_21.append(0)
    f1_21.append(0)

In [189]:
dataset_3 = zip(MEm_2_1_4,nm_33_21,nm_34_21,nm_35_21,nm_44_21,nm_45_21,nm_46_21,nm_55_21,nm_56_21,nm_57_21,nm_66_21,nm_67_21,nm_77_21,f_21,f1_21)

In [190]:
with open('MEm_2_1_04_noisematrix.txt', 'a') as fp:
    for row in dataset_3 :
        fp.write(" ".join(map(str, row)) + "\n")

In [191]:
dataset_31 = zip(MEm_2_1_1,nm_33_21,nm_34_21,nm_35_21,nm_44_21,nm_45_21,nm_46_21,nm_55_21,nm_56_21,nm_57_21,nm_66_21,nm_67_21,nm_77_21,f_21,f1_21)

In [193]:
with open('MEm_2_1_01_noisematrix.txt', 'a') as fp:
    for row in dataset_31 :
        fp.write(" ".join(map(str, row)) + "\n")

In [154]:
df = pd.read_csv('run_10000014_Calib_CFEB_SCAPed_DB_NoiseMatrix.dat', sep=' ', header=None, names=['index_nm1','33', '34', '35', '44', '45', '46', '55', '56', '57', '66', '67', '77', 'f1', 'f2'])

In [156]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['33']>=0]
fg = fg[fg['33']<=30]
s3_33 = sum(fg['33'])/len(fg)
s3_33

4.560518844865459

In [157]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['34']>=-5]
fg = fg[fg['34']<=15]
s3_34 = sum(fg['34'])/len(fg)
s3_34

2.177282102141681

In [158]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['35']>=-5]
fg = fg[fg['35']<=25]
s3_35 = sum(fg['35'])/len(fg)
s3_35

4.56529424656782

In [159]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['44']>=0]
fg = fg[fg['44']<=30]
s3_44 = sum(fg['44'])/len(fg)
s3_44

1.209425515101136

In [160]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['45']>=-5]
fg = fg[fg['45']<=30]
s3_45 = sum(fg['45'])/len(fg)
s3_45

2.181519262493136

In [161]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['46']>=-5]
fg = fg[fg['46']<=30]
s3_46 = sum(fg['46'])/len(fg)
s3_46

4.560089479681494

In [162]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['55']>=0]
fg = fg[fg['55']<=30]
s3_55 = sum(fg['55'])/len(fg)
s3_55

1.2112326360232943

In [163]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['56']>=-5]
fg = fg[fg['56']<=25]
s3_56 = sum(fg['56'])/len(fg)
s3_56

2.1793444767984624

In [164]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['57']>=-5]
fg = fg[fg['57']<=30]
s3_57 = sum(fg['57'])/len(fg)
s3_57

4.563240090197693

In [165]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['66']>=0]
fg = fg[fg['66']<=30]
s3_66 = sum(fg['66'])/len(fg)
s3_66

1.2061161751420257

In [166]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['67']>=-5]
fg = fg[fg['67']<=15]
s3_67 = sum(fg['67'])/len(fg)
s3_67

2.173011337726524

In [167]:
 #index for ME+4/1/3
eg = df[df['index_nm1']>100224]
fg = eg[eg['index_nm1']<108865]
fg = fg[fg['77']>=0]
fg = fg[fg['77']<=25]
s3_77 = sum(fg['77'])/len(fg)
s3_77

4.55402989387699

In [170]:
nm_33_3 = []
nm_34_3 = []
nm_35_3 = []
nm_44_3 = []
nm_45_3 = []
nm_46_3 = []
nm_55_3 = []
nm_56_3 = []
nm_57_3 = []
nm_66_3 = []
nm_67_3 = []
nm_77_3 = []
f_3 = []
f1_3 = []
for i in MEp_4_1_03 :
    nm_33_3.append(s3_33)
    nm_34_3.append(s3_34)
    nm_35_3.append(s3_35)
    nm_44_3.append(s3_44)
    nm_45_3.append(s3_45)
    nm_46_3.append(s3_46)
    nm_55_3.append(s3_55)
    nm_56_3.append(s3_56)
    nm_57_3.append(s3_57)
    nm_66_3.append(s3_66)
    nm_67_3.append(s3_67)
    nm_77_3.append(s3_77)
    f_3.append(0)
    f1_3.append(0)

In [171]:
dataset_4 = zip(MEp_4_1_03,nm_33_3,nm_34_3,nm_35_3,nm_44_3,nm_45_3,nm_46_3,nm_55_3,nm_56_3,nm_57_3,nm_66_3,nm_67_3,nm_77_3,f_3,f1_3)

In [172]:
with open('MEp_4_1_03_noisematrix.txt', 'a') as fp:
    for row in dataset_4 :
        fp.write(" ".join(map(str, row)) + "\n")

In [ ]:
df = pd.read_csv('run_10000014_Calib_CFEB_SCAPed_DB_NoiseMatrix.dat', sep=' ', header=None, names=['index_nm1','33', '34', '35', '44', '45', '46', '55', '56', '57', '66', '67', '77', 'f1', 'f2'])

In [195]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['33']>=0]
hg = hg[hg['33']<=30]
s4_33 = sum(hg['33'])/len(hg)
s4_33

3.9665392067528646

In [196]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['34']>=-5]
hg = hg[hg['34']<=15]
s4_34 = sum(hg['34'])/len(hg)
s4_34

2.0950266450150132

In [197]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['35']>=-5]
hg = hg[hg['35']<=25]
s4_35 = sum(hg['35'])/len(hg)
s4_35

3.9681175798149395

In [198]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['44']>=0]
hg = hg[hg['44']<=30]
s4_44 = sum(hg['44'])/len(hg)
s4_44

1.2959913318994651

In [199]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['45']>=-5]
hg = hg[hg['45']<=30]
s4_45 = sum(hg['45'])/len(hg)
s4_45

2.096357431705374

In [201]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['46']>=-5]
hg = hg[hg['46']<=30]
s4_46 = sum(hg['46'])/len(hg)
s4_46

3.9694505774250874

In [202]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['55']>=0]
hg = hg[hg['55']<=30]
s4_55 = sum(hg['55'])/len(hg)
s4_55

1.2966287170599804

In [203]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['56']>=-5]
hg = hg[hg['56']<=25]
s4_56 = sum(hg['56'])/len(hg)
s4_56

2.0964045483791898

In [204]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['57']>=-5]
hg = hg[hg['57']<=30]
s4_57 = sum(hg['57'])/len(hg)
s4_57

3.9676265010723695

In [205]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['66']>=0]
hg = hg[hg['66']<=25]
s4_66 = sum(hg['66'])/len(hg)
s4_66

1.294750719825467

In [206]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['67']>=-5]
hg = hg[hg['67']<=15]
s4_67 = sum(hg['67'])/len(hg)
s4_67

2.093272717936148

In [207]:
#ME-1/1/20 and 21
gg = df[df['index_nm1']>108864]
hg = gg[gg['index_nm1']<126145]
hg = hg[hg['77']>=0]
hg = hg[hg['77']<=25]
s4_77 = sum(hg['77'])/len(hg)
s4_77

3.964002200073534

In [209]:
nm_33_4 = []
nm_34_4 = []
nm_35_4 = []
nm_44_4 = []
nm_45_4 = []
nm_46_4 = []
nm_55_4 = []
nm_56_4 = []
nm_57_4 = []
nm_66_4 = []
nm_67_4 = []
nm_77_4 = []
f_4 = []
f1_4 = []
for i in MEm_1_1_20_21 :
    nm_33_4.append(s4_33)
    nm_34_4.append(s4_34)
    nm_35_4.append(s4_35)
    nm_44_4.append(s4_44)
    nm_45_4.append(s4_45)
    nm_46_4.append(s4_46)
    nm_55_4.append(s4_55)
    nm_56_4.append(s4_56)
    nm_57_4.append(s4_57)
    nm_66_4.append(s4_66)
    nm_67_4.append(s4_67)
    nm_77_4.append(s4_77)
    f_4.append(0)
    f1_4.append(0)

In [210]:
dataset_5 = zip(MEm_1_1_20_21,nm_33_4,nm_34_4,nm_35_4,nm_44_4,nm_45_4,nm_46_4,nm_55_4,nm_56_4,nm_57_4,nm_66_4,nm_67_4,nm_77_4,f_4,f1_4)

In [212]:
with open('MEm_1_1_20_21_noisematrix.txt', 'a') as fp:
    for row in dataset_5 :
        fp.write(" ".join(map(str, row)) + "\n")

In [3]:
new_values = []
with open("run_10000014_Calib_CFEB_SCAPed_DB_NoiseMatrix.dat", "r") as values_file:
    for line in values_file:
        value = line.strip()
        # Split the line into columns based on spaces or tabs
        columns = value.split()
        
        # Check if there are columns in the line
        if len(columns) > 0:
            # Add two spaces before the first column
            columns[1] = " " + columns[1]
        
        # Reconstruct the line with modified columns
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("MEp_1_2_10_noisematrix.txt", "r") as values_file_1:
    for line in values_file_1:
        value_1 = line.strip()
        # Split the line into columns based on spaces or tabs
        columns = value_1.split()
        
        # Check if there are columns in the line
        if len(columns) > 0:
            # Add two spaces before the first column
            columns[1] = " " + columns[1]
        
        # Reconstruct the line with modified columns
        modified_line = " ".join(columns)
        new_values.append(modified_line)


with open("MEp_2_1_04_noisematrix.txt", "r") as values_file_2:
    for line in values_file_2:
        value_2 = line.strip() 
        # Split the line into columns based on spaces or tabs
        columns = value_2.split()
        
        # Check if there are columns in the line
        if len(columns) > 0:
            # Add two spaces before the first column
            columns[1] = " " + columns[1]
        
        # Reconstruct the line with modified columns
        modified_line = " ".join(columns)
        new_values.append(modified_line)



with open("MEm_2_1_04_noisematrix.txt", "r") as values_file_3:
    for line in values_file_3:
        value_3 = line.strip() 
        # Split the line into columns based on spaces or tabs
        columns = value_3.split()
        
        # Check if there are columns in the line
        if len(columns) > 0:
            # Add two spaces before the first column
            columns[1] = " " + columns[1]
        
        # Reconstruct the line with modified columns
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("MEp_4_1_03_noisematrix.txt", "r") as values_file_4:
    for line in values_file_4:
        value_4 = line.strip() 
        # Split the line into columns based on spaces or tabs
        columns = value_4.split()
        
        # Check if there are columns in the line
        if len(columns) > 0:
            # Add two spaces before the first column
            columns[1] = " " + columns[1]
        
        # Reconstruct the line with modified columns
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("MEm_1_1_20_21_noisematrix.txt", "r") as values_file_5:
    for line in values_file_5:
        value_5 = line.strip() 
        # Split the line into columns based on spaces or tabs
        columns = value_5.split()
        
        # Check if there are columns in the line
        if len(columns) > 0:
            # Add two spaces before the first column
            columns[1] = " " + columns[1]
        
        # Reconstruct the line with modified columns
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("MEm_2_1_01_noisematrix.txt", "r") as values_file_6:
    for line in values_file_6:
        value_6 = line.strip() 
        # Split the line into columns based on spaces or tabs
        columns = value_6.split()
        
        # Check if there are columns in the line
        if len(columns) > 0:
            # Add two spaces before the first column
            columns[1] = " " + columns[1]
        
        # Reconstruct the line with modified columns
        modified_line = " ".join(columns)
        new_values.append(modified_line)


with open("ME_1_4_noisematrix.txt", "r") as values_file_7:
    for line in values_file_7:
        value_7 = line.strip() 
        # Split the line into columns based on spaces or tabs
        columns = value_7.split()
        
        # Check if there are columns in the line
        if len(columns) > 0:
            # Add two spaces before the first column
            columns[1] = " " + columns[1]
        
        # Reconstruct the line with modified columns
        modified_line = " ".join(columns)
        new_values.append(modified_line)


with open("New_noisematrix1.dat", "a") as data_file:
    # Append the new values to the data file
    for value in new_values:
        data_file.write(value + "\n")

In [1]:
from sys import argv
import numpy as np
import pandas as pd
from numpy import *

In [2]:
df = pd.read_csv('New_pedestal.dat', sep=' ', header=None, names=['index','ped', 'rms', 'f1', 'f2'])

In [3]:
df

           index          ped       rms  f1  f2
0       108865.0  1018.715911  2.290669   0   0
1       108866.0  1009.250518  2.302355   0   0
2       108867.0  1004.612804  2.274921   0   0
3       108868.0  1020.799974  2.275128   0   0
4       108869.0  1012.529874  2.303971   0   0
...          ...          ...       ...  ..  ..
273019  268412.0  1044.904837  2.178925   0   0
273020  268413.0  1044.904837  2.178925   0   0
273021  268414.0  1044.904837  2.178925   0   0
273022  268415.0  1044.904837  2.178925   0   0
273023  268416.0  1044.904837  2.178925   0   0

[273024 rows x 5 columns]

In [4]:
gf = df[df['ped']<0]
gf

           index    ped    rms  f1  f2
60439    20600.0 -999.0 -999.0   0   1
65344    23105.0 -999.0 -999.0   0   1
65345    23106.0 -999.0 -999.0   0   1
65346    23107.0 -999.0 -999.0   0   1
65347    23108.0 -999.0 -999.0   0   1
...          ...    ...    ...  ..  ..
240251  220572.0 -999.0 -999.0   0   1
240252  220573.0 -999.0 -999.0   0   1
240253  220574.0 -999.0 -999.0   0   1
240254  220575.0 -999.0 -999.0   0   1
240255  220576.0 -999.0 -999.0   0   1

[2798 rows x 5 columns]

In [5]:
me1_1 = []
me1_2 = []
me1_3 = []
me2_1 = []
me2_2 = []
me3_1 = []
me3_2 = []
me4_1 = []
me4_2 = []
mem1_1 = []
mem1_2 = []
mem1_3 = []
mem2_1 = []
mem2_2 = []
mem3_1 = []
mem3_2 = []
mem4_1 = []
mem4_2 = []
for i in gf['index'] :
    if i>0 and i<=17280 :
        me1_1.append(i)
    if i>=17281 and i<=34560 :
        me1_2.append(i)
    if i>=17280 and i<=34560 :
        me1_3.append(i)
    if i>=48385 and i<=57024 :
        me2_1.append(i)
    if i>=57025 and i<=74304 :
        me2_2.append(i)
    if i>=74305 and i<=82944 :
        me3_1.append(i)
    if i>=82945 and i<=100224 :
        me3_2.append(i)
    if i>=100225 and i<=108864 :
        me4_1.append(i)
    if i>=108865 and i<=126144 :
        mem1_1.append(i)
    if i>=126145 and i<=143424 :
        mem1_2.append(i)
    if i>=143425 and i<=157248 :
        mem1_3.append(i)
    if i>=157249 and i<=165888 :
        mem2_1.append(i)
    if i>=165889 and i<=183168 :
        mem2_2.append(i)
    if i>=183169 and i<=191808 :
        mem3_1.append(i)
    if i>=191809 and i<=209088 :
        mem3_2.append(i)
    if i>=209089 and i<=217728 :
        mem4_1.append(i)
    if i>=217729 and i<=235008 :
        me4_2.append(i)
    if i>=235009 and i<=252288 :
        mem4_2.append(i)

In [6]:
print(len(me1_1))
print(len(me1_2))
print(len(me1_3))
print(len(me2_1))
print(len(me2_2))
print(len(me3_1))
print(len(me3_2))
print(len(me4_1))
print(len(me4_2))
print(len(mem1_1))
print(len(mem1_2))
print(len(mem1_3))
print(len(mem2_1))
print(len(mem2_2))
print(len(mem3_1))
print(len(mem3_2))
print(len(mem4_1))
print(len(mem4_2))

0
289
96
4
192
0
0
871
192
0
192
0
96
96
289
0
481
0

In [7]:
sum = len(me1_1)+len(me1_2)+len(me1_3)+len(me2_1)+len(me2_2)+len(me3_1)+len(me3_2)+len(me4_1)+len(me4_2)+len(mem1_1)+len(mem1_2)+len(mem1_3)+len(mem2_1)+len(mem2_2)+len(mem3_1)+len(mem3_2)+len(mem4_1)+len(mem4_2)

In [8]:
sum

2798

In [9]:
af = df[df['index']>17280]
hf = af[af['index']<34560]
ig = hf[hf['ped']>400]
im = ig[ig['ped']<1000]
im

          index         ped       rms  f1  f2
54240   17281.0  614.975724  2.192610   0   0
54241   17282.0  614.999354  2.185009   0   0
54242   17283.0  616.395398  2.259794   0   0
54243   17284.0  608.240177  2.280280   0   0
54244   17285.0  623.147317  2.355734   0   0
...         ...         ...       ...  ..  ..
269563  22076.0  598.203628  2.282941   0   0
269564  22077.0  598.203628  2.282941   0   0
269565  22078.0  598.203628  2.282941   0   0
269566  22079.0  598.203628  2.282941   0   0
269567  22080.0  598.203628  2.282941   0   0

[16990 rows x 5 columns]

In [10]:
avg_ped = im['ped'].mean()
print(avg_ped)
avg_rms = im['rms'].mean()
avg_rms

598.2046749878191

2.282936856756598

In [11]:
hf = hf[hf['ped']<0]
hf

         index    ped    rms  f1  f2
60439  20600.0 -999.0 -999.0   0   1
65344  23105.0 -999.0 -999.0   0   1
65345  23106.0 -999.0 -999.0   0   1
65346  23107.0 -999.0 -999.0   0   1
65347  23108.0 -999.0 -999.0   0   1
...        ...    ...    ...  ..  ..
83035  32156.0 -999.0 -999.0   0   1
83036  32157.0 -999.0 -999.0   0   1
83037  32158.0 -999.0 -999.0   0   1
83038  32159.0 -999.0 -999.0   0   1
83039  32160.0 -999.0 -999.0   0   1

[289 rows x 5 columns]

In [12]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped)
    rms.append(avg_rms)
    f1.append(0)
    f2.append(0)

In [13]:
dataset = zip(a,ped,rms,f1,f2)

In [14]:
with open('ped_avg.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [15]:
af = df[df['index']>17280]
hf = af[af['index']<34560]
ig = hf[hf['ped']>400]
im = ig[ig['ped']<1000]
im

          index         ped       rms  f1  f2
88225   34562.0  569.873418  2.262930   0   0
88226   34563.0  573.091707  2.493507   0   0
88227   34564.0  580.655035  2.455176   0   0
88228   34565.0  565.389915  2.485805   0   0
88229   34566.0  575.599083  2.486031   0   0
...         ...         ...       ...  ..  ..
115482  48379.0  617.112221  2.868841   0   0
115483  48380.0  610.750422  2.839939   0   0
115484  48381.0  611.390198  2.802206   0   0
115485  48382.0  613.038030  2.779191   0   0
115486  48383.0  616.458590  2.684204   0   0

[13726 rows x 5 columns]

In [16]:
avg_ped1 = im['ped'].mean()
print(avg_ped1)
avg_rms1 = im['rms'].mean()
avg_rms1

601.6050335344603

2.2832778663121083

In [17]:
hf = hf[hf['ped']<0]
hf

         index    ped    rms  f1  f2
95936  38433.0 -999.0 -999.0   0   1
95937  38434.0 -999.0 -999.0   0   1
95938  38435.0 -999.0 -999.0   0   1
95939  38436.0 -999.0 -999.0   0   1
95940  38437.0 -999.0 -999.0   0   1
...        ...    ...    ...  ..  ..
96267  38764.0 -999.0 -999.0   0   1
96268  38765.0 -999.0 -999.0   0   1
96269  38766.0 -999.0 -999.0   0   1
96270  38767.0 -999.0 -999.0   0   1
96271  38768.0 -999.0 -999.0   0   1

[96 rows x 5 columns]

In [18]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped1)
    rms.append(avg_rms1)
    f1.append(0)
    f2.append(0)
len(a)

96

In [19]:
dataset = zip(a,ped,rms,f1,f2)

In [20]:
with open('ped_avg1.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [21]:
af = df[df['index']>48385]
hf = af[af['index']<57024]
ig = hf[hf['ped']>1000]
im = ig[ig['ped']<1300]
im

          index          ped       rms  f1  f2
115489  48386.0  1015.632499  2.238020   0   0
115490  48387.0  1029.124953  2.203727   0   0
115491  48388.0  1010.402494  2.235380   0   0
115492  48389.0  1006.384653  2.225576   0   0
115493  48390.0  1009.735227  2.228043   0   0
...         ...          ...       ...  ..  ..
270043  50300.0  1043.343466  2.264060   0   0
270044  50301.0  1043.343466  2.264060   0   0
270045  50302.0  1043.343466  2.264060   0   0
270046  50303.0  1043.343466  2.264060   0   0
270047  50304.0  1043.343466  2.264060   0   0

[8532 rows x 5 columns]

In [22]:
avg_ped2 = im['ped'].mean()
print(avg_ped2)
avg_rms2 = im['rms'].mean()
avg_rms2

1043.9275332876928

2.263730784885773

In [23]:
hf = hf[hf['ped']<0]
hf

          index    ped    rms  f1  f2
122327  52344.0 -999.0 -999.0   0   1
122444  52461.0 -999.0 -999.0   0   1
122525  52542.0 -999.0 -999.0   0   1
122676  52693.0 -999.0 -999.0   0   1

In [24]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped2)
    rms.append(avg_rms2)
    f1.append(0)
    f2.append(0)
len(a)

4

In [25]:
dataset = zip(a,ped,rms,f1,f2)

In [26]:
with open('ped_avg2.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [27]:
af = df[df['index']>57025]
hf = af[af['index']<74304]
ig = hf[hf['ped']>400]
im = ig[ig['ped']<1000]
im

          index         ped       rms  f1  f2
131809  57026.0  585.675144  2.936633   0   0
131810  57027.0  574.259488  2.969001   0   0
131811  57028.0  577.635527  2.981992   0   0
131812  57029.0  577.592813  2.922734   0   0
131813  57030.0  572.230345  2.957375   0   0
...         ...         ...       ...  ..  ..
165882  74299.0  584.797841  2.669111   0   0
165883  74300.0  577.421495  2.704056   0   0
165884  74301.0  581.641370  2.648858   0   0
165885  74302.0  576.972384  2.751000   0   0
165886  74303.0  585.105011  2.732533   0   0

[17085 rows x 5 columns]

In [28]:
avg_ped3 = im['ped'].mean()
print(avg_ped3)
avg_rms3 = im['rms'].mean()
avg_rms3

594.0539428418496

2.695207637342698

In [29]:
hf = hf[hf['ped']<0]
hf

          index    ped    rms  f1  f2
135648  58945.0 -999.0 -999.0   0   1
135649  58946.0 -999.0 -999.0   0   1
135650  58947.0 -999.0 -999.0   0   1
135651  58948.0 -999.0 -999.0   0   1
135652  58949.0 -999.0 -999.0   0   1
...         ...    ...    ...  ..  ..
149563  66140.0 -999.0 -999.0   0   1
149564  66141.0 -999.0 -999.0   0   1
149565  66142.0 -999.0 -999.0   0   1
149566  66143.0 -999.0 -999.0   0   1
149567  66144.0 -999.0 -999.0   0   1

[192 rows x 5 columns]

In [30]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped3)
    rms.append(avg_rms3)
    f1.append(0)
    f2.append(0)
len(a)

192

In [31]:
dataset = zip(a,ped,rms,f1,f2)
with open('ped_avg3.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [32]:
af = df[df['index']>100225]
hf = af[af['index']<108864]
ig = hf[hf['ped']>1000]
im = ig[ig['ped']<1300]
im

           index          ped       rms  f1  f2
218209  100226.0  1036.337368  2.115766   0   0
218210  100227.0  1039.729825  2.091783   0   0
218211  100228.0  1028.397363  2.052380   0   0
218212  100229.0  1014.584677  2.053249   0   0
218213  100230.0  1029.796180  2.113930   0   0
...          ...          ...       ...  ..  ..
271003  101660.0  1051.928394  2.436590   0   0
271004  101661.0  1051.928394  2.436590   0   0
271005  101662.0  1051.928394  2.436590   0   0
271006  101663.0  1051.928394  2.436590   0   0
271007  101664.0  1051.928394  2.436590   0   0

[7676 rows x 5 columns]

In [33]:
avg_ped4 = im['ped'].mean()
print(avg_ped4)
avg_rms4 = im['rms'].mean()
avg_rms4

1050.534188214224

2.1546865578482204

In [34]:
hf = hf[hf['ped']<0]
hf

           index    ped    rms  f1  f2
220656  101713.0 -999.0 -999.0   0   1
220657  101714.0 -999.0 -999.0   0   1
220658  101715.0 -999.0 -999.0   0   1
220659  101716.0 -999.0 -999.0   0   1
220660  101717.0 -999.0 -999.0   0   1
...          ...    ...    ...  ..  ..
229691  106428.0 -999.0 -999.0   0   1
229692  106429.0 -999.0 -999.0   0   1
229693  106430.0 -999.0 -999.0   0   1
229694  106431.0 -999.0 -999.0   0   1
229695  106432.0 -999.0 -999.0   0   1

[871 rows x 5 columns]

In [35]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped4)
    rms.append(avg_rms4)
    f1.append(0)
    f2.append(0)
len(a)

871

In [36]:
dataset = zip(a,ped,rms,f1,f2)
with open('ped_avg4.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [37]:
af = df[df['index']>217729]
hf = af[af['index']<235008]
ig = hf[hf['ped']>400]
im = ig[ig['ped']<1000]
im

           index         ped       rms  f1  f2
235009  217730.0  575.159046  2.671415   0   0
235010  217731.0  569.597616  2.574201   0   0
235011  217732.0  580.643610  2.638034   0   0
235012  217733.0  571.005235  2.651798   0   0
235013  217734.0  569.647942  2.691635   0   0
...          ...         ...       ...  ..  ..
269082  235003.0  584.283495  2.893328   0   0
269083  235004.0  590.871959  2.869781   0   0
269084  235005.0  595.497591  2.725094   0   0
269085  235006.0  589.135868  2.842884   0   0
269086  235007.0  596.849844  2.887469   0   0

[17086 rows x 5 columns]

In [38]:
avg_ped5 = im['ped'].mean()
print(avg_ped5)
avg_rms5 = im['rms'].mean()
avg_rms5

599.9033036600141

2.706881883120684

In [39]:
hf = hf[hf['ped']<0]
hf

           index    ped    rms  f1  f2
235072  217793.0 -999.0 -999.0   0   1
235073  217794.0 -999.0 -999.0   0   1
235074  217795.0 -999.0 -999.0   0   1
235075  217796.0 -999.0 -999.0   0   1
235076  217797.0 -999.0 -999.0   0   1
...          ...    ...    ...  ..  ..
240251  220572.0 -999.0 -999.0   0   1
240252  220573.0 -999.0 -999.0   0   1
240253  220574.0 -999.0 -999.0   0   1
240254  220575.0 -999.0 -999.0   0   1
240255  220576.0 -999.0 -999.0   0   1

[192 rows x 5 columns]

In [40]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped5)
    rms.append(avg_rms5)
    f1.append(0)
    f2.append(0)
len(a)

192

In [41]:
dataset = zip(a,ped,rms,f1,f2)
with open('ped_avg5.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [42]:
af = df[df['index']>126145]
hf = af[af['index']<143424]
ig = hf[hf['ped']>400]
im = ig[ig['ped']<1000]
im

          index         ped       rms  f1  f2
53761  126146.0  588.639499  2.183837   0   0
53762  126147.0  588.159930  2.145989   0   0
53763  126148.0  592.859743  2.179373   0   0
53764  126149.0  590.814097  2.247848   0   0
53765  126150.0  584.735156  2.252216   0   0
...         ...         ...       ...  ..  ..
87354  143419.0  607.192492  2.359357   0   0
87355  143420.0  607.477928  2.368604   0   0
87356  143421.0  616.442102  2.246936   0   0
87357  143422.0  604.152577  2.248224   0   0
87358  143423.0  609.018069  2.252149   0   0

[17086 rows x 5 columns]

In [43]:
avg_ped6 = im['ped'].mean()
print(avg_ped6)
avg_rms6 = im['rms'].mean()
print(avg_rms6)
hf = hf[hf['ped']<0]
hf

601.820156120508
2.226819942701627

          index    ped    rms  f1  f2
78240  138625.0 -999.0 -999.0   0   1
78241  138626.0 -999.0 -999.0   0   1
78242  138627.0 -999.0 -999.0   0   1
78243  138628.0 -999.0 -999.0   0   1
78244  138629.0 -999.0 -999.0   0   1
...         ...    ...    ...  ..  ..
84411  141916.0 -999.0 -999.0   0   1
84412  141917.0 -999.0 -999.0   0   1
84413  141918.0 -999.0 -999.0   0   1
84414  141919.0 -999.0 -999.0   0   1
84415  141920.0 -999.0 -999.0   0   1

[192 rows x 5 columns]

In [44]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped6)
    rms.append(avg_rms6)
    f1.append(0)
    f2.append(0)
len(a)

192

In [45]:
dataset = zip(a,ped,rms,f1,f2)
with open('ped_avg6.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [46]:
af = df[df['index']>157249]
hf = af[af['index']<165888]
ig = hf[hf['ped']>1000]
im = ig[ig['ped']<1300]
im

           index          ped       rms  f1  f2
115968  157729.0  1010.344840  2.222636   0   0
115969  157730.0  1009.668418  2.192580   0   0
115970  157731.0  1002.959942  2.171290   0   0
115971  157732.0  1001.396929  2.191385   0   0
115972  157733.0  1006.669937  2.201058   0   0
...          ...          ...       ...  ..  ..
272443  157724.0  1052.872901  2.285020   0   0
272444  157725.0  1052.872901  2.285020   0   0
272445  157726.0  1052.872901  2.285020   0   0
272446  157727.0  1052.872901  2.285020   0   0
272447  157728.0  1052.872901  2.285020   0   0

[8375 rows x 5 columns]

In [47]:
avg_ped7 = im['ped'].mean()
print(avg_ped7)
avg_rms7 = im['rms'].mean()
print(avg_rms7)
hf = hf[hf['ped']<0]
hf

1054.0143914005696
2.2846787048981514

           index    ped    rms  f1  f2
127488  163969.0 -999.0 -999.0   0   1
127489  163970.0 -999.0 -999.0   0   1
127490  163971.0 -999.0 -999.0   0   1
127491  163972.0 -999.0 -999.0   0   1
127492  163973.0 -999.0 -999.0   0   1
...          ...    ...    ...  ..  ..
127899  164380.0 -999.0 -999.0   0   1
127900  164381.0 -999.0 -999.0   0   1
127901  164382.0 -999.0 -999.0   0   1
127902  164383.0 -999.0 -999.0   0   1
127903  164384.0 -999.0 -999.0   0   1

[96 rows x 5 columns]

In [48]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped7)
    rms.append(avg_rms7)
    f1.append(0)
    f2.append(0)
len(a)

96

In [49]:
dataset = zip(a,ped,rms,f1,f2)
with open('ped_avg7.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [50]:
af = df[df['index']>165889]
hf = af[af['index']<183168]
ig = hf[hf['ped']>400]
im = ig[ig['ped']<1000]
im

           index         ped       rms  f1  f2
131329  165890.0  581.450075  2.964071   0   0
131330  165891.0  583.816574  2.941063   0   0
131331  165892.0  597.520090  2.873712   0   0
131332  165893.0  585.675875  2.806414   0   0
131333  165894.0  586.500420  2.998227   0   0
...          ...         ...       ...  ..  ..
165402  183163.0  582.032379  2.818710   0   0
165403  183164.0  589.714241  2.798603   0   0
165404  183165.0  600.498100  2.651524   0   0
165405  183166.0  591.489418  2.704976   0   0
165406  183167.0  590.456773  2.677603   0   0

[17182 rows x 5 columns]

In [51]:
avg_ped8 = im['ped'].mean()
print(avg_ped8)
avg_rms8 = im['rms'].mean()
print(avg_rms8)
hf = hf[hf['ped']<0]
hf

598.8870889068793
2.7198820485973694

           index    ped    rms  f1  f2
133264  166865.0 -999.0 -999.0   0   1
133265  166866.0 -999.0 -999.0   0   1
133266  166867.0 -999.0 -999.0   0   1
133267  166868.0 -999.0 -999.0   0   1
133268  166869.0 -999.0 -999.0   0   1
...          ...    ...    ...  ..  ..
133675  167276.0 -999.0 -999.0   0   1
133676  167277.0 -999.0 -999.0   0   1
133677  167278.0 -999.0 -999.0   0   1
133678  167279.0 -999.0 -999.0   0   1
133679  167280.0 -999.0 -999.0   0   1

[96 rows x 5 columns]

In [52]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped8)
    rms.append(avg_rms8)
    f1.append(0)
    f2.append(0)
len(a)

96

In [53]:
dataset = zip(a,ped,rms,f1,f2)
with open('ped_avg8.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [54]:
af = df[df['index']>183169]
hf = af[af['index']<191808]
ig = hf[hf['ped']>1000]
im = ig[ig['ped']<1300]
im

           index          ped       rms  f1  f2
165889  183170.0  1018.193023  2.186558   0   0
165890  183171.0  1013.279728  2.193068   0   0
165891  183172.0  1007.000588  2.171605   0   0
165892  183173.0  1016.813382  2.204517   0   0
165893  183174.0  1023.873136  2.173090   0   0
...          ...          ...       ...  ..  ..
182682  191803.0  1155.053545  2.240095   0   0
182683  191804.0  1163.232861  2.244574   0   0
182684  191805.0  1148.158777  2.288322   0   0
182685  191806.0  1146.690042  2.279019   0   0
182686  191807.0  1163.521540  2.286638   0   0

[8147 rows x 5 columns]

In [55]:
avg_ped9 = im['ped'].mean()
print(avg_ped9)
avg_rms9 = im['rms'].mean()
print(avg_rms9)
hf = hf[hf['ped']<0]
hf

1059.7359562322326
2.2434314007610165

           index    ped    rms  f1  f2
173600  187041.0 -999.0 -999.0   0   1
173601  187042.0 -999.0 -999.0   0   1
173602  187043.0 -999.0 -999.0   0   1
173603  187044.0 -999.0 -999.0   0   1
173604  187045.0 -999.0 -999.0   0   1
...          ...    ...    ...  ..  ..
174044  187485.0 -999.0 -999.0   0   1
174045  187486.0 -999.0 -999.0   0   1
174046  187487.0 -999.0 -999.0   0   1
174047  187488.0 -999.0 -999.0   0   1
181312  190913.0 -999.0 -999.0   0   1

[289 rows x 5 columns]

In [56]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped9)
    rms.append(avg_rms9)
    f1.append(0)
    f2.append(0)
len(a)

289

In [57]:
dataset = zip(a,ped,rms,f1,f2)
with open('ped_avg9.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [58]:
af = df[df['index']>209089]
hf = af[af['index']<217728]
ig = hf[hf['ped']>1000]
im = ig[ig['ped']<1300]
im

           index          ped       rms  f1  f2
217729  209090.0  1122.017669  2.100360   0   0
217730  209091.0  1127.192537  2.087690   0   0
217731  209092.0  1133.243518  2.103962   0   0
217732  209093.0  1137.372090  2.111386   0   0
217733  209094.0  1129.456836  2.159740   0   0
...          ...          ...       ...  ..  ..
234042  217723.0  1056.028295  2.204299   0   0
234043  217724.0  1056.276084  2.210913   0   0
234044  217725.0  1049.006974  2.210252   0   0
234045  217726.0  1045.097661  2.194901   0   0
234046  217727.0  1055.805585  2.227260   0   0

[8001 rows x 5 columns]

In [59]:
avg_ped10 = im['ped'].mean()
print(avg_ped10)
avg_rms10 = im['rms'].mean()
print(avg_rms10)
hf = hf[hf['ped']<0]
hf

1055.6532925056867
2.2123424429446317

           index    ped    rms  f1  f2
220128  210529.0 -999.0 -999.0   0   1
227824  214385.0 -999.0 -999.0   0   1
227825  214386.0 -999.0 -999.0   0   1
227826  214387.0 -999.0 -999.0   0   1
227827  214388.0 -999.0 -999.0   0   1
...          ...    ...    ...  ..  ..
233067  217228.0 -999.0 -999.0   0   1
233068  217229.0 -999.0 -999.0   0   1
233069  217230.0 -999.0 -999.0   0   1
233070  217231.0 -999.0 -999.0   0   1
233071  217232.0 -999.0 -999.0   0   1

[481 rows x 5 columns]

In [60]:
a = []
ped = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    ped.append(avg_ped10)
    rms.append(avg_rms10)
    f1.append(0)
    f2.append(0)
len(a)

481

In [61]:
dataset = zip(a,ped,rms,f1,f2)
with open('ped_avg10.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [62]:

df

           index          ped       rms  f1  f2
0       108865.0  1018.715911  2.290669   0   0
1       108866.0  1009.250518  2.302355   0   0
2       108867.0  1004.612804  2.274921   0   0
3       108868.0  1020.799974  2.275128   0   0
4       108869.0  1012.529874  2.303971   0   0
...          ...          ...       ...  ..  ..
273019  268412.0  1044.904837  2.178925   0   0
273020  268413.0  1044.904837  2.178925   0   0
273021  268414.0  1044.904837  2.178925   0   0
273022  268415.0  1044.904837  2.178925   0   0
273023  268416.0  1044.904837  2.178925   0   0

[273024 rows x 5 columns]

In [63]:
lf = df[df['ped']>=0]
lf

           index          ped       rms  f1  f2
0       108865.0  1018.715911  2.290669   0   0
1       108866.0  1009.250518  2.302355   0   0
2       108867.0  1004.612804  2.274921   0   0
3       108868.0  1020.799974  2.275128   0   0
4       108869.0  1012.529874  2.303971   0   0
...          ...          ...       ...  ..  ..
273019  268412.0  1044.904837  2.178925   0   0
273020  268413.0  1044.904837  2.178925   0   0
273021  268414.0  1044.904837  2.178925   0   0
273022  268415.0  1044.904837  2.178925   0   0
273023  268416.0  1044.904837  2.178925   0   0

[270226 rows x 5 columns]

In [64]:
index_all = []
ped_all =[]
rms_all =[]
f1_all = []
f2_all = []
for i in lf['index'] :
    index_all.append(i)
for i in lf['ped'] :
    ped_all.append(i)
for i in lf['rms'] :
    rms_all.append(i)
for i in lf['f1'] :
    f1_all.append(i)
for i in lf['f2'] :
    f2_all.append(i)

In [65]:
print(len(index_all))
print(len(ped_all))

270226
270226

In [66]:
dataset_all = zip(index_all,ped_all,rms_all,f1_all,f2_all)

In [67]:
with open('ped_all.txt', 'a') as fp:
    for row in dataset_all :
        fp.write(" ".join(map(str, row)) + "\n")

In [68]:
new_values = []
with open("ped_all.txt", "r") as values_file:
    for line in values_file:
        value = line.strip() 
        new_values.append(value)

with open("ped_avg.txt", "r") as values_file_1:
    for line in values_file_1:
        value_1 = line.strip() 
        new_values.append(value_1)

with open("ped_avg1.txt", "r") as values_file_2:
    for line in values_file_2:
        value_2 = line.strip() 
        new_values.append(value_2)

with open("ped_avg2.txt", "r") as values_file_3:
    for line in values_file_3:
        value_3 = line.strip() 
        new_values.append(value_3)

with open("ped_avg3.txt", "r") as values_file_4:
    for line in values_file_4:
        value_4 = line.strip() 
        new_values.append(value_4)

with open("ped_avg4.txt", "r") as values_file_5:
    for line in values_file_5:
        value_5 = line.strip() 
        new_values.append(value_5)

with open("ped_avg5.txt", "r") as values_file_6:
    for line in values_file_6:
        value_6 = line.strip() 
        new_values.append(value_6)


with open("ped_avg6.txt", "r") as values_file_7:
    for line in values_file_7:
        value_7 = line.strip() 
        new_values.append(value_7)

with open("ped_avg7.txt", "r") as values_file_8:
    for line in values_file_8:
        value_8 = line.strip() 
        new_values.append(value_8)

with open("ped_avg8.txt", "r") as values_file_9:
    for line in values_file_9:
        value_9 = line.strip() 
        new_values.append(value_9)

with open("ped_avg9.txt", "r") as values_file_10:
    for line in values_file_10:
        value_10 = line.strip() 
        new_values.append(value_10)

with open("ped_avg10.txt", "r") as values_file_11:
    for line in values_file_11:
        value_11 = line.strip() 
        new_values.append(value_11)

with open("New_pedestal_good.dat", "a") as data_file:
    # Append the new values to the data file
    for value in new_values:
        data_file.write(value + "\n")

In [1]:
from sys import argv
import numpy as np
import pandas as pd
from numpy import *

In [2]:
df = pd.read_csv('New_Gain.dat', sep=' ', header=None, names=['index','gain', 'inter','rms', 'f1', 'f2'])

In [3]:
df

           index      gain     inter       rms  f1  f2
0       108865.0  8.540256  5.490252  0.980901   0   0
1       108866.0  8.739351  4.023448  0.958555   0   0
2       108867.0  8.551588  2.596580  0.979601   0   0
3       108868.0  8.580551  2.387152  0.976295   0   0
4       108869.0  8.643155  2.946780  0.969223   0   0
...          ...       ...       ...       ...  ..  ..
273019  159164.0  7.753063  4.245748  1.000000   0   0
273020  159165.0  7.753063  4.245748  1.000000   0   0
273021  159166.0  7.753063  4.245748  1.000000   0   0
273022  159167.0  7.753063  4.245748  1.000000   0   0
273023  159168.0  7.753063  4.245748  1.000000   0   0

[273024 rows x 6 columns]

In [4]:
lf = df[df['gain']>=0]
lf

           index      gain     inter       rms  f1  f2
0       108865.0  8.540256  5.490252  0.980901   0   0
1       108866.0  8.739351  4.023448  0.958555   0   0
2       108867.0  8.551588  2.596580  0.979601   0   0
3       108868.0  8.580551  2.387152  0.976295   0   0
4       108869.0  8.643155  2.946780  0.969223   0   0
...          ...       ...       ...       ...  ..  ..
273019  159164.0  7.753063  4.245748  1.000000   0   0
273020  159165.0  7.753063  4.245748  1.000000   0   0
273021  159166.0  7.753063  4.245748  1.000000   0   0
273022  159167.0  7.753063  4.245748  1.000000   0   0
273023  159168.0  7.753063  4.245748  1.000000   0   0

[272324 rows x 6 columns]

In [5]:
gf = df[df['gain']<0]
gf

           index        gain       inter  rms  f1  f2
61975    20600.0 -999.000000 -999.000000 -1.0   0   1
72577    25922.0 -999.000000  999.000000 -1.0   0   1
72578    25923.0 -999.000000  999.000000 -1.0   0   1
72579    25924.0 -999.000000  999.000000 -1.0   0   1
72580    25925.0 -999.000000  999.000000 -1.0   0   1
...          ...         ...         ...  ...  ..  ..
262425  247930.0   -0.000555    0.287672 -1.0   0   1
262426  247931.0   -0.002815    0.650438 -1.0   0   1
262427  247932.0 -999.000000  999.000000 -1.0   0   1
262429  247934.0   -0.000101    0.999633 -1.0   0   1
262430  247935.0 -999.000000 -999.000000 -1.0   0   1

[700 rows x 6 columns]

In [6]:
me1_1 = []
me1_2 = []
me1_3 = []
me2_1 = []
me2_2 = []
me3_1 = []
me3_2 = []
me4_1 = []
me4_2 = []
mem1_1 = []
mem1_2 = []
mem1_3 = []
mem2_1 = []
mem2_2 = []
mem3_1 = []
mem3_2 = []
mem4_1 = []
mem4_2 = []
for i in gf['index'] :
    if i>0 and i<=17280 :
        me1_1.append(i)
    if i>=17281 and i<=34560 :
        me1_2.append(i)
    if i>=34561 and i<=48384 :
        me1_3.append(i)
    if i>=48385 and i<=57024 :
        me2_1.append(i)
    if i>=57025 and i<=74304 :
        me2_2.append(i)
    if i>=74305 and i<=82944 :
        me3_1.append(i)
    if i>=82945 and i<=100224 :
        me3_2.append(i)
    if i>=100225 and i<=108864 :
        me4_1.append(i)
    if i>=108865 and i<=126144 :
        mem1_1.append(i)
    if i>=126145 and i<=143424 :
        mem1_2.append(i)
    if i>=143425 and i<=157248 :
        mem1_3.append(i)
    if i>=157249 and i<=165888 :
        mem2_1.append(i)
    if i>=165889 and i<=183168 :
        mem2_2.append(i)
    if i>=183169 and i<=191808 :
        mem3_1.append(i)
    if i>=191809 and i<=209088 :
        mem3_2.append(i)
    if i>=209089 and i<=217728 :
        mem4_1.append(i)
    if i>=217729 and i<=235008 :
        me4_2.append(i)
    if i>=235009 and i<=252288 :
        mem4_2.append(i)

In [7]:
print(len(me1_1))
print(len(me1_2))
print(len(me1_3))
print(len(me2_1))
print(len(me2_2))
print(len(me3_1))
print(len(me3_2))
print(len(me4_1))
print(len(me4_2))
print(len(mem1_1))
print(len(mem1_2))
print(len(mem1_3))
print(len(mem2_1))
print(len(mem2_2))
print(len(mem3_1))
print(len(mem3_2))
print(len(mem4_1))
print(len(mem4_2))

0
53
0
0
96
0
0
183
96
0
233
0
0
0
1
0
1
37

In [8]:
sum = len(me1_1)+len(me1_2)+len(me1_3)+len(me2_1)+len(me2_2)+len(me3_1)+len(me3_2)+len(me4_1)+len(me4_2)+len(mem1_1)+len(mem1_2)+len(mem1_3)+len(mem2_1)+len(mem2_2)+len(mem3_1)+len(mem3_2)+len(mem4_1)+len(mem4_2)
sum

700

In [9]:
af = df[df['index']>17280]
hf = af[af['index']<34560]
ig = hf[hf['gain']>=6]
im = ig[ig['gain']<=11]
im

          index       gain     inter       rms  f1  f2
55776   17281.0   8.570100  3.750492  0.979879   0   0
55777   17282.0   8.486102  4.092170  0.989578   0   0
55778   17283.0   8.533295  3.865621  0.984106   0   0
55779   17284.0   8.571827  2.944702  0.979682   0   0
55780   17285.0   8.570589  4.062422  0.979823   0   0
...         ...        ...       ...       ...  ..  ..
272059  22076.0  10.787872  7.490850  0.995017   0   0
272060  22077.0  10.787872  7.490850  0.995017   0   0
272061  22078.0  10.787872  7.490850  0.995017   0   0
272062  22079.0  10.787872  7.490850  0.995017   0   0
272063  22080.0  10.787872  7.490850  0.995017   0   0

[16894 rows x 6 columns]

In [10]:
avg_gain = im['gain'].mean()
print(avg_gain)
avg_int = im['inter'].mean()
print(avg_int)
avg_rms = im['rms'].mean()
print(avg_rms)
hf = hf[hf['gain']<0]
len(hf)

8.389722832710051
5.084663612551602
0.999858705491371

53

In [12]:
a = []
gain = []
inter = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    gain.append(avg_gain)
    inter.append(avg_int)
    rms.append(avg_rms)
    f1.append(0)
    f2.append(0)
len(a)

53

In [13]:
dataset = zip(a,gain,inter,rms,f1,f2)

In [14]:
with open('gain_avg.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [15]:
af = df[df['index']>57025]
hf = af[af['index']<74304]
ig = hf[hf['gain']>=6]
im = ig[ig['gain']<=11]
im

          index      gain     inter       rms  f1  f2
134305  57026.0  7.487700  3.079926  0.994387   0   0
134306  57027.0  7.593921  3.955077  0.980477   0   0
134307  57028.0  7.558275  3.483233  0.985102   0   0
134308  57029.0  7.560807  2.812568  0.984772   0   0
134309  57030.0  7.503695  3.321107  0.992267   0   0
...         ...       ...       ...       ...  ..  ..
168378  74299.0  7.365100  4.434880  1.027987   0   0
168379  74300.0  7.350161  6.228926  1.030077   0   0
168380  74301.0  7.356547  6.217310  1.029183   0   0
168381  74302.0  7.327196  8.255888  1.033305   0   0
168382  74303.0  7.244677  8.527721  1.045075   0   0

[17085 rows x 6 columns]

In [16]:
avg_gain = im['gain'].mean()
print(avg_gain)
avg_int = im['inter'].mean()
print(avg_int)
avg_rms = im['rms'].mean()
print(avg_rms)
hf = hf[hf['gain']<0]
len(hf)

7.47262602411472
8.405976362189055
0.9999967330406789

96

In [17]:
a = []
gain = []
inter = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    gain.append(avg_gain)
    inter.append(avg_int)
    rms.append(avg_rms)
    f1.append(0)
    f2.append(0)
len(a)

96

In [18]:
dataset1 = zip(a,gain,inter,rms,f1,f2)
with open('gain_avg1.txt', 'a') as fp:
    for row in dataset1 :
        fp.write(" ".join(map(str, row)) + "\n")

In [19]:
af = df[df['index']>100225]
hf = af[af['index']<108864]
ig = hf[hf['gain']>=6]
im = ig[ig['gain']<=11]
print(len(im))
avg_gain = im['gain'].mean()
print(avg_gain)
avg_int = im['inter'].mean()
print(avg_int)
avg_rms = im['rms'].mean()
print(avg_rms)
hf = hf[hf['gain']<0]
print(len(hf))

7180
7.796937557838733
5.779894936180639
0.998942972108218
183

In [20]:
a = []
gain = []
inter = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    gain.append(avg_gain)
    inter.append(avg_int)
    rms.append(avg_rms)
    f1.append(0)
    f2.append(0)
len(a)

183

In [21]:
dataset2 = zip(a,gain,inter,rms,f1,f2)
with open('gain_avg2.txt', 'a') as fp:
    for row in dataset2 :
        fp.write(" ".join(map(str, row)) + "\n")

In [22]:
af = df[df['index']>217729]
hf = af[af['index']<235008]
ig = hf[hf['gain']>=6]
im = ig[ig['gain']<=11]
print(len(im))
avg_gain = im['gain'].mean()
print(avg_gain)
avg_int = im['inter'].mean()
print(avg_int)
avg_rms = im['rms'].mean()
print(avg_rms)
hf = hf[hf['gain']<0]
print(len(hf))

16990
7.5928235746909944
8.836641019894055
0.9999943668040023
96

In [23]:
a = []
gain = []
inter = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    gain.append(avg_gain)
    inter.append(avg_int)
    rms.append(avg_rms)
    f1.append(0)
    f2.append(0)
len(a)

96

In [24]:
dataset3 = zip(a,gain,inter,rms,f1,f2)
with open('gain_avg3.txt', 'a') as fp:
    for row in dataset3 :
        fp.write(" ".join(map(str, row)) + "\n")

In [25]:
af = df[df['index']>126145]
hf = af[af['index']<143424]
ig = hf[hf['gain']>=6]
im = ig[ig['gain']<=11]
print(len(im))
avg_gain = im['gain'].mean()
print(avg_gain)
avg_int = im['inter'].mean()
print(avg_int)
avg_rms = im['rms'].mean()
print(avg_rms)
hf = hf[hf['gain']<0]
print(len(hf))

16894
8.32697677435776
4.367753797857227
0.9999956952764296
233

In [26]:
a = []
gain = []
inter = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    gain.append(avg_gain)
    inter.append(avg_int)
    rms.append(avg_rms)
    f1.append(0)
    f2.append(0)
len(a)

233

In [27]:
dataset4 = zip(a,gain,inter,rms,f1,f2)
with open('gain_avg4.txt', 'a') as fp:
    for row in dataset4 :
        fp.write(" ".join(map(str, row)) + "\n")

In [31]:
af = df[df['index']>183169]
hf = af[af['index']<191808]
ig = hf[hf['gain']>=6]
im = ig[ig['gain']<=11]
print(len(im))
avg_gain = im['gain'].mean()
print(avg_gain)
avg_int = im['inter'].mean()
print(avg_int)
avg_rms = im['rms'].mean()
print(avg_rms)
hf = hf[hf['gain']<0]
print(len(hf))

8253
7.8138844320853025
4.246109280867564
1.000000588513268
1

In [32]:
a = []
gain = []
inter = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    gain.append(avg_gain)
    inter.append(avg_int)
    rms.append(avg_rms)
    f1.append(0)
    f2.append(0)
len(a)
dataset5 = zip(a,gain,inter,rms,f1,f2)

In [34]:
af = df[df['index']>209089]
hf = af[af['index']<217728]
ig = hf[hf['gain']>=6]
im = ig[ig['gain']<=11]
print(len(im))
avg_gain = im['gain'].mean()
print(avg_gain)
avg_int = im['inter'].mean()
print(avg_int)
avg_rms = im['rms'].mean()
print(avg_rms)
hf = hf[hf['gain']<0]
print(len(hf))

8157
7.894206584160843
4.152236290547996
0.9999961511585141
1

In [35]:
a = []
gain = []
inter = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    gain.append(avg_gain)
    inter.append(avg_int)
    rms.append(avg_rms)
    f1.append(0)
    f2.append(0)
len(a)
dataset6 = zip(a,gain,inter,rms,f1,f2)

In [36]:
af = df[df['index']>235009]
hf = af[af['index']<252288]
ig = hf[hf['gain']>=6]
im = ig[ig['gain']<=11]
print(len(im))
avg_gain = im['gain'].mean()
print(avg_gain)
avg_int = im['inter'].mean()
print(avg_int)
avg_rms = im['rms'].mean()
print(avg_rms)
hf = hf[hf['gain']<0]
print(len(hf))

17089
7.6105293522733914
7.769973972496927
0.9985566212183276
37

In [37]:
a = []
gain = []
inter = []
rms = []
f1 = []
f2 = []
for i in hf['index'] :
    a.append(int(i))
    gain.append(avg_gain)
    inter.append(avg_int)
    rms.append(avg_rms)
    f1.append(0)
    f2.append(0)
len(a)
dataset7 = zip(a,gain,inter,rms,f1,f2)

In [38]:
with open('gain_avg5.txt', 'a') as fp:
    for row in dataset5 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset6 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset7 :
        fp.write(" ".join(map(str, row)) + "\n")

In [40]:
lf = df[df['gain']>=0]
lf

           index      gain     inter       rms  f1  f2
0       108865.0  8.540256  5.490252  0.980901   0   0
1       108866.0  8.739351  4.023448  0.958555   0   0
2       108867.0  8.551588  2.596580  0.979601   0   0
3       108868.0  8.580551  2.387152  0.976295   0   0
4       108869.0  8.643155  2.946780  0.969223   0   0
...          ...       ...       ...       ...  ..  ..
273019  159164.0  7.753063  4.245748  1.000000   0   0
273020  159165.0  7.753063  4.245748  1.000000   0   0
273021  159166.0  7.753063  4.245748  1.000000   0   0
273022  159167.0  7.753063  4.245748  1.000000   0   0
273023  159168.0  7.753063  4.245748  1.000000   0   0

[272324 rows x 6 columns]

In [41]:
index_all = []
gain_all =[]
int_all = []
rms_all =[]
f1_all = []
f2_all = []
for i in lf['index'] :
    index_all.append(i)
for i in lf['gain'] :
    gain_all.append(i)
for i in lf['inter'] :
    int_all.append(i)
for i in lf['rms'] :
    rms_all.append(i)
for i in lf['f1'] :
    f1_all.append(i)
for i in lf['f2'] :
    f2_all.append(i)

In [42]:
len(index_all)

272324

In [43]:
dataset_all = zip(index_all,gain_all,int_all,rms_all,f1_all,f2_all)

In [44]:
with open('gain_all.txt', 'a') as fp:
    for row in dataset_all :
        fp.write(" ".join(map(str, row)) + "\n")

In [45]:
new_values = []
with open("gain_all.txt", "r") as values_file:
    for line in values_file:
        value = line.strip() 
        new_values.append(value)

with open("gain_avg.txt", "r") as values_file_1:
    for line in values_file_1:
        value_1 = line.strip() 
        new_values.append(value_1)

with open("gain_avg1.txt", "r") as values_file_2:
    for line in values_file_2:
        value_2 = line.strip() 
        new_values.append(value_2)

with open("gain_avg2.txt", "r") as values_file_3:
    for line in values_file_3:
        value_3 = line.strip() 
        new_values.append(value_3)

with open("gain_avg3.txt", "r") as values_file_4:
    for line in values_file_4:
        value_4 = line.strip() 
        new_values.append(value_4)

with open("gain_avg4.txt", "r") as values_file_5:
    for line in values_file_5:
        value_5 = line.strip() 
        new_values.append(value_5)

with open("gain_avg5.txt", "r") as values_file_6:
    for line in values_file_6:
        value_6 = line.strip() 
        new_values.append(value_6)


with open("New_gain_good.dat", "a") as data_file:
    # Append the new values to the data file
    for value in new_values:
        data_file.write(value + "\n")

In [47]:
from sys import argv
import numpy as np
import pandas as pd
from numpy import *

In [55]:
df = pd.read_csv('New_noisematrix.dat', sep=' ', header=None, names=['index_nm1','33', '34', '35', '44', '45', '46', '55', '56', '57', '66', '67', '77', 'f1', 'f2'])

In [56]:
df

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
0,108865.0,5.227716,2.828354,5.226224,1.767466,2.812730,5.219547,1.809413,2.841624,5.208813,1.816317,2.813130,5.255563,0,0
1,108866.0,5.280881,2.896350,5.350379,1.817197,2.939324,5.333235,1.812296,2.834426,5.189270,1.818968,2.795547,5.255605,0,0
2,108867.0,5.153440,2.784071,5.157297,1.814917,2.840332,5.179817,1.820996,2.859595,5.232147,1.819579,2.898200,5.191514,0,0
3,108868.0,5.146689,2.854207,5.260122,1.814922,2.909410,5.186860,1.723100,2.860475,5.127716,1.784987,2.781404,5.125395,0,0
4,108869.0,5.238738,2.914809,5.356938,1.818739,2.975888,5.323455,1.822690,2.888353,5.185323,1.868275,2.946117,5.297040,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273019,268412.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0
273020,268413.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0
273021,268414.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0
273022,268415.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0
273023,268416.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0

In [57]:
gf = df[df['33']<0]
gf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
60439,20600.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
65344,23105.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
65345,23106.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
65346,23107.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
65347,23108.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240251,220572.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
240252,220573.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
240253,220574.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
240254,220575.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
240255,220576.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [59]:
me1_1 = []
me1_2 = []
me1_3 = []
me2_1 = []
me2_2 = []
me3_1 = []
me3_2 = []
me4_1 = []
me4_2 = []
mem1_1 = []
mem1_2 = []
mem1_3 = []
mem2_1 = []
mem2_2 = []
mem3_1 = []
mem3_2 = []
mem4_1 = []
mem4_2 = []
for i in gf['index_nm1'] :
    if i>0 and i<=17280 :
        me1_1.append(i)
    if i>=17281 and i<=34560 :
        me1_2.append(i)
    if i>=34561 and i<=48384 :
        me1_3.append(i)
    if i>=48385 and i<=57024 :
        me2_1.append(i)
    if i>=57025 and i<=74304 :
        me2_2.append(i)
    if i>=74305 and i<=82944 :
        me3_1.append(i)
    if i>=82945 and i<=100224 :
        me3_2.append(i)
    if i>=100225 and i<=108864 :
        me4_1.append(i)
    if i>=108865 and i<=126144 :
        mem1_1.append(i)
    if i>=126145 and i<=143424 :
        mem1_2.append(i)
    if i>=143425 and i<=157248 :
        mem1_3.append(i)
    if i>=157249 and i<=165888 :
        mem2_1.append(i)
    if i>=165889 and i<=183168 :
        mem2_2.append(i)
    if i>=183169 and i<=191808 :
        mem3_1.append(i)
    if i>=191809 and i<=209088 :
        mem3_2.append(i)
    if i>=209089 and i<=217728 :
        mem4_1.append(i)
    if i>=217729 and i<=235008 :
        me4_2.append(i)
    if i>=235009 and i<=252288 :
        mem4_2.append(i)

In [60]:
print(len(me1_1))
print(len(me1_2))
print(len(me1_3))
print(len(me2_1))
print(len(me2_2))
print(len(me3_1))
print(len(me3_2))
print(len(me4_1))
print(len(me4_2))
print(len(mem1_1))
print(len(mem1_2))
print(len(mem1_3))
print(len(mem2_1))
print(len(mem2_2))
print(len(mem3_1))
print(len(mem3_2))
print(len(mem4_1))
print(len(mem4_2))

0
289
96
4
192
0
0
871
192
0
192
0
96
96
289
0
481
0

In [61]:
sum = len(me1_1)+len(me1_2)+len(me1_3)+len(me2_1)+len(me2_2)+len(me3_1)+len(me3_2)+len(me4_1)+len(me4_2)+len(mem1_1)+len(mem1_2)+len(mem1_3)+len(mem2_1)+len(mem2_2)+len(mem3_1)+len(mem3_2)+len(mem4_1)+len(mem4_2)
sum

2798

In [68]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_33 = hf['33'].mean()
print(avg_33)

4.5301012489868

In [69]:
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_34 = hf['34'].mean()
print(avg_34)

1.4155828070449823

In [70]:
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_35 = hf['35'].mean()
print(avg_35)

4.056545460330804

In [72]:
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_44 = hf['44'].mean()
print(avg_44)

1.0123207703601005

In [74]:
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_45 = hf['45'].mean()
print(avg_45)

1.4162480739934462

In [75]:
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_46 = hf['46'].mean()
print(avg_46)

4.067703973610203

In [76]:
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_55 = hf['55'].mean()
print(avg_55)

1.0044830958092539

In [77]:
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_56 = hf['56'].mean()
print(avg_56)

1.4197813265951105

In [78]:
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_57 = hf['57'].mean()
print(avg_57)

4.083928202066801

In [79]:
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_66 = hf['66'].mean()
print(avg_66)

0.9852882938102216

In [80]:
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_67 = hf['67'].mean()
print(avg_67)

1.4248528867849166

In [81]:
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>17280]
hf = lf[lf['index_nm1']<34560]
avg_77 = hf['77'].mean()
print(avg_77)

4.0914394080637555

In [82]:
af = df[df['index_nm1']>17280]
hf = af[af['index_nm1']<34560]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
60439,20600.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
65344,23105.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
65345,23106.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
65346,23107.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
65347,23108.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83035,32156.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
83036,32157.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
83037,32158.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
83038,32159.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
83039,32160.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [87]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

289

In [88]:
dataset = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)

In [89]:
with open('noisematrix_avg.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")

In [91]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>34561]
hf = lf[lf['index_nm1']<48384]
avg_77 = hf['77'].mean()
print(avg_77)

4.531415417915362
1.2987268501295413
4.181048395270873
0.9502037723554911
1.301721487844975
4.203807683335781
0.9430670515114089
1.3097280422693818
4.221358024382187
0.9053917786227116
1.3169573428482693
4.232591610803755

In [92]:
af = df[df['index_nm1']>34561]
hf = af[af['index_nm1']<48384]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
95936,38433.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
95937,38434.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
95938,38435.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
95939,38436.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
95940,38437.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96267,38764.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
96268,38765.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
96269,38766.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
96270,38767.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
96271,38768.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [93]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

96

In [94]:
dataset1 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)

In [95]:
with open('noisematrix_avg1.txt', 'a') as fp:
    for row in dataset1 :
        fp.write(" ".join(map(str, row)) + "\n")

In [96]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>48385]
hf = lf[lf['index_nm1']<57024]
avg_77 = hf['77'].mean()
print(avg_77)

4.630115790180368
1.4748532097440408
4.327211366405371
1.0247112112464527
1.4775929362400744
4.346611546992482
1.01918736342684
1.4844412908949332
4.361345161193632
0.9876369615326561
1.489833507629179
4.369819145890492

In [97]:
af = df[df['index_nm1']>48385]
hf = af[af['index_nm1']<57024]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
122327,52344.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
122444,52461.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
122525,52542.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
122676,52693.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [98]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

4

In [100]:
dataset2 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg2.txt', 'a') as fp:
    for row in dataset2 :
        fp.write(" ".join(map(str, row)) + "\n")

In [102]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>57025]
hf = lf[lf['index_nm1']<74304]
avg_77 = hf['77'].mean()
print(avg_77)

5.109563541977837
1.507312823293876
4.841111912072767
1.0236008602421625
1.506354566076341
4.86399967301326
1.0175874288181646
1.5164593501622605
4.885466074567587
0.9848517906825269
1.5240915975319544
4.888981527505126

In [103]:
af = df[df['index_nm1']>57025]
hf = af[af['index_nm1']<74304]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
135648,58945.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
135649,58946.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
135650,58947.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
135651,58948.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
135652,58949.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149563,66140.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
149564,66141.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
149565,66142.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
149566,66143.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
149567,66144.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [104]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

192

In [105]:
dataset3 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg3.txt', 'a') as fp:
    for row in dataset3 :
        fp.write(" ".join(map(str, row)) + "\n")

In [106]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>100225]
hf = lf[lf['index_nm1']<108864]
avg_77 = hf['77'].mean()
print(avg_77)

5.284662428540978
1.6331370679048502
5.0866114063014365
1.0797330734563424
1.6304773904895964
5.106500268930762
1.075323294053518
1.6403481339412413
5.127016637075113
1.050417037081915
1.6472549002007786
5.12812221268938

In [107]:
af = df[df['index_nm1']>100225]
hf = af[af['index_nm1']<108864]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
220656,101713.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
220657,101714.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
220658,101715.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
220659,101716.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
220660,101717.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229691,106428.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
229692,106429.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
229693,106430.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
229694,106431.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
229695,106432.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [108]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

871

In [109]:
dataset4 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg4.txt', 'a') as fp:
    for row in dataset4 :
        fp.write(" ".join(map(str, row)) + "\n")

In [115]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>217729]
hf = lf[lf['index_nm1']<235008]
avg_77 = hf['77'].mean()
print(avg_77)

5.43003628348891
1.6645525893853066
5.274530159774619
1.1345626443874621
1.6681424649040675
5.291591829512625
1.1342264741556267
1.6695645534208978
5.291182934910087
1.1163538807068756
1.6728856593896282
5.30312101233838

In [116]:
af = df[df['index_nm1']>217729]
hf = af[af['index_nm1']<235008]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
235072,217793.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
235073,217794.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
235074,217795.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
235075,217796.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
235076,217797.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240251,220572.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
240252,220573.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
240253,220574.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
240254,220575.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
240255,220576.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [117]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

192

In [118]:
dataset5 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg5.txt', 'a') as fp:
    for row in dataset5 :
        fp.write(" ".join(map(str, row)) + "\n")

In [119]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>126145]
hf = lf[lf['index_nm1']<143424]
avg_77 = hf['77'].mean()
print(avg_77)

5.136818854655237
1.6139887983738936
4.879735356771431
1.1159909959635197
1.613385888831861
4.895141893761332
1.1126235014982662
1.6197201905415715
4.906706181211901
1.0940396038038724
1.6242983342130428
4.912097781247675

In [120]:
af = df[df['index_nm1']>126145]
hf = af[af['index_nm1']<143424]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
78240,138625.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
78241,138626.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
78242,138627.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
78243,138628.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
78244,138629.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84411,141916.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
84412,141917.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
84413,141918.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
84414,141919.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
84415,141920.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [121]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

192

In [122]:
dataset6 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg6.txt', 'a') as fp:
    for row in dataset6 :
        fp.write(" ".join(map(str, row)) + "\n")

In [123]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>157249]
hf = lf[lf['index_nm1']<165888]
avg_77 = hf['77'].mean()
print(avg_77)

5.082250524394398
1.605846916610451
4.8682571425618635
1.1002470508738387
1.6065756306983066
4.88321471561234
1.0999745331993827
1.6104512248724092
4.887469568402398
1.0804115566464418
1.6141498436541182
4.896527355940917

In [124]:
af = df[df['index_nm1']>157249]
hf = af[af['index_nm1']<165888]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
127488,163969.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
127489,163970.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
127490,163971.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
127491,163972.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
127492,163973.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127899,164380.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
127900,164381.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
127901,164382.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
127902,164383.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
127903,164384.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [125]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

96

In [126]:
dataset7 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg7.txt', 'a') as fp:
    for row in dataset7 :
        fp.write(" ".join(map(str, row)) + "\n")

In [127]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>165889]
hf = lf[lf['index_nm1']<183168]
avg_77 = hf['77'].mean()
print(avg_77)

5.245827151239415
1.6059906069842944
5.051243939264648
1.099216750210322
1.607325605660558
5.066849266058557
1.0991331838668672
1.6089735222054267
5.068020764134007
1.0798095425831535
1.613666200955756
5.078706740445624

In [128]:
af = df[df['index_nm1']>165889]
hf = af[af['index_nm1']<183168]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
133264,166865.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
133265,166866.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
133266,166867.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
133267,166868.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
133268,166869.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133675,167276.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
133676,167277.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
133677,167278.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
133678,167279.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
133679,167280.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [129]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

96

In [130]:
dataset8 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg8.txt', 'a') as fp:
    for row in dataset8 :
        fp.write(" ".join(map(str, row)) + "\n")

In [131]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>183169]
hf = lf[lf['index_nm1']<191808]
avg_77 = hf['77'].mean()
print(avg_77)

5.23661066920319
1.6412893097958907
5.05117046564174
1.111212457384778
1.6427643294293859
5.066075034272639
1.1112135533097354
1.644233908328188
5.066991780908703
1.0930758334515203
1.6483507074618264
5.076825974600442

In [132]:
af = df[df['index_nm1']>183169]
hf = af[af['index_nm1']<191808]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
173600,187041.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
173601,187042.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
173602,187043.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
173603,187044.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
173604,187045.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174044,187485.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
174045,187486.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
174046,187487.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
174047,187488.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
181312,190913.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [133]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

289

In [134]:
dataset9 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg9.txt', 'a') as fp:
    for row in dataset9 :
        fp.write(" ".join(map(str, row)) + "\n")

In [135]:
lf = df[df['33']>0]
lf = lf[lf['33']<30]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_33 = hf['33'].mean()
print(avg_33)
lf = df[df['34']>=-5]
lf = lf[lf['34']<=15]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_34 = hf['34'].mean()
print(avg_34)
lf = df[df['35']>=-5]
lf = lf[lf['35']<=25]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_35 = hf['35'].mean()
print(avg_35)
lf = df[df['44']>=0]
lf = lf[lf['44']<=30]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_44 = hf['44'].mean()
print(avg_44)
lf = df[df['45']>=-5]
lf = lf[lf['45']<=30]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_45 = hf['45'].mean()
print(avg_45)
lf = df[df['46']>=-5]
lf = lf[lf['46']<=30]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_46 = hf['46'].mean()
print(avg_46)
lf = df[df['55']>=0]
lf = lf[lf['55']<=30]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_55 = hf['55'].mean()
print(avg_55)
lf = df[df['56']>=-5]
lf = lf[lf['56']<=25]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_56 = hf['56'].mean()
print(avg_56)
lf = df[df['57']>=-5]
lf = lf[lf['57']<=30]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_57 = hf['57'].mean()
print(avg_57)
lf = df[df['66']>=0]
lf = lf[lf['66']<=25]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_66 = hf['66'].mean()
print(avg_66)
lf = df[df['67']>=-5]
lf = lf[lf['67']<=15]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_67 = hf['67'].mean()
print(avg_67)
lf = df[df['77']>=0]
lf = lf[lf['77']<=25]
af = lf[lf['index_nm1']>209089]
hf = lf[lf['index_nm1']<217728]
avg_77 = hf['77'].mean()
print(avg_77)

5.331289010406991
1.6669251708497308
5.170381975567929
1.1334915464053241
1.670875909699504
5.1849277011275
1.1333986432637166
1.6705702368363107
5.182574139585232
1.1162238100806454
1.6732954967605596
5.194593771926149

In [136]:
af = df[df['index_nm1']>209089]
hf = af[af['index_nm1']<217728]
hf = hf[hf['33']<0]
hf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
220128,210529.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
227824,214385.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
227825,214386.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
227826,214387.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
227827,214388.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233067,217228.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
233068,217229.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
233069,217230.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
233070,217231.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1
233071,217232.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,1

In [137]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in hf['index_nm1'] :
    a.append(int(i))
    nm_33.append(avg_33)
    nm_34.append(avg_34)
    nm_35.append(avg_35)
    nm_44.append(avg_44)
    nm_45.append(avg_45)
    nm_46.append(avg_46)
    nm_55.append(avg_55)
    nm_56.append(avg_56)
    nm_57.append(avg_57)
    nm_66.append(avg_66)
    nm_67.append(avg_67)
    nm_77.append(avg_77)
    f_1.append(0)
    f_2.append(0)
len(a)

481

In [138]:
dataset10 = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg10.txt', 'a') as fp:
    for row in dataset10 :
        fp.write(" ".join(map(str, row)) + "\n")

In [139]:
mf = df[df['33']>=0]
mf

,index_nm1,33,34,35,44,45,46,55,56,57,66,67,77,f1,f2
0,108865.0,5.227716,2.828354,5.226224,1.767466,2.812730,5.219547,1.809413,2.841624,5.208813,1.816317,2.813130,5.255563,0,0
1,108866.0,5.280881,2.896350,5.350379,1.817197,2.939324,5.333235,1.812296,2.834426,5.189270,1.818968,2.795547,5.255605,0,0
2,108867.0,5.153440,2.784071,5.157297,1.814917,2.840332,5.179817,1.820996,2.859595,5.232147,1.819579,2.898200,5.191514,0,0
3,108868.0,5.146689,2.854207,5.260122,1.814922,2.909410,5.186860,1.723100,2.860475,5.127716,1.784987,2.781404,5.125395,0,0
4,108869.0,5.238738,2.914809,5.356938,1.818739,2.975888,5.323455,1.822690,2.888353,5.185323,1.868275,2.946117,5.297040,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273019,268412.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0
273020,268413.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0
273021,268414.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0
273022,268415.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0
273023,268416.0,5.254148,1.690515,5.260960,1.302244,1.695157,5.276658,1.301812,1.694675,5.272375,1.282527,1.697828,5.424312,0,0

In [140]:
a = []
nm_33 = []
nm_34 = []
nm_35 = []
nm_44 = []
nm_45 = []
nm_46 = []
nm_55 = []
nm_56 = []
nm_57 = []
nm_66 = []
nm_67 = []
nm_77 = []
f_1 = []
f_2 = []
for i in mf['index_nm1'] :
    a.append(int(i))
for i in mf['33'] :    
    nm_33.append(i)
for i in mf['34'] :
    nm_34.append(i)
for i in mf['35'] :
    nm_35.append(i)
for i in mf['44'] :
    nm_44.append(i)
for i in mf['45'] :
    nm_45.append(i)
for i in mf['46'] :
    nm_46.append(i)
for i in mf['55'] :
    nm_55.append(i)
for i in mf['56'] :
    nm_56.append(i)
for i in mf['57'] :
    nm_57.append(i)
for i in mf['66'] :
    nm_66.append(i)
for i in mf['67'] :
    nm_67.append(i)
for i in mf['77'] :
    nm_77.append(i)
for i in mf['f1'] :
    f_1.append(i)
for i in mf['f2'] :
    f_2.append(i)
len(a)

270226

In [141]:
dataset_all = zip(a,nm_33,nm_34,nm_35,nm_44,nm_45,nm_46,nm_55,nm_56,nm_57,nm_66,nm_67,nm_77,f_1,f_2)
with open('noisematrix_avg_all.txt', 'a') as fp:
    for row in dataset_all :
        fp.write(" ".join(map(str, row)) + "\n")

In [142]:
new_values = []
with open("noisematrix_avg_all.txt", "r") as values_file:
    for line in values_file:
        value = line.strip()
        columns = value.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("noisematrix_avg.txt", "r") as values_file_1:
    for line in values_file_1:
        value = line.strip()
        columns = value.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)
        
with open("noisematrix_avg1.txt", "r") as values_file_2:
    for line in values_file_2:
        value1 = line.strip()
        columns = value1.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("noisematrix_avg2.txt", "r") as values_file_3:
    for line in values_file_3:
        value3 = line.strip()
        columns = value3.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)
        
with open("noisematrix_avg3.txt", "r") as values_file_4:
    for line in values_file_4:
        value4 = line.strip()
        columns = value4.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("noisematrix_avg4.txt", "r") as values_file_5:
    for line in values_file_5:
        value5 = line.strip()
        columns = value5.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("noisematrix_avg5.txt", "r") as values_file_6:
    for line in values_file_6:
        value6 = line.strip()
        columns = value6.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)


with open("noisematrix_avg6.txt", "r") as values_file_7:
    for line in values_file_7:
        value7 = line.strip()
        columns = value7.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("noisematrix_avg7.txt", "r") as values_file_8:
    for line in values_file_8:
        value8 = line.strip()
        columns = value8.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("noisematrix_avg8.txt", "r") as values_file_9:
    for line in values_file_9:
        value9 = line.strip()
        columns = value9.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("noisematrix_avg9.txt", "r") as values_file_10:
    for line in values_file_10:
        value10 = line.strip()
        columns = value10.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("noisematrix_avg10.txt", "r") as values_file_11:
    for line in values_file_11:
        value11 = line.strip()
        columns = value11.split()
        if len(columns) > 0:
            columns[1] = " " + columns[1]
        modified_line = " ".join(columns)
        new_values.append(modified_line)

with open("New_noisematrix_good.dat", "a") as data_file:
    # Append the new values to the data file
    for value in new_values:
        data_file.write(value + "\n")

In [1]:
from sys import argv
import numpy as np
import pandas as pd
from numpy import *

In [2]:
df = pd.read_csv('New_crosstalk.dat', sep=' ', header=None, names=['index','xl','intl','xr','intr','f1','f2'])

In [3]:
df

           index        xl      intl        xr      intr  f1  f2
0       108865.0  0.000000  0.000000 -0.000566  0.022292   0   0
1       108866.0 -0.000544  0.020252 -0.000584  0.022739   0   0
2       108867.0 -0.000589  0.023308 -0.000574  0.022932   0   0
3       108868.0 -0.000569  0.023139 -0.000546  0.022087   0   0
4       108869.0 -0.000548  0.022395 -0.000551  0.022517   0   0
...          ...       ...       ...       ...       ...  ..  ..
273019  159164.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273020  159165.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273021  159166.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273022  159167.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273023  159168.0 -0.000968  0.034460 -0.000968  0.034448   0   0

[273024 rows x 7 columns]

In [4]:
gf = df[df['xl']<-1]
gf

           index     xl   intl     xr   intr  f1  f2
4615    110312.0 -999.0 -999.0 -999.0 -999.0   0   1
4616    110313.0 -999.0 -999.0 -999.0 -999.0   0   1
4617    110314.0 -999.0 -999.0 -999.0 -999.0   0   1
4618    110315.0 -999.0 -999.0 -999.0 -999.0   0   1
4619    110316.0 -999.0 -999.0 -999.0 -999.0   0   1
...          ...    ...    ...    ...    ...  ..  ..
262427  247932.0 -999.0 -999.0 -999.0 -999.0   0   1
262428  247933.0 -999.0 -999.0 -999.0 -999.0   0   1
262429  247934.0 -999.0 -999.0 -999.0 -999.0   0   1
262430  247935.0 -999.0    0.0 -999.0    0.0   0   1
262431  247936.0 -999.0    0.0 -999.0 -999.0   0   1

[7285 rows x 7 columns]

In [5]:
me1_1 = []
me1_2 = []
me1_3 = []
me2_1 = []
me2_2 = []
me3_1 = []
me3_2 = []
me4_1 = []
me4_2 = []
mem1_1 = []
mem1_2 = []
mem1_3 = []
mem2_1 = []
mem2_2 = []
mem3_1 = []
mem3_2 = []
mem4_1 = []
mem4_2 = []
me1_4 = []
for i in gf['index'] :
    if i>0 and i<=17280 :
        me1_1.append(i)
    if i>=17281 and i<=34560 :
        me1_2.append(i)
    if i>=34561 and i<=48384 :
        me1_3.append(i)
    if i>=48385 and i<=57024 :
        me2_1.append(i)
    if i>=57025 and i<=74304 :
        me2_2.append(i)
    if i>=74305 and i<=82944 :
        me3_1.append(i)
    if i>=82945 and i<=100224 :
        me3_2.append(i)
    if i>=100225 and i<=108864 :
        me4_1.append(i)
    if i>=108865 and i<=126144 :
        mem1_1.append(i)
    if i>=126145 and i<=143424 :
        mem1_2.append(i)
    if i>=143425 and i<=157248 :
        mem1_3.append(i)
    if i>=157249 and i<=165888 :
        mem2_1.append(i)
    if i>=165889 and i<=183168 :
        mem2_2.append(i)
    if i>=183169 and i<=191808 :
        mem3_1.append(i)
    if i>=191809 and i<=209088 :
        mem3_2.append(i)
    if i>=209089 and i<=217728 :
        mem4_1.append(i)
    if i>=217729 and i<=235008 :
        me4_2.append(i)
    if i>=235009 and i<=252288 :
        mem4_2.append(i)
    if i>=252289 and i<=273024 :
        me1_4.append(i)

In [6]:
print(len(me1_1))
print(len(me1_2))
print(len(me1_3))
print(len(me2_1))
print(len(me2_2))
print(len(me3_1))
print(len(me3_2))
print(len(me4_1))
print(len(me4_2))
print(len(mem1_1))
print(len(mem1_2))
print(len(mem1_3))
print(len(mem2_1))
print(len(mem2_2))
print(len(mem3_1))
print(len(mem3_2))
print(len(mem4_1))
print(len(mem4_2))
print(len(me1_4))

0
373
102
384
193
1
1
1532
198
984
338
144
582
467
392
271
487
95
741

In [7]:
sum = len(me1_1)+len(me1_2)+len(me1_3)+len(me2_1)+len(me2_2)+len(me3_1)+len(me3_2)+len(me4_1)+len(me4_2)+len(mem1_1)+len(mem1_2)+len(mem1_3)+len(mem2_1)+len(mem2_2)+len(mem3_1)+len(mem3_2)+len(mem4_1)+len(mem4_2)+len(me1_4)
sum

7285

In [8]:
lf = df[df['xl']>-1]
lf = lf[lf['intl']>-1]
lf = lf[lf['xr']>-1]
lf = lf[lf['intr']>-1]
lf

           index        xl      intl        xr      intr  f1  f2
0       108865.0  0.000000  0.000000 -0.000566  0.022292   0   0
1       108866.0 -0.000544  0.020252 -0.000584  0.022739   0   0
2       108867.0 -0.000589  0.023308 -0.000574  0.022932   0   0
3       108868.0 -0.000569  0.023139 -0.000546  0.022087   0   0
4       108869.0 -0.000548  0.022395 -0.000551  0.022517   0   0
...          ...       ...       ...       ...       ...  ..  ..
273019  159164.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273020  159165.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273021  159166.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273022  159167.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273023  159168.0 -0.000968  0.034460 -0.000968  0.034448   0   0

[265536 rows x 7 columns]

In [9]:
af = lf[lf['index']>17280]
hf = af[af['index']<34560]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)

-0.0008971266217471035
0.035851110647131264
-0.0008990781542183756
0.03572173506048196

In [10]:
af = df[df['index']>17280]
hf = af[af['index']<34560]
gf = hf[hf['xl']<-1]
gf

         index     xl   intl          xr        intr  f1  f2
61975  20600.0 -999.0    0.0 -999.000000    0.000000   0   1
61976  20601.0 -999.0    0.0   -0.000917    0.038649   0   1
66880  23105.0 -999.0 -999.0 -999.000000 -999.000000   0   1
66881  23106.0 -999.0 -999.0 -999.000000 -999.000000   0   1
66882  23107.0 -999.0 -999.0 -999.000000 -999.000000   0   1
...        ...    ...    ...         ...         ...  ..  ..
84571  32156.0 -999.0 -999.0 -999.000000 -999.000000   0   1
84572  32157.0 -999.0 -999.0 -999.000000 -999.000000   0   1
84573  32158.0 -999.0 -999.0 -999.000000 -999.000000   0   1
84574  32159.0 -999.0 -999.0 -999.000000 -999.000000   0   1
84575  32160.0 -999.0 -999.0 -999.000000 -999.000000   0   1

[373 rows x 7 columns]

In [11]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
len(a)

373

In [12]:
dataset = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

In [13]:
af = lf[lf['index']>34561]
hf = af[af['index']<48384]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)

-0.0008165380072918185
0.03299337954644888
-0.0008181688373924457
0.03283757465363862

In [14]:
af = df[df['index']>34561]
hf = af[af['index']<48384]
gf = hf[hf['xl']<-1]
gf

         index     xl   intl          xr        intr  f1  f2
97472  38433.0 -999.0 -999.0 -999.000000 -999.000000   0   1
97473  38434.0 -999.0 -999.0 -999.000000 -999.000000   0   1
97474  38435.0 -999.0 -999.0 -999.000000 -999.000000   0   1
97475  38436.0 -999.0 -999.0 -999.000000 -999.000000   0   1
97476  38437.0 -999.0 -999.0 -999.000000 -999.000000   0   1
...        ...    ...    ...         ...         ...  ..  ..
97804  38765.0 -999.0 -999.0 -999.000000 -999.000000   0   1
97805  38766.0 -999.0 -999.0 -999.000000 -999.000000   0   1
97806  38767.0 -999.0 -999.0 -999.000000 -999.000000   0   1
97807  38768.0 -999.0 -999.0 -999.000000 -999.000000   0   1
97808  38769.0 -999.0    0.0   -0.000879    0.037405   0   1

[102 rows x 7 columns]

In [15]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
len(a)

102

In [16]:
dataset1 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

In [17]:
af = lf[lf['index']>48385]
hf = af[af['index']<57024]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)

-0.0009619509418252333
0.03378834624893952
-0.0009645994574112228
0.03378431771507696

In [18]:
af = df[df['index']>48385]
hf = af[af['index']<57024]
gf = hf[hf['xl']<-1]
gf

          index     xl   intl     xr   intr  f1  f2
124720  52241.0 -999.0 -999.0 -999.0 -999.0   0   1
124721  52242.0 -999.0 -999.0 -999.0 -999.0   0   1
124722  52243.0 -999.0 -999.0 -999.0 -999.0   0   1
124723  52244.0 -999.0 -999.0 -999.0 -999.0   0   1
124724  52245.0 -999.0 -999.0 -999.0 -999.0   0   1
...         ...    ...    ...    ...    ...  ..  ..
125179  52700.0 -999.0 -999.0 -999.0 -999.0   0   1
125180  52701.0 -999.0 -999.0 -999.0 -999.0   0   1
125181  52702.0 -999.0 -999.0 -999.0 -999.0   0   1
125182  52703.0 -999.0 -999.0 -999.0 -999.0   0   1
125183  52704.0 -999.0 -999.0 -999.0 -999.0   0   1

[384 rows x 7 columns]

In [19]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset2 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

384

In [20]:
af = lf[lf['index']>57025]
hf = af[af['index']<74304]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>57025]
hf = af[af['index']<74304]
gf = hf[hf['xl']<-1]
gf

-0.0013162028611094837
0.05212825490012302
-0.0013181913512975221
0.052021106291371334

          index     xl   intl     xr   intr  f1  f2
138145  58946.0 -999.0    0.0 -999.0    0.0   0   1
138146  58947.0 -999.0    0.0 -999.0    0.0   0   1
138147  58948.0 -999.0    0.0 -999.0    0.0   0   1
138148  58949.0 -999.0    0.0 -999.0    0.0   0   1
138149  58950.0 -999.0    0.0 -999.0    0.0   0   1
...         ...    ...    ...    ...    ...  ..  ..
152059  66140.0 -999.0 -999.0 -999.0 -999.0   0   1
152060  66141.0 -999.0 -999.0 -999.0 -999.0   0   1
152061  66142.0 -999.0 -999.0 -999.0 -999.0   0   1
152062  66143.0 -999.0 -999.0 -999.0 -999.0   0   1
152063  66144.0 -999.0 -999.0 -999.0 -999.0   0   1

[193 rows x 7 columns]

In [21]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset3 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

193

In [22]:
af = lf[lf['index']>74305]
hf = af[af['index']<82944]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>74305]
hf = af[af['index']<82944]
gf = hf[hf['xl']<-1]
gf

-0.0009063188951024661
0.03171970959824014
-0.0009100471946277643
0.03169066934120644

          index     xl      intl     xr      intr  f1  f2
171199  75680.0 -999.0  0.048102 -999.0  0.042445   0   1

In [23]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset4 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

1

In [24]:
af = lf[lf['index']>82945]
hf = af[af['index']<100224]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>82945]
hf = af[af['index']<100224]
gf = hf[hf['xl']<-1]
gf

-0.001320648298350408
0.052533262006714126
-0.0013231262515772412
0.052407959949065226

          index     xl      intl        xr      intr  f1  f2
192015  85936.0 -999.0  0.001863 -0.000031  0.001755   0   1

In [25]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset5 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

1

In [26]:
af = lf[lf['index']>100225]
hf = af[af['index']<108864]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>100225]
hf = af[af['index']<108864]
gf = hf[hf['xl']<-1]
gf

-0.0007979144516731135
0.029053038950220555
-0.000806796569404165
0.028926054589825598

           index     xl        intl          xr        intr  f1  f2
221713  100754.0 -999.0    0.111245   -0.000835    0.030128   0   1
221714  100755.0 -999.0    0.116030   -0.000856    0.034809   0   1
221715  100756.0 -999.0    0.100414   -0.000822    0.028539   0   1
221716  100757.0 -999.0    0.117794   -0.000808    0.033799   0   1
221717  100758.0 -999.0    0.107945   -0.000828    0.029129   0   1
...          ...    ...         ...         ...         ...  ..  ..
234091  107372.0 -999.0    0.000000 -999.000000    0.000000   0   1
234092  107373.0 -999.0    0.000000 -999.000000    0.000000   0   1
234093  107374.0 -999.0    0.000000 -999.000000    0.000000   0   1
234094  107375.0 -999.0 -999.000000 -999.000000 -999.000000   0   1
234095  107376.0 -999.0    0.000000 -999.000000 -999.000000   0   1

[1532 rows x 7 columns]

In [27]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset6 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

1532

In [28]:
af = lf[lf['index']>108865]
hf = af[af['index']<126144]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>108865]
hf = af[af['index']<126144]
gf = hf[hf['xl']<-1]
gf

-0.00041000556469035786
0.016080004168047626
-0.00041091471449088564
0.016023389705394953

          index     xl   intl     xr   intr  f1  f2
4615   110312.0 -999.0 -999.0 -999.0 -999.0   0   1
4616   110313.0 -999.0 -999.0 -999.0 -999.0   0   1
4617   110314.0 -999.0 -999.0 -999.0 -999.0   0   1
4618   110315.0 -999.0 -999.0 -999.0 -999.0   0   1
4619   110316.0 -999.0 -999.0 -999.0 -999.0   0   1
...         ...    ...    ...    ...    ...  ..  ..
29883  118444.0 -999.0 -999.0 -999.0 -999.0   0   1
29884  118445.0 -999.0 -999.0 -999.0 -999.0   0   1
29885  118446.0 -999.0 -999.0 -999.0 -999.0   0   1
29886  118447.0 -999.0 -999.0 -999.0 -999.0   0   1
29887  118448.0 -999.0 -999.0 -999.0 -999.0   0   1

[984 rows x 7 columns]

In [29]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset7 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

984

In [30]:
af = lf[lf['index']>126145]
hf = af[af['index']<143424]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>126145]
hf = af[af['index']<143424]
gf = hf[hf['xl']<-1]
gf

-0.0009002901531823021
0.03471652576008518
-0.000901960476818881
0.03453305104105051

          index     xl      intl          xr      intr  f1  f2
58225  127634.0 -999.0  0.154786   -0.000961  0.165516   0   1
58227  127636.0 -999.0  0.149249 -999.000000  0.151922   0   1
58228  127637.0 -999.0  0.148181 -999.000000  0.152956   0   1
58229  127638.0 -999.0  0.142962 -999.000000  0.153586   0   1
58230  127639.0 -999.0  0.142342 -999.000000  0.152671   0   1
...         ...    ...       ...         ...       ...  ..  ..
85948  141917.0 -999.0  0.000000 -999.000000  0.000000   0   1
85949  141918.0 -999.0  0.000000 -999.000000  0.000000   0   1
85950  141919.0 -999.0  0.000000 -999.000000  0.000000   0   1
85951  141920.0 -999.0  0.000000 -999.000000  0.000000   0   1
85952  141921.0 -999.0  0.000000   -0.000867  0.029289   0   1

[338 rows x 7 columns]

In [31]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset8 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

338

In [32]:
af = lf[lf['index']>143425]
hf = af[af['index']<157248]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>143425]
hf = af[af['index']<157248]
gf = hf[hf['xl']<-1]
gf

-0.0008169664455329726
0.03181726503143734
-0.0008193358412048545
0.03167368025515426

          index     xl   intl     xr   intr  f1  f2
91690  144587.0 -999.0 -999.0 -999.0 -999.0   0   1
91691  144588.0 -999.0 -999.0 -999.0 -999.0   0   1
91692  144589.0 -999.0 -999.0 -999.0 -999.0   0   1
91693  144590.0 -999.0 -999.0 -999.0 -999.0   0   1
91694  144591.0 -999.0 -999.0 -999.0 -999.0   0   1
...         ...    ...    ...    ...    ...  ..  ..
92059  144956.0 -999.0 -999.0 -999.0 -999.0   0   1
92060  144957.0 -999.0 -999.0 -999.0 -999.0   0   1
92061  144958.0 -999.0 -999.0 -999.0 -999.0   0   1
92062  144959.0 -999.0 -999.0 -999.0 -999.0   0   1
92063  144960.0 -999.0 -999.0 -999.0 -999.0   0   1

[144 rows x 7 columns]

In [33]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset9 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

144

In [34]:
af = lf[lf['index']>=157249]
hf = af[af['index']<=165888]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>=157249]
hf = af[af['index']<=165888]
gf = hf[hf['xl']<-1]
gf

-0.0009675293132752663
0.034074811144363615
-0.0009681814353233319
0.03403481559972252

           index     xl   intl         xr        intr  f1  f2
117024  157249.0 -999.0 -999.0 -999.00000 -999.000000   0   1
117025  157250.0 -999.0 -999.0 -999.00000 -999.000000   0   1
117026  157251.0 -999.0 -999.0 -999.00000 -999.000000   0   1
117027  157252.0 -999.0 -999.0 -999.00000 -999.000000   0   1
117028  157253.0 -999.0 -999.0 -999.00000 -999.000000   0   1
...          ...    ...    ...        ...         ...  ..  ..
130396  164381.0 -999.0 -999.0 -999.00000 -999.000000   0   1
130397  164382.0 -999.0 -999.0 -999.00000 -999.000000   0   1
130398  164383.0 -999.0 -999.0 -999.00000 -999.000000   0   1
130399  164384.0 -999.0 -999.0 -999.00000 -999.000000   0   1
130400  164385.0 -999.0    0.0   -0.00091    0.036941   0   1

[582 rows x 7 columns]

In [35]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset10 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

582

In [36]:
af = lf[lf['index']>=165889]
hf = af[af['index']<=183168]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>=165889]
hf = af[af['index']<=183168]
gf = hf[hf['xl']<-1]
gf

-0.0013380930630992793
0.052037804084330896
-0.001341272764635817
0.05192344974093265

           index     xl        intl     xr        intr  f1  f2
135760  166865.0 -999.0 -999.000000 -999.0 -999.000000   0   1
135761  166866.0 -999.0 -999.000000 -999.0 -999.000000   0   1
135762  166867.0 -999.0 -999.000000 -999.0 -999.000000   0   1
135763  166868.0 -999.0 -999.000000 -999.0 -999.000000   0   1
135764  166869.0 -999.0 -999.000000 -999.0 -999.000000   0   1
...          ...    ...         ...    ...         ...  ..  ..
153451  175916.0 -999.0    0.145217 -999.0    0.148989   0   1
153452  175917.0 -999.0    0.147556 -999.0    0.146267   0   1
153453  175918.0 -999.0    0.145292 -999.0    0.145887   0   1
153454  175919.0 -999.0    0.147553 -999.0    0.144405   0   1
153455  175920.0 -999.0    0.148423 -999.0    0.153191   0   1

[467 rows x 7 columns]

In [37]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset11 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

467

In [38]:
af = lf[lf['index']>=183169]
hf = af[af['index']<=191808]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>=183169]
hf = af[af['index']<=191808]
gf = hf[hf['xl']<-1]
gf

-0.0009079138604707595
0.03188955336083475
-0.0009110494669983015
0.03188721172385343

           index     xl        intl          xr        intr  f1  f2
176080  187025.0 -999.0 -999.000000 -999.000000 -999.000000   0   1
176081  187026.0 -999.0 -999.000000 -999.000000 -999.000000   0   1
176082  187027.0 -999.0 -999.000000 -999.000000 -999.000000   0   1
176083  187028.0 -999.0 -999.000000 -999.000000 -999.000000   0   1
176084  187029.0 -999.0 -999.000000 -999.000000 -999.000000   0   1
...          ...    ...         ...         ...         ...  ..  ..
177267  187732.0 -999.0 -999.000000 -999.000000 -999.000000   0   1
177347  187812.0 -999.0 -999.000000 -999.000000 -999.000000   0   1
177427  187892.0 -999.0 -999.000000 -999.000000 -999.000000   0   1
183808  190913.0 -999.0    0.073542 -999.000000    0.083358   0   1
183809  190914.0 -999.0    0.000000   -0.000985    0.036822   0   1

[392 rows x 7 columns]

In [39]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset12 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

392

In [40]:
af = lf[lf['index']>=191809]
hf = af[af['index']<=209088]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>=191809]
hf = af[af['index']<=209088]
gf = hf[hf['xl']<-1]
gf

-0.0013442391146519285
0.0519626297742239
-0.0013472610599923566
0.051859292710195196

           index     xl   intl     xr   intr  f1  f2
199567  198992.0 -999.0 -999.0 -999.0 -999.0   0   1
201991  199976.0 -999.0 -999.0 -999.0 -999.0   0   1
201992  199977.0 -999.0 -999.0 -999.0 -999.0   0   1
201993  199978.0 -999.0 -999.0 -999.0 -999.0   0   1
201994  199979.0 -999.0 -999.0 -999.0 -999.0   0   1
...          ...    ...    ...    ...    ...  ..  ..
202459  200444.0 -999.0 -999.0 -999.0 -999.0   0   1
202460  200445.0 -999.0 -999.0 -999.0 -999.0   0   1
202461  200446.0 -999.0 -999.0 -999.0 -999.0   0   1
202462  200447.0 -999.0 -999.0 -999.0 -999.0   0   1
202463  200448.0 -999.0 -999.0 -999.0 -999.0   0   1

[271 rows x 7 columns]

In [41]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset13 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

271

In [42]:
af = lf[lf['index']>=209089]
hf = af[af['index']<=217729]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>=209089]
hf = af[af['index']<=217729]
gf = hf[hf['xl']<-1]
gf

-0.000829855297874954
0.028484877435204524
-0.0008344067295172583
0.028392649195430535

           index     xl   intl          xr        intr  f1  f2
222625  210530.0 -999.0    0.0   -0.000768    0.024095   0   1
230320  214385.0 -999.0 -999.0 -999.000000 -999.000000   0   1
230321  214386.0 -999.0 -999.0 -999.000000 -999.000000   0   1
230322  214387.0 -999.0 -999.0 -999.000000 -999.000000   0   1
230323  214388.0 -999.0 -999.0 -999.000000 -999.000000   0   1
...          ...    ...    ...         ...         ...  ..  ..
235564  217229.0 -999.0 -999.0 -999.000000 -999.000000   0   1
235565  217230.0 -999.0 -999.0 -999.000000 -999.000000   0   1
235566  217231.0 -999.0 -999.0 -999.000000 -999.000000   0   1
235567  217232.0 -999.0 -999.0 -999.000000 -999.000000   0   1
235568  217233.0 -999.0    0.0   -0.000875    0.030405   0   1

[487 rows x 7 columns]

In [43]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset14 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

487

In [44]:
af = lf[lf['index']>=217730]
hf = af[af['index']<=235008]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>=217730]
hf = af[af['index']<=235008]
gf = hf[hf['xl']<-1]
gf

-0.001331746735016697
0.05366587605600796
-0.0013344881545491827
0.05355241840178101

           index     xl   intl          xr        intr  f1  f2
237568  217793.0 -999.0    0.0 -999.000000    0.000000   0   1
237569  217794.0 -999.0    0.0 -999.000000    0.000000   0   1
237570  217795.0 -999.0    0.0 -999.000000    0.000000   0   1
237571  217796.0 -999.0    0.0 -999.000000    0.000000   0   1
237572  217797.0 -999.0    0.0 -999.000000    0.000000   0   1
...          ...    ...    ...         ...         ...  ..  ..
242748  220573.0 -999.0 -999.0 -999.000000 -999.000000   0   1
242749  220574.0 -999.0 -999.0 -999.000000 -999.000000   0   1
242750  220575.0 -999.0 -999.0 -999.000000 -999.000000   0   1
242751  220576.0 -999.0 -999.0 -999.000000 -999.000000   0   1
242752  220577.0 -999.0    0.0   -0.001426    0.055182   0   1

[198 rows x 7 columns]

In [45]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset15 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

198

In [46]:
af = lf[lf['index']>=235009]
hf = af[af['index']<=252288]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>=235009]
hf = af[af['index']<=252288]
gf = hf[hf['xl']<-1]
gf

-0.0013355904510078064
0.052386442351159274
-0.001338438967319119
0.05224249995922173

           index     xl   intl     xr   intr  f1  f2
262016  247521.0 -999.0    0.0 -999.0    0.0   0   1
262017  247522.0 -999.0    0.0 -999.0    0.0   0   1
262018  247523.0 -999.0    0.0 -999.0    0.0   0   1
262019  247524.0 -999.0    0.0 -999.0    0.0   0   1
262020  247525.0 -999.0    0.0 -999.0    0.0   0   1
...          ...    ...    ...    ...    ...  ..  ..
262427  247932.0 -999.0 -999.0 -999.0 -999.0   0   1
262428  247933.0 -999.0 -999.0 -999.0 -999.0   0   1
262429  247934.0 -999.0 -999.0 -999.0 -999.0   0   1
262430  247935.0 -999.0    0.0 -999.0    0.0   0   1
262431  247936.0 -999.0    0.0 -999.0 -999.0   0   1

[95 rows x 7 columns]

In [47]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset16 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

95

In [48]:
af = lf[lf['index']>=252289]
hf = af[af['index']<=273024]
avg_xl = hf['xl'].mean()
print(avg_xl)
avg_intl = hf['intl'].mean()
print(avg_intl)
avg_xr = hf['xr'].mean()
print(avg_xr)
avg_intr = hf['intr'].mean()
print(avg_intr)
af = df[df['index']>=252289]
hf = af[af['index']<=273024]
gf = hf[hf['xl']<-1]
gf

-0.00023140586164465787
0.009387026830232093
-0.00023232167466986795
0.009317615188575431

          index     xl   intl         xr        intr  f1  f2
4695   263528.0 -999.0 -999.0 -999.00000 -999.000000   0   1
4696   263529.0 -999.0 -999.0 -999.00000 -999.000000   0   1
4697   263530.0 -999.0 -999.0 -999.00000 -999.000000   0   1
4698   263531.0 -999.0 -999.0 -999.00000 -999.000000   0   1
4699   263532.0 -999.0 -999.0 -999.00000 -999.000000   0   1
...         ...    ...    ...        ...         ...  ..  ..
29949  268414.0 -999.0 -999.0 -999.00000 -999.000000   0   1
29950  268415.0 -999.0 -999.0 -999.00000 -999.000000   0   1
29951  268416.0 -999.0 -999.0 -999.00000 -999.000000   0   1
32857  268906.0 -999.0 -999.0 -999.00000 -999.000000   0   1
32858  268907.0 -999.0 -999.0   -0.00031    0.011551   0   1

[741 rows x 7 columns]

In [49]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
    xl_1.append(avg_xl)
    intl_1.append(avg_intl)
    xr_1.append(avg_xr)
    intr_1.append(avg_intr)
    f_1.append(0)
    f_2.append(0)
print(len(a))
dataset17 = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

741

In [50]:
with open('crosstalk_avg.txt', 'a') as fp:
    for row in dataset :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset1 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset2 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset3 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset4 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset5 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset6 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset7 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset8 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset9 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset10 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset11 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset12 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset13 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset14 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset15 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset16 :
        fp.write(" ".join(map(str, row)) + "\n")
    for row in dataset17 :
        fp.write(" ".join(map(str, row)) + "\n")

In [51]:
gf = df[df['xl']>-1]
gf

           index        xl      intl        xr      intr  f1  f2
0       108865.0  0.000000  0.000000 -0.000566  0.022292   0   0
1       108866.0 -0.000544  0.020252 -0.000584  0.022739   0   0
2       108867.0 -0.000589  0.023308 -0.000574  0.022932   0   0
3       108868.0 -0.000569  0.023139 -0.000546  0.022087   0   0
4       108869.0 -0.000548  0.022395 -0.000551  0.022517   0   0
...          ...       ...       ...       ...       ...  ..  ..
273019  159164.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273020  159165.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273021  159166.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273022  159167.0 -0.000968  0.034460 -0.000968  0.034448   0   0
273023  159168.0 -0.000968  0.034460 -0.000968  0.034448   0   0

[265739 rows x 7 columns]

In [52]:
a = []
xl_1 = []
intl_1 = []
xr_1 = []
intr_1 = []
f_1 = []
f_2 = []
for i in gf['index'] :
    a.append(int(i))
for i in gf['xl'] :
    xl_1.append(i)
for i in gf['intl'] :
    intl_1.append(i)
for i in gf['xr'] :
    xr_1.append(i)
for i in gf['intr'] :
    intr_1.append(i)
for i in gf['f1'] :
    f_1.append(i)
for i in gf['f2'] :
    f_2.append(i)

dataset_all = zip(a,xl_1,intl_1,xr_1,intr_1,f_1,f_2)

In [53]:
with open('crosstalk_all.txt', 'a') as fp:
    for row in dataset_all :
        fp.write(" ".join(map(str, row)) + "\n")

In [54]:
new_values = []
with open("crosstalk_all.txt", "r") as values_file:
    for line in values_file:
        value = line.strip() 
        new_values.append(value)

with open("crosstalk_avg.txt", "r") as values_file_1:
    for line in values_file_1:
        value_1 = line.strip() 
        new_values.append(value_1)



with open("New_crosstalk_good.dat", "a") as data_file:
    # Append the new values to the data file
    for value in new_values:
        data_file.write(value + "\n")

In [55]:
from sys import argv
import numpy as np
import pandas as pd
from numpy import *

In [56]:
df = pd.read_csv('New_crosstalk_good.dat', sep=' ', header=None, names=['index','xl','intl','xr','intr','f1','f2'])

In [57]:
df

         index        xl      intl        xr      intr  f1  f2
0       108865  0.000000  0.000000 -0.000566  0.022292   0   0
1       108866 -0.000544  0.020252 -0.000584  0.022739   0   0
2       108867 -0.000589  0.023308 -0.000574  0.022932   0   0
3       108868 -0.000569  0.023139 -0.000546  0.022087   0   0
4       108869 -0.000548  0.022395 -0.000551  0.022517   0   0
...        ...       ...       ...       ...       ...  ..  ..
273019  268414 -0.000231  0.009387 -0.000232  0.009318   0   0
273020  268415 -0.000231  0.009387 -0.000232  0.009318   0   0
273021  268416 -0.000231  0.009387 -0.000232  0.009318   0   0
273022  268906 -0.000231  0.009387 -0.000232  0.009318   0   0
273023  268907 -0.000231  0.009387 -0.000232  0.009318   0   0

[273024 rows x 7 columns]

In [58]:
af = df[df['xr']<-5]
af

         index        xl        intl     xr        intr  f1  f2
26869   257312 -0.000006 -999.000000 -999.0 -999.000000   0   1
31133   268905 -0.000299    0.011895 -999.0    0.000044   0   1
56355    18625 -0.000016    0.000753 -999.0    0.000124   0   1
56500   127635 -0.000658    0.155936 -999.0    0.153859   0   1
56504   127648 -0.000067    0.151259 -999.0    0.111075   0   1
...        ...       ...         ...    ...         ...  ..  ..
257674  249024 -0.001615    0.049686 -999.0    0.061955   0   1
257754  249104 -0.001607    0.049861 -999.0    0.060508   0   1
257834  249184 -0.001627    0.050077 -999.0    0.058988   0   1
257914  249264 -0.001603    0.057103 -999.0    0.066944   0   1
257994  249344 -0.001574    0.047940 -999.0    0.055729   0   1

[169 rows x 7 columns]

In [59]:
af.to_csv('f2.txt', sep=' ', index=False)